<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="paddingSlide fattorini-btn" routerLink="/addaddress">
        Agregar
        <ion-icon slot="start" name="add-circle-outline" class="fattorini-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Direcciones</span>
          <div linespace></div>
          <span class="subtitle-home">Gestiona tus direcciones de entrega</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="address.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si el usuario no tiene direcciones guardadas, mostrar mensaje -->
  <div *ngIf="address.length === 0 && isLoader" class="no-result-content">
    <ion-icon class="tam" name="home-outline"></ion-icon>
    <p class="no-result">Tu lista de direcciones está vacía</p>
  </div>

  <div *ngIf="address.length > 0 && isLoader">
    <div style="margin-top: -10px;">
      <div *ngFor="let dir of address">
        <ion-card class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
          <ion-grid>
            <ion-row>
              <ion-col class="edit paddingSlide" size="2" [routerLink]="['/edit-address']"
              [queryParams]="{ id:dir._id}">
                <div>
                  <ion-icon class="tam2" name="create-outline"></ion-icon>
                </div>

              </ion-col>
              <ion-col size="10">
                <div class="contenedor">
                  <ion-label>
                    <div>
                      <span class="text-title-commerce">
                        {{ dir.sector }}, {{ dir.city }} - {{ dir.state }}
                      </span>
                      <br>
                      <span class="text-subtitle-commerce">
                        {{ dir.address }}
                      </span>
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button (click)="deleteAddress(dir._id)" size="small" fill="solid" expand="block" color="light" mode="ios">
                  <ion-label>
                    <span class="text-delete">
                      Eliminar
                    </span>
                  </ion-label>
                  <ion-icon class="delete" slot="start" name="trash-bin-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>