ion-toolbar {
    --background: white;
    --color: black
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
    --color: rgb(1, 9, 107);
}

.text-header-info {
    white-space: normal;
}

.fattorini-rating {
    color: rgb(255, 202, 34);
}

.ion-top {
    margin-top: -10px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.text-info-top {
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -8px;
}

.text-description-product {
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(128, 128, 128);
}

.text-name-product {
    font-size: 1.3em;
    font-weight: 500;
}

.banner {
    object-fit: cover !important;
}

ion-icon.tam {
    width: 23px;
    height: 23px;
}

.space-weight {
    margin-top: -1.9em;
    margin-bottom: 1em;
}

.text-info-title {
    font-size: .7em;
    font-weight: 500;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(1, 9, 107);
}

ion-label {
    white-space: normal !important;
}

.text-product-price {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(1, 9, 107);
}

.text-product-offer {
    font-size: 1.1em;
    font-weight: 400;
    color: #999;
    text-decoration: line-through !important;
}

.offerpercent {
    background-color: tomato;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
}

ion-button:focus {
    outline: none;
}

ion-card.card-info {
    box-shadow: 0 3px 16px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

ion-card.card-slide {
    box-shadow: none !important;
}

.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
}

.badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
}

.space {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

ion-item.item-product {
    margin-top: -15px;
    //margin-bottom: 0.3em;
}

ion-item.item-stock {
    margin-top: -0.625em;
    margin-bottom: -0.7em;
}

ion-item.item-product-price {
    margin-top: -0.625em;
    margin-bottom: 0.7em;
}

ion-list.item-options {
    margin-top: -1.3em;
    margin-bottom: 0.7em;
}

ion-col.right-side-col {
    text-align: right;
}

ion-list-header.title-options {
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f8f8f8;
}

.fondo {
    background-color: rgb(1, 9, 107);
}

.text-product-name {
    font-size: 1.1em;
    font-weight: 500;
    color: #222;
    text-align: left;
    margin-bottom: 0.5em;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-product-menu {
    text-align: left;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-product-iva {
    text-align: left;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-product-price-related {
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(1, 9, 107);
}

.text-product-offer {
    font-weight: 400;
    color: #999;
    font-size: 1.1em;
    text-decoration: line-through !important;
}

.title-related {
    font-weight: 500;
    color: white;
    font-size: 1.1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

ion-slides.no-bullets {
    --bullet-background: transparent;
    --bullet-background-active: transparent;
    margin-bottom: -0.938em; //15px
}

.count-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25em;
}

.vertical-center {
    align-items: center;
}

.number {
    font-weight: 500;
    color: #222;
}

.text-product-stock-d {
    font-size: 0.9em;
    font-weight: 500;
    color: #2dd36f;
}

.text-product-stock-nd {
    font-size: 0.9em;
    font-weight: 500;
    color: #eb445a;
}

.opacity-false {
    opacity: 0.5;
}

.vendor {
    font-size: 0.9em;
    font-weight: 400;
    color: #666;
}

.vendor-name {
    font-size: 0.9em;
    font-weight: 500;
    color: #01096b;
}

hr.line-hr {
    height: 1px;
    border-top: 1px solid #e4e4e4;
}

.top-vendor {
    margin-top: 10px;
}

ion-slides {
    height: 100%;
  }

ion-slides.bullet {
    --bullet-background: #999;
    --bullet-background-active: rgb(1, 9, 107);
    margin-bottom: -0.4em;
}

ion-slides.bullet-icon {
    --bullet-background: #999;
    --bullet-background-active: rgb(1, 9, 107);
}

ion-slides.no-bullets {
    --bullet-background: transparent;
    --bullet-background-active: transparent;
    margin-bottom: -0.938em; //15px
}

ion-slides.no-bullets-services {
    --bullet-background: transparent;
    --bullet-background-active: transparent;
    margin-top: -5px;
}