<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div *ngIf="quantity.length === 0 || quantity.total === 0">
        <ion-button class="badge-button paddingSlide" [routerLink]="['/cart']"
          [queryParams]="{ user:user, currency:currency }">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn-light"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="quantity.total > 0">
        <ion-button class="badge-button paddingSlide" [routerLink]="['/cart']"
          [queryParams]="{ user:user, currency:currency }">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn-light"></ion-icon>
          <ion-badge mode="ios" [class.badge-one]="quantity.total < 10" [class.badge-two]="quantity.total >= 10"
            color="danger">
            {{ quantity.total }}
          </ion-badge>
        </ion-button>
      </div>
    </ion-buttons>
    <ion-title>{{info.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Primera carga al entrar -->
  <div *ngIf="info.length === 0 && !isSkeleton">
    <ion-skeleton-text class="banner" animated style="height: 280px; width: 100%; margin-top: -1px;">
    </ion-skeleton-text>
    <ion-list>
      <ion-item lines="none">
        <ion-label>
          <ion-skeleton-text animated style="width: 70%; margin-left: 15px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <ion-skeleton-text animated style="width: 70%; margin-left: 15px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%; margin-left: 15px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%; margin-left: 15px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%; margin-left: 15px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%; margin-left: 15px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%; margin-left: 15px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <ion-skeleton-text animated style="width: 25%; margin-left: 15px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- Una vez cargado el componente y la data -->
  <div *ngIf="isSkeleton">
    <ion-list>
      <ion-item lines="none" class="banner">
        <ion-slides class="bullet" mode="ios" pager="ios" scrollbar="ios" [options]="slideP" show-pager="false">
          <ion-slide class="ion-top" *ngFor="let slide of info.picture">
            <ion-card mode="ios" class="card-slide">
              <ion-card-content class="ion-no-padding paddingSlide">
                <div *ngIf="info.stock_status">
                  <img [src]="slide">
                </div>
                <div *ngIf="!info.stock_status" class="opacity-false">
                  <img [src]="slide">
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <span class="text-name-product">
            {{info.name}}
          </span>
          <br>
          <div class="top-vendor">
            <span class="vendor">
              Vendido por:
            </span>
            <span class="vendor-name">
              {{info.commerce.name}}
            </span>
          </div>
          <hr class="line-hr">
        </ion-label>
      </ion-item>
      <ion-item *ngIf="info.description" lines="none" class="item-product">
        <ion-label>
          <span class="text-description-product">
            {{info.description}}
          </span>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="item-stock">
        <ion-label>
          <div *ngIf="info.stock_status">
            <div *ngIf="info.stock_quantity >= 1">
              <span class="text-product-stock-d">
                {{info.stock_quantity}} {{ info.stock_quantity > 1?'disponibles':'disponible' }}
              </span>
            </div>

            <div *ngIf="info.stock_quantity === 0">
              <span class="text-product-stock-nd">
                Agotado
              </span>
            </div>

            <div *ngIf="info.stock_quantity === -1">
              <span class="text-product-stock-d">
                Hay disponibilidad
              </span>
            </div>
          </div>

          <div *ngIf="!info.stock_status">
            <span class="text-product-stock-nd">
              No disponible
            </span>
          </div>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="info.pricebykg" lines="none">
        <ion-label *ngIf="currency === 'USD'">
          <span *ngIf="info.offer" class="text-description-product">
            <strong style="color: #222;">Precio por Kg:</strong>
            ${{ priceFormat(getOffer(info.price + info.calculated_iva, info.offerpercent)) }}
          </span>

          <span *ngIf="!info.offer" class="text-description-product">
            <strong style="color: #222;">Precio por Kg:</strong> ${{ priceFormat(info.price + info.calculated_iva) }}
          </span>
        </ion-label>

        <ion-label *ngIf="currency === 'Bs.S'">
          <span *ngIf="info.offer" class="text-description-product">
            <strong style="color: #222;">Precio por Kg:</strong> Bs.S
            {{ priceFormatTasa(getOffer(info.price + info.calculated_iva, info.offerpercent) * info.exchange_rate) }}
          </span>

          <span *ngIf="!info.offer" class="text-description-product">
            <strong style="color: #222;">Precio por Kg:</strong> Bs.S
            {{ priceFormatTasa(priceFormat(info.price + info.calculated_iva) * info.exchange_rate) }}
          </span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="item-product-price">
        <ion-label>
          <!-- Si el producto está en oferta -->
          <div *ngIf="info.offer">
            <div *ngIf="currency === 'USD'">
              <div *ngIf="info.pricebykg">
                <span class="text-product-offer">
                  <!-- Precio original -->
                  ${{ priceFormat((((info.price + info.calculated_iva)/1000) * rangeVal) + totalPrice) }}
                </span>
                <br>
                <span class="offerpercent">
                  {{ info.offerpercent }}%
                </span>
                <span class="text-product-price">
                  <!-- Precio con oferta -->
                  ${{ priceFormat(getOfferKg(info.price + info.calculated_iva, rangeVal, info.offerpercent, totalPrice)) }}
                </span>
              </div>
              <!-- ///////////////////////////////////// -->
              <!-- EN OFERTA Y NO ES UN PRODUCTO PESABLE -->
              <div *ngIf="!info.pricebykg">
                <span class="text-product-offer">
                  ${{ priceFormat(info.price + info.calculated_iva) }}
                </span>
                <br>
                <span class="offerpercent">
                  {{ info.offerpercent }}%
                </span>
                <span class="text-product-price">
                  <!-- Precio con oferta -->
                  ${{ priceFormat(((info.price + info.calculated_iva) - ((info.price + info.calculated_iva) * (info.offerpercent / 100))) + totalPrice) }}
                </span>
              </div>
            </div>
            <div *ngIf="currency === 'Bs.S'">
              <div *ngIf="info.pricebykg">
                <span class="text-product-offer">
                  <!-- Precio original -->
                  {{ _BS }}
                  {{ priceFormatTasa((priceFormat(((info.price + info.calculated_iva)/1000) * rangeVal) + totalPrice) * info.exchange_rate) }}
                </span>
                <br>
                <span class="offerpercent">
                  {{ info.offerpercent }}%
                </span>
                <span class="text-product-price">
                  {{ _BS }}
                  {{ priceFormatTasa(getOfferKg(info.price + info.calculated_iva, rangeVal, info.offerpercent, totalPrice) * info.exchange_rate) }}
                </span>
              </div>
              <div *ngIf="!info.pricebykg">
                <span class="text-product-offer">
                  {{ _BS }} {{ priceFormatTasa(priceFormat(info.price + info.calculated_iva) * info.exchange_rate) }}
                </span>
                <br>
                <span class="offerpercent">
                  {{ info.offerpercent }}%
                </span>
                <span class="text-product-price">
                  <!-- Precio con oferta -->
                  {{ _BS }}
                  {{ priceFormatTasa(((getOffer(priceFormat(info.price + info.calculated_iva), info.offerpercent)) + totalPrice) * info.exchange_rate) }}
                </span>
              </div>
            </div>
          </div>
          <!-- Si el producto no tiene oferta -->
          <div *ngIf="!info.offer">
            <div *ngIf="currency === 'USD'">
              <div *ngIf="info.pricebykg">
                <span class="text-product-price">
                  ${{ priceFormat((((info.price + info.calculated_iva)/1000) * rangeVal) + totalPrice) }}
                </span>
              </div>
              <div *ngIf="!info.pricebykg">
                <span class="text-product-price">
                  ${{ priceFormat(info.price + info.calculated_iva + totalPrice) }}
                </span>
              </div>
            </div>
            <div *ngIf="currency === 'Bs.S'">
              <div *ngIf="info.pricebykg">
                <span class="text-product-price">
                  {{ _BS }}
                  {{ priceFormatTasa(priceFormat((((info.price + info.calculated_iva)/1000) * rangeVal) + totalPrice) * info.exchange_rate) }}
                </span>
              </div>
              <div *ngIf="!info.pricebykg">
                <span class="text-product-price">
                  {{ _BS }}
                  {{ priceFormatTasa(priceFormat(info.price + info.calculated_iva + totalPrice) * info.exchange_rate) }}
                </span>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-list *ngIf="info.pricebykg" class="space-weight">
      <ion-list-header>
        <ion-label>¿Qué cantidad desea comprar?</ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label style="margin-top: -20px;">
          <span class="text-description-product">
            <strong style="color: #222;">Peso:</strong> {{ rangeVal }}gr ({{ rangeVal / 1000 }} Kg)
          </span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-range [(ngModel)]="rangeVal" [min]="info.grmin" [max]="info.grmax" step="50" value="1000" snaps="true"
          color="danger">
          <ion-icon class="tam" slot="start" src="../assets/img/product/weight.svg"></ion-icon>
          <ion-icon class="tam" slot="end" src="../assets/img/product/weight.svg"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          <div *ngIf="info.barcode != '' || info.barcode != '123456789'">
            <ngx-barcode [bc-value]="info.barcode" [bc-display-value]="true" [bc-height]="30"></ngx-barcode>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Si el producto tiene opciones adicionales -->
    <div *ngIf="listOptions.length > 0">
      <div *ngFor="let op of listOptions; let i = index;">
        <!-- Selección simple -->
        <div *ngIf="op.optiontype === '1'">
          <ion-list class="item-options">
            <ion-radio-group allow-empty-selection (ionChange)="radioGroupChange($event, i)">
              <ion-list-header class="title-options">{{op.name}}</ion-list-header>
              <ion-item *ngFor="let entry of op.options; let j = index;" lines="full">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-label>
                        <span class="text-description-product">
                          {{entry.name}}
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div *ngIf="currency === 'USD'">
                          <span class="text-description-product">
                            ${{priceFormat(entry.value)}}
                          </span>
                        </div>
                        <div *ngIf="currency === 'Bs.S'">
                          <span class="text-description-product">
                            {{ _BS }} {{ priceFormatTasa(priceFormat(entry.value) * info.exchange_rate) }}
                          </span>
                        </div>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-radio color="success" slot="start" [value]="j">
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <!-- Selección múltiple -->
        <div *ngIf="op.optiontype === '2'">
          <ion-list class="item-options">
            <ion-list-header class="title-options">{{op.name}}</ion-list-header>
            <ion-item *ngFor="let entry of op.options" lines="full">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>
                      <span class="text-description-product">
                        {{entry.name}}
                      </span>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6" class="right-side-col">
                    <ion-label>
                      <div *ngIf="currency === 'USD'">
                        <span class="text-description-product">
                          ${{priceFormat(entry.value)}}
                        </span>
                      </div>
                      <div *ngIf="currency === 'Bs.S'">
                        <span class="text-description-product">
                          {{ _BS }} {{ priceFormatTasa(priceFormat(entry.value) * info.exchange_rate) }}
                        </span>
                      </div>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-checkbox color="success" slot="start" [(ngModel)]="entry.isChecked"
                (ionChange)="getSelectedItem($event)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <!-- Relacionados de acuerdo al menú del producto -->
    <div class="fondo" *ngIf="related.length > 0">
      <div style="height: 1em;"></div>
      <div class="title-related">
        <ion-label>
          Otros productos en {{menuN.name}}
        </ion-label>
      </div>
      <ion-slides class="no-bullets" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let item of related">
          <ion-card mode="ios" class="radius-card-search paddingSlide">
            <img [src]="item.picture[0]" [routerLink]="['/detail-product', item._id, idSelectedCommerce, item.menu._id]"
              [queryParams]="{ hour:hour, user:user, currency:currency }" class="paddingSlide" />
            <ion-card-header [routerLink]="['/detail-product', item._id, idSelectedCommerce, item.menu._id]"
              [queryParams]="{ hour:hour, user:user }" class="paddingSlide">
              <ion-card-subtitle class="text-product-menu">{{item.menu.name}}</ion-card-subtitle>
              <ion-card-title [innerHTML]="item.name" class="text-product-name"></ion-card-title>
              <ion-label style="text-align: left;">

                <div *ngIf="currency === 'USD'">
                  <!-- PRODUCTO EN OFERTA -->
                  <div *ngIf="item.offer">
                    <!-- Precio original -->
                    <div *ngIf="item.pricebykg">
                      <!-- Precio original -->
                      <span class="text-product-offer">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        ${{ priceFormat((item.price + item.calculated_iva) - ((item.price + item.calculated_iva) * (item.offerpercent / 100))) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <!-- Precio original -->
                      <span class="text-product-offer">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        ${{ priceFormat((item.price + item.calculated_iva) - ((item.price + item.calculated_iva) * (item.offerpercent / 100))) }}
                      </span>
                    </div>
                  </div>

                  <!-- PRODUCTO SIN OFERTA -->
                  <div *ngIf="!item.offer">
                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        ${{ priceFormat(item.price + item.calculated_iva) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                    </div>
                  </div>
                </div>

                <div *ngIf="currency === 'Bs.S'">
                  <!-- PRODUCTO EN OFERTA -->
                  <div *ngIf="item.offer">
                    <!-- Precio original -->
                    <span class="text-product-offer">
                      {{ _BS }}
                      {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}
                    </span>

                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        {{ _BS }}
                        {{ priceFormatTasa((getOffer(priceFormat(item.price + item.calculated_iva), item.offerpercent)) * item.exchange_rate) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        {{ _BS }}
                        {{ priceFormatTasa((getOffer(priceFormat(item.price + item.calculated_iva), item.offerpercent)) * item.exchange_rate) }}
                      </span>
                    </div>
                  </div>

                  <!-- PRODUCTO SIN OFERTA -->
                  <div *ngIf="!item.offer">
                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        {{ _BS }}
                        {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        {{ _BS }}
                        {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}
                      </span>
                    </div>
                  </div>
                </div>
              </ion-label>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
<!-- Si el producto no presenta opciones, aparecerá para agregar más de 1 -->
<div *ngIf="info.stock_status">
  <div *ngIf="info.length != 0">
    <ion-footer>
      <ion-toolbar>
        <div *ngIf="inCart && inCart.grams === 0">
          <ion-grid>
            <ion-row class="vertical-center">
              <ion-col size="12">
                <div class="count-options">
                  <ion-button (click)="removeProduct(inCart.quantity - 1)" fill="solid" expand="block" color="light"
                    mode="ios">
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                  <span class="number">{{ inCart.quantity }}</span>
                  <ion-button (click)="addProduct(inCart.quantity + 1)" fill="solid" expand="block" color="light"
                    mode="ios">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- Si el producto tiene opciones, solo aparecerá el botón de agregar
             Esto porque al tener opciones, cada agregado es un producto único para el carrito -->
        <div *ngIf="!inCart || inCart.grams > 0">
          <ion-button (click)="addToCartProduct(info._id, rangeVal)" fill="solid" expand="block" shape="round"
            color="new">
            Añadir al carrito
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
</div>