<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="fav && !isSkeleton">
    <div>
      <ion-item *ngFor="let f of [].constructor(20)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="!fav || fav.length == 0 && isSkeleton">
    <p class="no-result">No tienes comercios agregados en este momento.</p>
  </div>

  <div *ngFor="let f of fav">
    <ion-list *ngIf="fav.length > 0">
      <!-- Sin skeleton -->

      <ion-card class="paddingSlide" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-img [src]="f.picture"></ion-img>
          </ion-col>
          <ion-col size="9">
            <div class="contenedor">
              <ion-label class="product">
                <div class="description-product">
                  <span class="text-product-menu">
                    {{f.category.name}}
                  </span>
                  <br>
                  <span class="text-product-name">
                    {{f.name}}
                  </span>
                  <br>
                  <span class="text-product-name">
                    {{f.city}}
                  </span>
                </div>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    </ion-list>

  </div>
</ion-content>
<ion-footer *ngIf="fav.length > 0">
  <ion-toolbar>
      <h1 *ngIf="fav.length > 0" style="font-weight: 500; color: #005ca1; font-size: .96em; text-align: center; margin-top: 12px;">Desliza hacia abajo para actualizar</h1>
  </ion-toolbar>
</ion-footer>
