.text-product-name {
    font-size: 1em;
    font-weight: 500;
    color: #222;
}

.text-product-description {
    font-size: 1em;
    font-weight: 400;
}

.text-product-menu {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}
