<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="250">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Productos</span>
          <div linespace></div>
          <span class="subtitle-home">Listado de productos</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="products.length === 0 && !isSkeleton">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si la categoría no tiene comercios asociados mostrar mensaje -->
  <div *ngIf="products.length === 0 && isSkeleton" class="no-result-content">
    <ion-icon class="tam" name="cube-outline"></ion-icon>
    <p class="no-result">No hay productos creados</p>
  </div>

  <div *ngIf="products.length > 0 && isSkeleton">
    <div *ngFor="let p of products | filtroproducts: textoBuscar">
      <ion-card class="paddingSlide" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div *ngIf="p.stock_status">
                <ion-img [src]="p.picture[0]"></ion-img>
              </div>
              <div *ngIf="!p.stock_status" class="opacity-false">
                <ion-img [src]="p.picture[0]"></ion-img>
              </div>
            </ion-col>
            <ion-col size="9">
              <div class="contenedor">
                <ion-label class="product">
                  <div class="description-product">

                    <span class="text-product-name">
                      {{p.name}}
                    </span>
                    <br>
                    <span class="text-product-description">
                      {{p.description}}
                    </span>
                    <br>
                    <!-- Si el producto está en oferta -->
                    <div *ngIf="p.offer">
                      <div *ngIf="currency === 'USD'">
                        <span class="text-product-offer">
                          <!-- Precio original -->
                          ${{ priceFormat(p.price + p.calculated_iva) }}
                        </span>
                        <span class="text-product-price">
                          <!-- Precio en oferta -->
                          ${{ priceFormat((p.price + p.calculated_iva) - ((p.price + p.calculated_iva) * (p.offerpercent / 100))) }}
                        </span>
                      </div>
                      <div *ngIf="currency === 'Bs.S'">
                        <span class="text-product-offer">
                          <!-- Precio original -->
                          {{ _BS }} {{ priceFormat(p.price + p.calculated_iva) }}
                        </span>
                        <br>
                        <span class="text-product-price">
                          <!-- Precio en oferta -->
                          {{ _BS }} {{ priceFormat((p.price + p.calculated_iva) - ((p.price + p.calculated_iva) * (p.offerpercent / 100))) }}
                        </span>
                      </div>
                    </div>
                    <!-- Si el producto no tiene oferta -->
                    <div *ngIf="!p.offer">
                      <div *ngIf="currency === 'USD'">
                        <span class="text-product-price">
                          ${{ priceFormat(p.price + p.calculated_iva) }}
                        </span>
                      </div>
                      <div *ngIf="currency === 'Bs.S'">
                        <span class="text-product-price">
                          {{ _BS }} {{ priceFormat(p.price + p.calculated_iva) }}
                        </span>
                      </div>
                    </div>
                    <div>
                      <ion-item lines="none" class="ion-no-padding ion-no-margin">
                        <span style="color:#999; font-size: 0.85em; padding-right: 8px;">
                          Agotado
                        </span>
                        <ion-toggle color="success" [(ngModel)]="p.stock_status" (ngModelChange)="changeStock(p._id, $event)"></ion-toggle>
                        <span  style="color:#999; font-size: 0.85em; padding-left: 8px;">
                          Disponible
                        </span>
                      </ion-item>
                      
                    </div>
                  </div>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <div *ngIf="products.length > 0">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreProducts($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>
</ion-content>

