<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Valora tu pedido</span>
          <div linespace></div>
          <span class="subtitle-home">¿Cómo fue tu experiencia?</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div *ngIf="rate==0">
          <ion-icon class="inactive" name="star-outline" (click)="onRate(1)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(2)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rate==1">
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(2)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rate==2">
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(3)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rate==3">
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(4)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rate==4">
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(4)"></ion-icon>
          <ion-icon class="inactive" name="star-outline" (click)="onRate(5)"></ion-icon>
        </div>
        <div *ngIf="rate==5">
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(1)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(2)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(3)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(4)"></ion-icon>
          <ion-icon class="fattorini-rating" name="star" (click)="onRate(5)"></ion-icon>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list mode="ios">
    <span class="count-text">{{contador}}/125</span>
    <ion-card>
      <ion-item lines="none">
        <ion-textarea auto-grow name="comment" placeholder="Escribe un comentario" [(ngModel)]="comment" maxlength="125"
          minlength="10" (keyup)="onKey($event)"></ion-textarea>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-grid class="top-btn">
    <ion-row>
      <ion-col size="10" offset="1">
        <div *ngIf="rate >= 1">
          <ion-button (click)="saveComment(rate, comment)" type="submit" fill="solid" expand="block" shape="round" color="new">
            Guardar
          </ion-button>
        </div>

        <div *ngIf="rate == 0">
          <ion-button type="submit" disabled fill="solid" expand="block" shape="round" color="new">
            Guardar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>