<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Cambio de moneda</span>
          <div linespace></div>
          <span class="subtitle-home">Ajusta para visualizar tu moneda de preferencia</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #formulario="ngForm" action="post" (ngSubmit)="saveCurrency(selectedValCurrency)">
    <ion-list>
      <div class="item-content">
        <ion-card mode="ios">
          <ion-item lines="none">
            <ion-select name="selectedValCurrency" mode="md" [(ngModel)]="selectedValCurrency"
              (ionChange)="changeCurrency($event)" placeholder="Moneda" class="select-currency ion-no-padding"
              cancelText="Cerrar" okText="Cambiar">
              <ion-label>Moneda</ion-label>
              <ion-select-option *ngFor="let c of listCurrency" [value]="c.format">{{c.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>

    <ion-grid fixed class="top-btn">
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" shape="round"
            color="new">
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>