ion-toolbar {
    --ion-toolbar-background: var(--ion-color-contrast);
    --ion-toolbar-color: var(--ion-color-contrast);
}

.fattorini-btn-light {
    color: rgb(255, 255, 255);
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.fattorini-rating {
    color: rgb(255, 202, 34);
}

ion-item.info-admin {
    --background: #fffbe6 !important;
    border: 1px solid #ffe58f;
}

ion-card.card-msg {
    box-shadow: 0 1px 1px rgba(114, 114, 114, 0), 0 1px 1px rgba(116, 116, 116, 0);
    border-radius: 0px;
}

.text-title-commerce {
    font-size: 1em;
    font-weight: 500;
}

.valid-admin-sub {
    font-size: 0.85em;
    font-weight: 400;
    font-weight: #333;
}

.valid-admin-title {
    font-size: 0.9em;
    font-weight: 500;
}

.text-header-info {
    white-space: normal;
}

.text-info-top {
    font-size: 0.86em;
    font-weight: 400;
    margin-top: -8px;
}

.space {
    margin-left: 10px;
}

.text-btn-dolar {
    color: #222;
    font-weight: 500;
    font-size: 1em;
}

.title-left-dolar {
    margin-left: -9px;
}

ion-label {
    white-space: normal !important;
}

.text-rating {
    font-size: 0.85em;
    font-weight: 400;
    margin-top: -8px;
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

.profile-space {
    margin-top: 1.6em;
}

.avatar {
    margin: auto;
    width: 100px;
    height: 100px;
}

.info-commerce {
    text-align: center;
    margin-top: 0.5em;
}

.name-commerce {
    font-size: 1em;
    font-weight: 500;
}

.name-category {
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

ion-spinner {
    display: block;
    margin: auto;
}

ion-card.card-info {
    box-shadow: 0 3px 16px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}