<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="fattorini-btn"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="settings-outline" class="fattorini-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-top">
        <img style="height: 36px;" src="../../assets/img/topbar/logofatto.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="user.length === 0 && !isLoader">
    <div style="margin-top: 2em;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="isLoader" class="profile-space">

    <div *ngIf="commerce.status === 1">
      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 1.6em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label>
            <span class="valid-admin-title">
              Comercio por validar
            </span>
            <br>
            <span class="valid-admin-sub">
              Nuestros administradores están validando los datos de tu negocio, pronto serás contactado por uno de
              ellos.
            </span>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <ion-avatar class="avatar">
      <img [src]="commerce.picture" />
    </ion-avatar>
    <div class="info-commerce paddingSlide" [routerLink]="['/reviews']" [queryParams]="{ id:commerce._id }">
      <span *ngIf="category === null" class="name-category">Sin asignar</span>
      <span *ngIf="category != null" class="name-category">{{ category.name }}</span>
      <br>
      <span class="name-commerce">{{ commerce.name }}</span>
      <br>
      <span *ngIf="commerce.total_comments > 0" class="text-rating">{{ commerce.score }} &nbsp;
        <ion-icon name="star" class="fattorini-rating"></ion-icon>
        &nbsp; ({{ commerce.total_comments }} {{ commerce.total_comments > 1?'reseñas':'reseña' }})
      </span>

      <span *ngIf="commerce.total_comments == 0" class="text-rating">{{ commerce.score }} &nbsp;
        <ion-icon name="star" class="fattorini-rating"></ion-icon>
        &nbsp; (No hay reseñas)
      </span>
    </div>
    <br>

    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 1em;">
        <ion-item lines="none" style="margin-top: 0.5em;">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label class="text-title-commerce fattorini-btn title-left-dolar">
                  Tasa del dólar
                </ion-label>
              </ion-col>
              <ion-col size="6" style="text-align: right;" class="ion-no-padding">
                <ion-button style="margin-top: 0px;" fill="clear" routerLink="/exchangerate" class="paddingSlide">
                  <span class="text-btn-dolar">
                    Editar
                  </span>
                  <ion-icon slot="end" name="create-outline" class="fattorini-btn tam"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <div>
          <ion-item lines="none">
            <ion-icon name="cash-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ _BS }} {{ priceFormat(config.exchange_rate) }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>


    <!-- Mostrar información del negocio -->
    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 1em;">
        <ion-item lines="none" style="margin-top: 0.5em;">
          <ion-label class="text-title-commerce fattorini-btn">
            Información de la tienda
          </ion-label>
        </ion-item>

        <ion-item *ngIf="commerce.address != '' && commerce.address != 'Desconocido'" lines="none">
          <ion-icon name="location-outline" item-start class="fattorini-btn"></ion-icon>
          <ion-label class="text-header-info space">
            <span class="text-info-top">
              <ion-label>
                {{ commerce.address }}, {{ commerce.city }}, {{ commerce.state }}
              </ion-label>
            </span>
          </ion-label>
        </ion-item>
        <div *ngIf="commerce.description != '' && commerce.description != 'Desconocido'">
          <ion-item lines="none">
            <ion-icon name="book-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ commerce.description }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>
        <ion-item lines="none">
          <ion-icon name="person-circle-outline" item-start class="fattorini-btn"></ion-icon>
          <ion-label class="text-header-info space">
            <span class="text-info-top">
              <ion-label>
                {{ user.firstname }} {{ user.lastname }}
              </ion-label>
            </span>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 1em;">
        <ion-item lines="none" style="margin-top: 0.5em;">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label class="text-title-commerce fattorini-btn title-left-dolar">
                  Productos
                </ion-label>
              </ion-col>
              <ion-col size="6" style="text-align: right;" class="ion-no-padding">
                <ion-button style="margin-top: 0px;" fill="clear" [routerLink]="['/products-dashboard']"
                  [queryParams]="{ id: config.commerce, hour:hour, currency:currency }" class="paddingSlide">
                  <span class="text-btn-dolar">
                    Ver más
                  </span>
                  <ion-icon slot="end" name="eye-outline" class="fattorini-btn tam"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Si el comercio no tiene productos mostrar mensaje -->
        <div *ngIf="products.length === 0">
          <ion-item lines="none">
            <ion-icon name="cube-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  Este comercio no tiene productos disponibles en estos momentos
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="products.length > 0">
          <ion-item lines="none">
            <ion-icon name="cube-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ products.length }} {{ products.length > 1?'artículos publicados':'artículo publicado' }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>

    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 1em;">
        <ion-item lines="none" style="margin-top: 0.5em;">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label class="text-title-commerce fattorini-btn title-left-dolar">
                  Pedidos
                </ion-label>
              </ion-col>
              <ion-col size="6" style="text-align: right;" class="ion-no-padding">
                <ion-button style="margin-top: 0px;" fill="clear" [routerLink]="['/orders-dashboard']"
                  [queryParams]="{ id: config.commerce, currency:currency }" class="paddingSlide">
                  <span class="text-btn-dolar">
                    Ver más
                  </span>
                  <ion-icon slot="end" name="eye-outline" class="fattorini-btn tam"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <div *ngIf="orders.length === 0">
          <ion-item lines="none">
            <ion-icon name="document-text-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  No hay pedidos activos
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="orders.length > 0">
          <ion-item lines="none">
            <ion-icon name="document-text-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ orders.length }} {{ orders.length > 1?'pedidos totales':'pedido en total' }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="pending != 0">
            <ion-icon name="time-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ pending.length }} {{ pending.length > 1?'pendientes':'pendiente' }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="success != 0">
            <ion-icon name="checkmark-circle-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ success.length }} {{ success.length > 1?'completados':'completado' }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="cancel != 0">
            <ion-icon name="close-circle-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                <ion-label>
                  {{ cancel.length }} {{ cancel.length > 1?'cancelados':'cancelado' }}
                </ion-label>
              </span>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>

  </div>
  <br>
</ion-content>