<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="250">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Artículos destacados</span>
          <div linespace></div>
          <!-- <span class="subtitle-home"></span> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="promos.length === 0 && !isSkeleton">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si la categoría no tiene comercios asociados mostrar mensaje -->
  <div *ngIf="promos.length === 0 && isSkeleton" class="no-result-content">
    <ion-icon class="tam" name="ticket-outline"></ion-icon>
    <p class="no-result">No hay artículos en este apartado</p>
  </div>

  <div *ngIf="promos.length > 0 && isSkeleton">
    <ion-grid>
      <ion-row>
        <ion-col class="padding-title">
          <div class="ion-text-start">
            <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
            <span class="text-count">
              {{ getCountPromos() }} {{ getCountPromos() > 1?'resultados encontrados':'resultado encontrado' }}
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="promos.length > 0 && isSkeleton">
    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(promos | filtroPromos: textoBuscar).length === 0">
      <p class="no-result">No hay resultados para tu búsqueda.</p>
    </div>

    <div style="margin-top: -10px;">
      <div *ngFor="let p of promos | filtroPromos: textoBuscar">
        <ion-card class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;"
          [routerLink]="['/detail-product', p._id, p.commerce._id, p.menu._id]"
          [queryParams]="{ hour:hour, user:user._id, currency:currency }">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <div *ngIf="p.stock_status">
                  <ion-img [src]="p.picture"></ion-img>
                </div>
                <div *ngIf="!p.stock_status" class="opacity-false">
                  <ion-img [src]="p.picture"></ion-img>
                </div>
              </ion-col>
              <ion-col size="9">
                <div class="contenedor">
                  <ion-label class="product">
                    <div class="description-product">
                      <span class="text-product-name">
                        {{p.name}}
                      </span>
                      <br>
                      <span class="text-product-description">
                        {{p.description}}
                      </span>
                      <br>
                      <div *ngIf="p.stock_status">
                        <div *ngIf="p.stock_quantity >= 1">
                          <span class="text-product-stock-d">
                            {{p.stock_quantity}} {{ p.stock_quantity > 1?'disponibles':'disponible' }}
                          </span>
                        </div>
  
                        <div *ngIf="p.stock_quantity === 0">
                          <span class="text-product-stock-nd">
                            Agotado
                          </span>
                        </div>
  
                        <div *ngIf="p.stock_quantity === -1">
                          <span class="text-product-stock-d">
                            Hay disponibilidad
                          </span>
                        </div>
                      </div>
  
                      <div *ngIf="!p.stock_status">
                        <span class="text-product-stock-nd">
                          No disponible
                        </span>
                      </div>
  
                      <!-- Si el producto está en oferta -->
                      <div *ngIf="p.offer">
                        <div *ngIf="currency === 'USD'">
                          <span class="text-product-offer">
                            <!-- Precio original -->
                            ${{ priceFormat(p.price) }}
                          </span>
                          <span class="text-product-price">
                            <!-- Precio en oferta -->
                            ${{ priceFormat(p.price - (p.price * (p.offerpercent / 100))) }}
                          </span>
                        </div>
                        <div *ngIf="currency === 'Bs.S'">
                          <span class="text-product-offer">
                            <!-- Precio original -->
                            Bs.S {{ priceFormatTasa(priceFormat(p.price) * p.exchange_rate) }}
                          </span>
                          <br>
                          <span class="text-product-price">
                            <!-- Precio en oferta -->
                            Bs.S {{ priceFormatTasa(getOffer(p.price, p.offerpercent) * p.exchange_rate ) }}
                          </span>
                        </div>
                      </div>
                      <!-- Si el producto no tiene oferta -->
                      <div *ngIf="!p.offer">
                        <div *ngIf="currency === 'USD'">
                          <span class="text-product-price">
                            ${{ priceFormat(p.price) }}
                          </span>
                        </div>
                        <div *ngIf="currency === 'Bs.S'">
                          <span class="text-product-price">
                            Bs.S {{ priceFormatTasa(priceFormat(p.price) * p.exchange_rate) }}
                          </span>
                        </div>
                      </div>
                      <!-- Si el producto tiene IVA habilitado -->
  <!--                     <div *ngIf="p.iva">
                        <span class="text-product-menu">
                          Precio incluye IVA
                        </span>
                      </div> -->
                      <!-- Si el producto es exento de IVA -->
  <!--                     <div *ngIf="!p.iva">
                        <span class="text-product-menu">
                          Exento de IVA
                        </span>
                      </div> -->
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

    <!--     <div *ngIf="promos.length > 0">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreCommerce($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->

  </div>
</ion-content>