<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Editar dirección</span>
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <form #formulario="ngForm" action="post" (ngSubmit)="editAddress(stateSelected, citySelected, sectorSelected, addressSelected)">
      <ion-card mode="ios" class="dest-top">
        <ion-card-content>
          <p class="title-profile">Estado</p>
          <ion-list>
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar" name="stateSelected"
                  (ionChange)="changeState($event)" [(ngModel)]="stateSelected" [selectedText]="stateSelected" required>
                  <ion-label>Estado</ion-label>
                  <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Ciudad</p>
          <ion-list>
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar" name="citySelected"
                  (ionChange)="changeCity($event)" [(ngModel)]="citySelected" [selectedText]="citySelected" required>
                  <ion-label>Ciudad</ion-label>
                  <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Sector</p>
          <ion-list>            
              <ion-item lines="full" class="ion-no-padding">
                <div *ngIf="z.length === 0" class="disable">
                  No hay sectores para esta ciudad
                </div>

                <div id="selectedSector" *ngIf="z.length > 0">
                  <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                    name="sectorSelected" (ionChange)="changeSector($event)" [(ngModel)]="sectorSelected"
                    [selectedText]="sectorSelected" required>
                    <ion-label>Sectores</ion-label>
                    <ion-select-option *ngFor="let zone of z" [value]="zone.name">{{ zone.name }}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-item>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Dirección de entrega</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-textarea auto-grow name="address" placeholder="Sea lo más específico posible"
                  [(ngModel)]="addressSelected" maxlength="250" minlength="10" required></ion-textarea>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-grid fixed class="top-btn">
        <ion-row>
          <ion-col size="10" offset="1">

            <ion-button *ngIf="!z.length" type="submit" disabled fill="solid" expand="block" shape="round" color="new">
              Guardar
            </ion-button>

            <ion-button *ngIf="z.length" type="submit" [disabled]="formulario.invalid" fill="solid" expand="block"
              shape="round" color="new">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>