<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="popPage()" expand="block"
        fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">¡Pedido Completado!</span>
          <div linespace></div>
          <span class="subtitle-home">Si tus datos han sido correctos, pronto tu pedido será preparado y estará listo para ser entregado</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div linespace></div>
  <ion-button (click)="popPage()" expand="block" fill="clear" shape="round" color="new">
    Ir a mis pedidos
  </ion-button>
</ion-content>
