.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}