<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goOrders()" expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dest-top">
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-center">
          <span class="title-home-dark">Métodos de Pago</span>
          <div linespace></div>
          <ion-thumbnail slot="start">
            <ion-img [src]="datacommerce.picture"></ion-img>
          </ion-thumbnail>
          <div linespace></div>
          <ion-label>
            <span class="title-name-commerce">
              {{datacommerce.name}}
            </span>
            <div *ngIf="detailpayment.user_pay_commission">
              <span class="price-order">
                {{ _BS }}
                {{ priceFormatTasa((getSubtotal() + detailpayment.delivery_amount + detailpayment.commission_amount), detailpayment.exchange_rate) }}
              </span>
              <br>
              <span class="price-order">
                ${{ priceFormat(getSubtotal() + detailpayment.delivery_amount + detailpayment.commission_amount) }}
              </span>
            </div>
            <div *ngIf="!detailpayment.user_pay_commission">
              <span class="price-order">
                {{ _BS }}
                {{ priceFormatTasa((getSubtotal() + detailpayment.delivery_amount), detailpayment.exchange_rate) }}
              </span>
              <br>
              <span class="price-order">
                ${{ priceFormat(getSubtotal() + detailpayment.delivery_amount) }}
              </span>
            </div>
          </ion-label>
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="bank.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="bank.length === 0 && isLoader">
    <p class="no-result">No hay métodos de pago agregados.</p>
  </div>

  <div *ngIf="bank.length > 0 && isLoader">
    <ion-card mode="ios">
      <ion-item lines="none">
        <ion-select mode="md" [(ngModel)]="dataPayment" (ionChange)="changePayment($event)" name="selectedPayment"
          placeholder="Seleccione" class="select-payment ion-no-padding" cancelText="Cerrar" okText="Aceptar"
          [selectedText]="selectedPayment">
          <ion-label>Métodos de pago</ion-label>
          <ion-select-option *ngFor="let mp of newArr" value="{{mp}}">
            <ion-label>
              <div>
                <span *ngIf="mp === 1">
                  Tranferencia Bancaria
                </span>
                <span *ngIf="mp === 2">
                  Pago móvil
                </span>
                <span *ngIf="mp === 3">
                  Paypal
                </span>
                <span *ngIf="mp === 4">
                  Zelle
                </span>
                <span *ngIf="mp === 5">
                  Efectivo
                </span>
              </div>
            </ion-label>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="dataPayment === '1'">
    <div class="div-title">
      <span class="title-description">
        Seleccione una cuenta bancaria
      </span>
    </div>
    <ion-card mode="ios" style="z-index: 0;">
      <ion-item lines="none">
        <ion-select mode="md" [(ngModel)]="dataBank" (ionChange)="changeBank($event)" name="selectedBank"
          placeholder="Seleccione" class="select-payment ion-no-padding" cancelText="Cerrar" okText="Aceptar"
          [selectedText]="selectedBank">
          <ion-label>Cuentas bancarias</ion-label>
          <ion-select-option *ngFor="let t of transf" [value]="t._id">
            <ion-label>
              <div *ngIf="t.type === 1">
                <span>
                  {{ t.bank }}
                </span>
              </div>
            </ion-label>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <div style="margin-bottom: 0.5em;">
      <div class="div-msg">
        <ion-label>
          <span class="msg-text">Recuerda que debes realizar el pago por el monto exacto de la compra</span>
        </ion-label>
      </div>
      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 0.3em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label class="complete-data-msg">
            <span class="valid-admin-title">
              {{ infoBank.bank }}
            </span>
            <br>
            <span class="valid-admin-sub">
              {{ infoBank.acountnumber }}
            </span>
            <br>
            <span class="valid-admin-sub">
              {{ infoBank.ci }}
            </span>
            <br>
            <span class="valid-admin-sub">
              {{ infoBank.phone }}
            </span>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="copyBank(infoBank.bank, infoBank.acountnumber, infoBank.ci, infoBank.phone)"
              class="paddingSlide fattorini-btn" color="light">
              Copiar
              <ion-icon slot="start" name="copy-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <form #formulario="ngForm" action="post" (ngSubmit)="checkout(detailpayment._id, dataBank, imagePath, selectedRef)">
      <div style="margin-bottom: 0.4em;">
        <div class="div-msg-payment">
          <ion-label>
            <span class="msg-text">Haznos saber que ya realizaste el pago</span>
          </ion-label>
        </div>
        <ion-item>
          <ion-col class="ion-no-padding ion-no-margin">
            <span class="title-description">
              Referencia
            </span>
            <ion-input required type="number" placeholder="Número de referencia" name="ref" [(ngModel)]="selectedRef"
              pattern="^[0-9]{7,15}$" required></ion-input>
          </ion-col>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-button (click)="openGallery()" fill="solid" expand="block" color="upload">
                Subir captura
                <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              </ion-button>
              <div linespace></div>
              <img *ngIf="imagePath" src="{{ imagePath }}" style="width: 100%; height: auto;" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button *ngIf="!imagePath" disabled fill="solid" expand="block" color="new">
        Finalizar pedido
      </ion-button>
      <ion-button *ngIf="imagePath" type="submit" [disabled]="formulario.invalid" fill="solid" expand="block"
        color="new">
        Finalizar pedido
      </ion-button>
    </form>
  </div>

  <div *ngIf="dataPayment === '2'">
    <div class="div-title">
      <span class="title-description">
        Seleccione una cuenta
      </span>
    </div>
    <ion-card mode="ios">
      <ion-item lines="none">
        <ion-select mode="md" [(ngModel)]="dataPM" (ionChange)="changePM($event)" name="selectedPM"
          placeholder="Seleccione" class="select-payment ion-no-padding" cancelText="Cerrar" okText="Aceptar"
          [selectedText]="selectedPM">
          <ion-label>Pago móvil</ion-label>
          <ion-select-option *ngFor="let p of pm" [value]="p._id">
            <ion-label>
              <div *ngIf="p.type === 2">
                <span>
                  {{ p.bank }}
                </span>
              </div>
            </ion-label>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <div style="margin-bottom: 0.5em;">
      <div class="div-msg">
        <ion-label>
          <span class="msg-text">Recuerda que debes realizar el pago por el monto exacto de la compra</span>
        </ion-label>
      </div>

      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 0.3em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label class="complete-data-msg">
            <span class="valid-admin-title">
              {{ infoPM.bank }}
            </span>
            <br>
            <span class="valid-admin-sub">
              {{ infoPM.ci }}
            </span>
            <br>
            <span class="valid-admin-sub">
              {{ infoPM.phone }}
            </span>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="copyPM(infoPM.bank, infoPM.ci, infoPM.phone)" class="paddingSlide fattorini-btn"
              color="light">
              Copiar
              <ion-icon slot="start" name="copy-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <form #formulario="ngForm" action="post" (ngSubmit)="checkoutPM(detailpayment._id, dataPM, imagePath)">
      <div style="margin-bottom: 0.4em;">
        <div class="div-msg-payment">
          <ion-label>
            <span class="msg-text">Sube tu comprobante de pago para hacernos saber que haz completado el pedido</span>
          </ion-label>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-button (click)="openGallery()" fill="solid" expand="block" color="upload">
                Subir captura
                <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              </ion-button>
              <div linespace></div>
              <img *ngIf="imagePath" src="{{ imagePath }}" style="width: 100%; height: auto;" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      

      <ion-button *ngIf="!imagePath" disabled fill="solid" expand="block" color="new">
        Finalizar pedido
      </ion-button>
      <ion-button *ngIf="imagePath" type="submit" [disabled]="formulario.invalid" fill="solid" expand="block"
        color="new">
        Finalizar pedido
      </ion-button>
    </form>
  </div>

  <div *ngIf="dataPayment === '3'">
    <div class="ion-text-center">
      <img class="logo" src="../assets/img/payment/paypal-logo.svg" alt="">
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button
            (click)="checkoutPaypal(detailpayment._id, infoPaypal.clientid, priceFormat(getSubtotal() + detailpayment.delivery_amount + detailpayment.commission_amount))"
            expand="block" fill="solid" color="dark">
            Pagar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="dataPayment === '4'">
    <div style="margin-bottom: 0.5em;">
      <div class="div-msg">
        <ion-label>
          <span class="msg-text">Recuerda que debes realizar el pago por el monto exacto de la compra</span>
        </ion-label>
      </div>

      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 0.3em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label class="complete-data-msg">
            <span class="valid-admin-sub">
              {{ infoZelle.email }}
            </span>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="copyPM(infoZelle.email)" class="paddingSlide fattorini-btn" color="light">
              Copiar
              <ion-icon slot="start" name="copy-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <form #formulario="ngForm" action="post"
      (ngSubmit)="checkoutZelle(detailpayment._id, infoZelle._id, imagePath, nameSelected, emailSelected)">
      <div style="margin-bottom: 0.4em;">
        <div class="div-msg-payment">
          <ion-label>
            <span class="msg-text">Sube tu comprobante de pago para hacernos saber que haz completado el pedido</span>
          </ion-label>
        </div>

        <ion-item>
          <ion-col class="ion-no-padding ion-no-margin">
            <span class="title-description">
              Nombre del titular (Zelle)
            </span>
            <ion-input required type="text" placeholder="Nombre" name="firstname" [(ngModel)]="nameSelected"
              pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"></ion-input>
          </ion-col>
        </ion-item>

        <div linespace></div>
        <ion-item>
          <ion-col class="ion-no-padding ion-no-margin">
            <span class="title-description">
              Correo electrónico (Zelle)
            </span>
            <ion-input required type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="emailSelected"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
          </ion-col>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-button (click)="openGallery()" fill="solid" expand="block" color="upload">
                Subir captura
                <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              </ion-button>
              <div linespace></div>
              <img *ngIf="imagePath" src="{{ imagePath }}" style="width: 100%; height: auto;" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button *ngIf="!imagePath" disabled fill="solid" expand="block" color="new">
        Finalizar pedido
      </ion-button>
      <ion-button *ngIf="imagePath" type="submit" [disabled]="formulario.invalid" fill="solid" expand="block"
        color="new">
        Finalizar pedido
      </ion-button>
    </form>
  </div>

  <div *ngIf="dataPayment === '5'">
    <div style="margin-bottom: 0.5em;">

      <form #formulario="ngForm" action="post"
        (ngSubmit)="checkoutEfectivo(detailpayment._id, infoEfectivo._id, imagePath, description)">
        <div style="margin-bottom: 0.4em;">
          <ion-item>
            <ion-col class="ion-no-padding ion-no-margin">
              <span class="title-description">
                Descripción de los billetes
              </span>
              <ion-input required type="text" name="description" placeholder="Ej: 1 de $5 y 2 de $20" [(ngModel)]="description"></ion-input>
            </ion-col>
          </ion-item>

          <div class="div-msg-efectivo">
            <ion-label>
              <span class="msg-text">Suba una imagen donde se vea el efectivo que será entregado al repartidor</span>
            </ion-label>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-button (click)="openGallery()" fill="solid" expand="block" color="upload">
                  Subir captura
                  <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
                </ion-button>
                <div linespace></div>
                <img *ngIf="imagePath" src="{{ imagePath }}" style="width: 100%; height: auto;" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-button *ngIf="!imagePath" disabled fill="solid" expand="block" color="new">
          Finalizar pedido
        </ion-button>
        <ion-button *ngIf="imagePath" type="submit" [disabled]="formulario.invalid" fill="solid" expand="block"
          color="new">
          Finalizar pedido
        </ion-button>
      </form>
    </div>
  </div>

</ion-content>