ion-toolbar,
ion-header {
    --background: var(--ion-color-new);
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}

[linespace] {
    margin-bottom: 10px;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.dest-top {
    background-color: #01096b;
}

ion-thumbnail {
    --border-radius: 100%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 2px solid white;
}

.title-name-commerce {
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.price-order {
    font-size: 1em;
    color: white;
    font-weight: 400;
}

ion-select.select-payment {
    width: 100%;
    max-width: 100%;
    font-size: 0.86em;
}

.title-description {
    font-size: 0.86em;
    font-weight: 500;
    color: #222;
    text-transform: uppercase;
}

div.div-title {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: -12px;
    z-index: 1;
}

div.div-msg {
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
}

div.div-msg-payment {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    z-index: 1;
}

div.div-msg-efectivo {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 3px;
    margin-top: 11px;
    z-index: 1;
}

.msg-text {
    font-weight: 400;
    color: #c31c1c;
    font-size: 0.95em;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

ion-spinner {
    display: block;
    margin: auto;
}

.text-title-bank {
    color: #666;
    font-size: 0.95em;
    font-weight: 500;
}

.text-description-bank {
    color: #999;
    font-size: 0.95em;
    font-weight: 400;
}

ion-item.info-admin {
    --background: #fffbe6 !important;
    border: 1px solid #ffe58f;
    
}

ion-card.card-msg {
    box-shadow: 0 1px 1px rgba(114, 114, 114, 0), 0 1px 1px rgba(116, 116, 116, 0);
    border-radius: 0px;
}

ion-label.complete-data-msg {
    white-space: normal !important;
}

.valid-admin-sub {
    font-size: 0.85em;
    font-weight: 400;
    font-weight: #333;
}

.valid-admin-title {
    font-size: 0.9em;
    font-weight: 500;
}

img.logo {
    width: 130px;
    height: 35px;
}