<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Tarifas y zonas de envío</span>
          <div linespace></div>
          <span class="subtitle-home">Sectores de entrega</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="zones.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="zones.length > 0 && isLoader">
    <ion-card *ngFor="let z of zones" mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 1em;">

        <ion-item *ngIf="z.rate != null" class="item-divider" color="new">
          <ion-label *ngIf="z.rate.price != 0">Tarifa: ${{ z.rate.price }}</ion-label>
          <ion-label *ngIf="z.rate.price == 0">Tarifa: $0 (Envío gratis)</ion-label>
        </ion-item>

        <ion-item *ngIf="z.rate == null" class="item-divider" color="new">
          <ion-label *ngIf="z.rate_number > 0">Tarifa: ${{ z.rate_number }}</ion-label>
          <ion-label *ngIf="z.rate_number == 0">Tarifa: $0 (Envío gratis)</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="text-header-info space">
            <span *ngIf="z.name != ''" class="text-info-top-bold title-zone">
              {{ z.name }}
              <br>
            </span>
            <span *ngFor="let s of z.sectors" class="text-info-top">
              {{ s.name }},
            </span>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

</ion-content>