.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.fattorini-light {
    color: #fefefe;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-spinner {
    display: block;
    margin: auto;
}

span.text-count {
    font-weight: 1em;
    font-weight: 500;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

img.img-commerce {
    border-radius: 15px;
}

.text-subtitle-category {
    font-size: 0.9em;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

.top-btn {
    margin-top: -8px;
}

ion-thumbnail {
    --border-radius: 100%;
    width: 70px;
    height: 70px;
}

.text-header-info {
    white-space: normal;
}

.fattorini-rating {
    color: #fadb14;
    font-size: 28px;
}

.inactive {
    color: #d6d6d6;
    font-size: 28px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.text-rating {
    font-size: 0.85em;
    font-weight: 400;
    margin-top: -8px;
}

.text-subtitle-commerce {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-date-comment {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: #999
}

.text-title-commerce {
    font-size: 1em;
    font-weight: 500;
}

ion-header {
    background-color: white;
}

ion-card.card-info {
    box-shadow: 0 3px 5px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

.text-delete {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

ion-icon.delete {
    width: 15px;
    height: 15px;
}

ion-icon.tam2 {
    color: #01096b;
    width: 24px;
    height: 24px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-btn {
    margin-top: -10px;
}

.count-text {
    font-size: 0.9em;
    margin-left: 20px;
    margin-bottom: -20px;
    color: #999;
}

ion-textarea {
    font-size: 0.95em;
}

.text-header-info {
    white-space: normal;
}

.text-info-top {
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -8px;
}

.text-info-top-bold {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: -8px;
}

ion-card.card-info {
    box-shadow: 0 3px 16px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

.title-zone {
    text-transform: uppercase;
}

ion-spinner {
    display: block;
    margin: auto;
}