ion-toolbar, ion-header {
    background-color: white;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

ion-card.card-info {
    box-shadow: 0 3px 5px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

.text-delete {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

ion-icon.delete {
    width: 15px;
    height: 15px;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.text-title-commerce {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(1, 9, 107);
}

ion-spinner {
    display: block;
    margin: auto;
}

.text-subtitle-commerce {
    font-size: 1em;
    font-weight: 400;
    color: #666;
}

.text-subtitle-status {
    font-size: 1em;
    font-weight: 500;
    color: #ffc522;
}

span.text-subtitle-status-success {
    font-size: 1em;
    font-weight: 500;
    color: #0fc726;
}

span.text-subtitle-status-med {
    font-size: 1em;
    font-weight: 500;
    color: #0052e8;
}

span.text-subtitle-status-cancel {
    font-size: 1em;
    font-weight: 500;
    color: #fd5151;
}

.space-between {
    margin-top: -16px;
    display: flex;
    justify-content: space-between;
}

.title-top-left {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(1, 9, 107);
}

.repartidor {
    font-weight: 500;
    color: rgb(1, 9, 107);
}

.title-top-right {
    color: rgb(1, 9, 107);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    padding-right: 3px;
}

.text-subtotal {
    font-size: 1em;
    font-weight: 400;
    color: rgb(1, 9, 107);  
}

.text-product-weight {
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(128, 128, 128);
}