<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="paddingSlide" mode="ios">
        <ion-icon class="fattorini-btn-light" slot="icon-only" slot="start" name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-top">
        <img style="height: 36px;" src="../../assets/img/topbar/logofatto.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-center top-title">
          <span class="title-home-dark">Quiero ser vendedor</span>
          <div linespace></div>
          <span class="subtitle-home">Únete a la familia Fattorini</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Formulario para registrar comercio -->
  <ion-grid class="divpad">
    <ion-row class="row-form">
      <ion-col>
        <div linespace></div>
        <form #formulario="ngForm" action="post" (ngSubmit)="updateUsertoCommerce()">
          <div class="form-space">
            <ion-item>
              <ion-icon icon-small name="briefcase-outline" class="fattorini-btn"></ion-icon>
              <ion-input type="text" placeholder="Nombre del comercio" name="name" [(ngModel)]="data.name" minlength="6"
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="book-outline" class="fattorini-btn"></ion-icon>
              <ion-input type="text" placeholder="Descripción / Slogan" name="description"
                [(ngModel)]="data.description" minlength="6"></ion-input>
            </ion-item>

            <ion-item>
              <ion-col class="ion-no-padding ion-no-margin" size="3">
                <ion-select required [(ngModel)]="selectedContribuyente" name="contribuyente"
                  (ionChange)="changeContribuyente($event)" class="select-contribuyente" cancelText="Cerrar"
                  okText="Cambiar">
                  <ion-label>Contribuyente</ion-label>
                  <ion-select-option class="ion-text-center" *ngFor="let co of contribuyente" [value]="co.name">
                    {{co.name}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin" size="9">
                <ion-input required name="rif" [(ngModel)]="selectedRIF" placeholder="RIF" simpleMask="99999999-9" type="text"
                  minlength="10"></ion-input>
              </ion-col>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="location-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="text" placeholder="Dirección del comercio" name="address" minlength="6"
                [(ngModel)]="data.address"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="call-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="tel" placeholder="Teléfono" name="phone" [(ngModel)]="data.phone"
                pattern="^(\+|\d)[0-9]{10,12}$"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="file-tray-full-outline" class="fattorini-btn"></ion-icon>
              <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="categorySelected"
                (ionChange)="changeCategory($event)" [(ngModel)]="data.category" [selectedText]="categorySelected"
                required>
                <ion-label>Categorías</ion-label>
                <ion-select-option *ngFor="let c of category" [value]="c._id">{{ c.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col size="10" offset="1">
                  <ion-button (click)="openGallery()" fill="solid" expand="block" shape="round" color="new">
                    Logo del comercio
                  </ion-button>
                  <ion-icon slot="start" name="image-outline"></ion-icon>
                  <img *ngIf="croppedImagePath.length" [src]="croppedImagePath" />
                  <div *ngIf="!croppedImagePath.length" class="ion-text-center space-no-text">
                    <ion-label>
                      <span class="text-no-crop">
                        Debe subir una imagen de perfil
                      </span>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div space-select>
              <ion-label>
                <span class="title-profile">
                  Estado
                </span>
              </ion-label>
              <ion-item>
                <ion-icon icon-small name="map-outline" class="fattorini-btn"></ion-icon>
                <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="stateSelected"
                  (ionChange)="changeState($event)" [(ngModel)]="data.state" [selectedText]="data.state" required>
                  <ion-label>Estado</ion-label>
                  <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div space-select>
              <ion-label>
                <span class="title-profile">
                  Ciudad
                </span>
              </ion-label>
              <ion-item>
                <ion-icon icon-small name="navigate-outline" class="fattorini-btn"></ion-icon>
                <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="citySelected"
                  (ionChange)="changeCity($event)" [(ngModel)]="data.city" [selectedText]="data.city" required>
                  <ion-label>Ciudad</ion-label>
                  <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

          </div>
          <ion-grid fixed class="top-btn">
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-button *ngIf="!croppedImagePath.length" disabled fill="solid" expand="block" shape="round"
                  color="new">
                  Registrar
                </ion-button>
                <ion-button *ngIf="croppedImagePath.length" type="submit" [disabled]="formulario.invalid" fill="solid"
                  expand="block" shape="round" color="new">
                  Registrar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>