ion-toolbar {
    --ion-toolbar-background: var(--ion-color-contrast);
    --ion-toolbar-color: var(--ion-color-contrast);
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

.top-title {
    margin-top: 0.7em;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.fattorini-btn-light {
    color: #FFF;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-row.row-form {
    height: 100%;
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

[icon-small] {
    width: 22px;
}

ion-input {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 0.9em;
    font-weight: 400;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.top-btn {
    margin-top: -8px;
}

[space-select] {
    margin-top: 1em;
    margin-bottom: 1em;
}

ion-select.select-address {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;
}

ion-select.select-contribuyente {
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fbfbfb;
    max-width: 100%;
    height: 34px;
}

ion-input.input-rif {
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fbfbfb;
    max-width: 100%;
    height: 34px;
}

.title-profile {
    font-size: 0.9em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 450;
}

.text-no-crop {
    font-weight: 400;
    color: #999;
    font-size: 0.9em;
}

.space-no-text {
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}