.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.text-title-commerce {
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-subtitle-commerce {
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.text-subtitle-cat {
    font-size: 0.9em;
    font-weight: 400;
    color: #cecece;
}

.text-title-cat {
    font-size: 1.3em;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
}

ion-searchbar {
    --background: white;
    --color: #999;
}

.img-category {
    background-size: cover !important;
    background-position: top !important;
}

.text-center-cat {
    text-align: center;
}

ion-spinner {
    display: block;
    margin: auto;
}