<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar por menú" (ionChange)="buscar($event)" [debounce]="250">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Filtrar men&uacute;</span>
          <div linespace></div>
          <span class="subtitle-home">Filtra las opciones según tus preferencias</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="menu.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="menu.length === 0 && isLoader">
    <p class="no-result">No hay menús creados por el comercio actualmente </p>
  </div>

  <div *ngIf="menu.length > 0 && isLoader">
    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(menu | filtromenu: textoBuscar).length === 0">
      <p class="no-result">No hay resultados para tu búsqueda.</p>
    </div>
    <div style="margin-top: -10px;">
      <div *ngFor="let m of menu | filtromenu: textoBuscar">
        <ion-card *ngIf="m.status" (click)="filtrarmenu(m._id)" class="paddingSlide animated fadeIn fast" mode="ios"
          style="margin-left: 0.9em; margin-right: 0.9em;">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-img [src]="m.image"></ion-img>
              </ion-col>
              <ion-col size="9">
                <div class="contenedor">
                  <ion-label>
                    <div>
                      <span class="text-title-commerce">
                        {{m.name}}
                      </span>
                      <br>
                      <span class="text-subtitle-commerce">
                        <!-- {{m.count}} {{ m.count > 1?'productos':'producto' }}s -->
                        {{ m.description }}
                      </span>
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

  </div>

</ion-content>