<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="fattorini-btn"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div *ngIf="user.role === 'CA'">
        <ion-button class="paddingSlide fattorini-btn" [routerLink]="['/commerce']"
          [queryParams]="{ hour:hour, currency:selectedValCurrency }">
          Comercio
          <ion-icon slot="start" name="business-outline" class="fattorini-btn"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Mi cuenta</span>
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="user.length === 0 && !isLoader">
    <div style="margin-top: 2em;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="isLoader" class="profile-space">
    <ion-avatar class="avatar">
      <img src="../../assets/img/profile/head.svg" />
    </ion-avatar>
    <div class="info-user">
      <span class="name-user">{{ nameUser }}</span>
      <br>
      <span class="email-user">{{ user.email }}</span>
    </div>

    <div class="data-user">

      <form #formulario="ngForm" action="post"
        (ngSubmit)="updateUser(user._id, user.firstname, user.lastname, user.address, user.password, stateSelected, citySelected, user.phone, DateSelected, user.ci)">
        <ion-card mode="ios" class="dest-top">
          <ion-card-content>
            <p class="title-profile">Nombre</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <!-- <ion-icon icon-small name="person-outline" class="fattorini-btn"></ion-icon> -->
                  <ion-input type="text" name="firstname" [(ngModel)]="user.firstname"
                    pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$" placeholder="Nombre" required></ion-input>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Apellido</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <!-- <ion-icon icon-small name="person-add-outline" class="fattorini-btn"></ion-icon> -->
                  <ion-input type="text" name="lastname" [(ngModel)]="user.lastname"
                    pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$" placeholder="Apellido" required>
                  </ion-input>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Cédula</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-input disabled type="text" name="ci" [(ngModel)]="user.ci" pattern="^[V][-][0-9]{8}$"
                    placeholder="Cédula" required>
                  </ion-input>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Teléfono</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-input type="tel" name="phone" [(ngModel)]="user.phone" placeholder="Teléfono"
                    required pattern="^(\+|\d)[0-9]{10,12}$">
                  </ion-input>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Fecha de nacimiento</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-datetime name="birthday" [(ngModel)]="DateSelected" display-format="DD/MM/YYYY"
                    placeholder="Fecha de nacimiento" cancelText="Cancelar" doneText="Guardar"
                    (ionChange)="cambioFecha($event)" [max]="age18" required></ion-datetime>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Estado</p>
            <ion-list>
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <!-- <ion-icon icon-small name="map-outline" class="fattorini-btn"></ion-icon> -->
                  <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                    name="stateSelected" (ionChange)="changeState($event)" [(ngModel)]="stateSelected"
                    [selectedText]="stateSelected" required>
                    <ion-label>Estado</ion-label>
                    <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-list>

            <div *ngIf="stateSelected != 'Desconocido'">
              <div class="divider-space"></div>
              <p class="title-profile">Ciudad</p>
              <ion-list>
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <!-- <ion-icon icon-small name="navigate-outline" class="fattorini-btn"></ion-icon> -->
                    <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                      name="citySelected" (ionChange)="changeCity($event)" [(ngModel)]="citySelected"
                      [selectedText]="citySelected" required>
                      <ion-label>Ciudad</ion-label>
                      <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </ion-list>
            </div>

            <div class="divider-space"></div>
            <p class="title-profile">Dirección de entrega</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-textarea auto-grow name="address" placeholder="Dirección de entrega" [(ngModel)]="user.address"
                    maxlength="250" required></ion-textarea>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Contraseña</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <!-- <ion-icon icon-small name="key-outline" class="fattorini-btn"></ion-icon> -->
                  <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password"
                    [(ngModel)]="user.password" minlength="6"></ion-input>
                  <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" class="gray-btn">
                  </ion-icon>
                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-grid fixed class="top-btn">
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" shape="round"
                color="new">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>