/* ion-toolbar {
    --ion-toolbar-background: var(--ion-color-new);
    --ion-toolbar-color: var(--ion-color-light);
} */

ion-toolbar {
    background-color: white;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.profile-space {
    margin-top: 1.6em;
}

.avatar {
    margin: auto;
    width: 100px;
    height: 100px;
}

.info-user {
    text-align: center;
    margin-top: 0.5em;
}

.name-user {
    font-weight: 500;
    font-size: 1.2em;
}

.email-user {
    font-weight: 400;
    font-size: 0.9em;
    color: #666;
}

[icon-small] {
    width: 22px;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

ion-spinner {
    display: block;
    margin: auto;
}

ion-select.select-address {
    width: 100%;
    max-width: 100%;
    font-size: 0.86em;
}

ion-textarea {
    font-size: 0.86em;
}

[space-select] {
    margin-top: 1em;
    margin-bottom: 1em;
}

.note {
    font-size: 0.9em;
    color: #999;
}

.title-profile {
    font-size: 0.85em;
    color: #003aa5;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
}

/* Form */
ion-input, ion-datetime {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 0.86em;
    font-weight: 400;
    text-indent: 1px;
    --placeholder-color: #999;
}

.divider-space {
    margin-bottom: 20px;
}

.gray-btn {
    color: rgb(188, 188, 188);
}

.top-btn {
    margin-top: -12px;
    margin-bottom: 10px;
}

ion-header {
    background-color: white;
}