ion-toolbar,
ion-header {
    background-color: white;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1.1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.dest-top {
    //background-color: #01096b;
    background-color: white;
}

[linespace] {
    margin-bottom: 4px;
}

ion-spinner {
    display: block;
    margin: auto;
}

.title-profile {
    font-size: 0.85em;
    color: #003aa5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
}

/* Form */
ion-item {
    --color: #222;
    --padding-bottom: 10px;
    font-size: 0.9em;
    font-weight: 400;
    text-indent: 1px;
    --placeholder-color: #999;
}

span.description {
    white-space: normal;
    font-size: 1.05em;
    color: #666;
}

ion-col.right-side-col {
    text-align: right;
}

.description-footer {
    white-space: normal;
    font-size: 0.95em;
    font-weight: 400;
    color: #333;
    font-family: 'Selectric';
}

ion-card.no-style {
    box-shadow: none !important;
    margin-bottom: -20px;
}

.title-text-commerce {
    white-space: normal;
    text-transform: uppercase;
    font-size: 1.05em;
    color: #666;
    font-family: 'Iosevka';
}

.title-text-address {
    white-space: normal;
    font-size: 1.05em;
    color: #666;
    font-family: 'Iosevka';
}

.order-text {
    white-space: normal;
    font-size: 1.05em;
    color: #333;
    font-family: 'Iosevka';
}

.description-amount {
    font-size: 1.05em;
    font-weight: 400;
    color: #333;
    font-family: 'Iosevka';
}

.description-total {
    white-space: normal;
    font-size: 1.05em;
    font-weight: 400;
    color: #333;
    font-family: 'Iosevka';
}

.description-total-text {
    white-space: nowrap;
    font-size: 1.05em;
    font-weight: 400;
    color: #333;
    font-family: 'Iosevka';
}

.description-total-text-name {
    font-family: 'Iosevka';
    font-size: 1.05em;
    font-weight: 400;
    color: #333;
    white-space: normal;
}

.status-0,
.status-1 {
    background-color: #ffc409;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    border-radius: 4px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.status-2 {
    background-color: #2dd36f;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.status-3 {
    background-color: #eb445a;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.status-4 {
    background-color: #0052e8;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

ion-card.card-payment {
    background-color: #01096b;
    color: #FFF;
}

hr.line-hr {
    //background-color: #efefef;
    height: 1px;
    //border: 0;
    border-top: 1px dashed #666;
}

span.name-product {
    font-size: 1em;
    color: #222;
    font-weight: 500;
}

span.btn-download {
    font-size: 1.1em;
}

ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
}