.fattorini-btn-light {
    color: rgb(255, 255, 255);
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

[linespace] {
    margin-top: 2em;
}

.no-result {
    color: #666;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}