<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="paddingSlide" mode="ios">
        <ion-icon class="fattorini-btn-light" slot="icon-only" slot="start" name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="paddingSlide" mode="ios">
        <ion-icon class="fattorini-btn-light" slot="icon-only" slot="start" name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-top">
        <img style="height: 36px;" src="../../assets/img/topbar/logofatto.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div linespace></div>
  <div class="no-result-content">
    <ion-icon class="tam" name="lock-closed-outline"></ion-icon>
    <p class="no-result">No tiene permisos para acceder a esta sección</p>
  </div>

  <ion-grid fixed class="top-btn">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button (click)="logout()" fill="solid" expand="block" shape="round"
          color="new">
          Salir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
