.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.no-result {
    color: #777;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.text-subtitle-cat {
    font-size: 0.9em;
    font-weight: 400;
    color: #cecece;
}

.text-title-cat {
    font-size: 1.3em;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
}

ion-searchbar {
    --background: white;
    --color: #999;
}

.img-category {
    background-size: cover !important;
    background-position: top !important;
}

.text-center-cat {
    text-align: center;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-spinner {
    display: block;
    margin: auto;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

ion-thumbnail {
    --border-radius: 100%;
    width: 70px;
    height: 70px;
}

.text-header-info {
    white-space: normal;
}

.text-info-top {
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -8px;
}

.text-info-top-bold {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: -8px;
}

.text-subtitle-commerce {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-title-commerce {
    font-size: 1em;
    font-weight: 500;
}

.banner {
    object-fit: cover !important;
}

.text-info-title {
    font-size: .7em;
    font-weight: 500;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(1, 9, 107);
}

.space {
    margin-left: 10px;
}

ion-label {
    white-space: normal !important;
}

.contenedor {
    width: 100%;
}

.description-product {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Estilos para los productos dentro del detalle del comercio*/
.text-product-name {
    font-size: 1em;
    font-weight: 500;
    color: #222;
}

.text-product-description {
    font-size: 1em;
    font-weight: 400;
}

.text-product-menu {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-product-price {
    font-weight: 600;
    color: rgb(1, 9, 107);
}

.text-product-offer {
    font-weight: 400;
    color: #999;
    text-decoration: line-through !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.title-top-left {
    padding-left: 1.3em;
    margin-bottom: -.6em;
}

.title-top-right {
    padding-right: 0.2em;
    margin-bottom: -.6em;
}

.filter {
    font-size: 1em;
    font-weight: 400;
    text-transform: initial;
}

ion-button:focus {
    outline: none;
}

ion-card.card-info {
    box-shadow: 0 3px 16px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

.text-product-stock-d {
    font-size: 1em;
    font-weight: 500;
    color: #2dd36f;
}

.text-product-stock-nd {
    font-size: 1em;
    font-weight: 500;
    color: #eb445a;
}

.opacity-false {
    opacity: 0.5;
}

span.text-count {
    font-weight: 1em;
    font-weight: 500;
}

img.img-commerce {
    border-radius: 15px;
}

img.img-commerce-cat {
    border-radius: 5px;
}

.text-subtitle-category {
    font-size: 0.9em;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

.text-subtitle-cat {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.text-subtitle-com {
    font-size: 1em;
    font-weight: 400;
    color: #666;
}

.text-title-commerce {
    font-size: 1.2em;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}