<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar..." (search)="buscar($event)"
      [debounce]="500"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">B&uacute;squeda</span>
          <div linespace></div>
          <span class="subtitle-home">Busca por producto, comercio, categor&iacute;a o menú</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Si no hay data registrada mostrar mensaje -->
  <div *ngIf="products.length <= 0 && category.length <= 0 && commerce.length <= 0 && menus.length <= 0">
    <div *ngIf="textoBuscar">
      <p class="no-result">No hay resultados para <b style="color:#333">"{{ textoBuscar }}"</b></p>
    </div>
  </div>

  <div>
    <div style="margin-top: -10px;">
      <div>
        <div *ngIf="commerce">
          <div *ngIf="commerce.length > 0" style="margin-top: 8px; margin-bottom: -12px;">
            <ion-grid>
              <ion-row>
                <ion-col class="padding-title">
                  <div class="ion-text-start">
                    <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
                    <span class="text-count">
                      {{ getCountCommerce() }} {{ getCountCommerce() > 1?'comercios encontrados':'comercio encontrado' }}
                    </span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngFor="let c of commerce">
            <ion-card [routerLink]="['/detail-commerce']"
            [queryParams]="{ id:c.commerce._id, hour:hour, user:idUser, currency:currency }"
            class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img class="img-commerce" [src]="c.commerce.picture">
                </ion-col>
                <ion-col size="9">
                  <div class="contenedor">
                    <ion-label>
                      <div>
                        <span class="text-subtitle-category">
                          {{c.commerce.category.name}}
                        </span>
                        <br>
                        <span class="text-title-commerce">
                          {{c.commerce.name}}
                        </span>
                        <br>
                        <span class="text-subtitle-com">
                          {{c.commerce.city}}
                        </span>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          </div>
        </div>

        <div *ngIf="menus">
          <div>
          <div *ngIf="menus.length > 0" style="margin-top: 8px; margin-bottom: -12px;">
            <ion-grid>
              <ion-row>
                <ion-col class="padding-title">
                  <div class="ion-text-start">
                    <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
                    <span class="text-count">
                      {{ getCountProductsByMenu() }} {{ getCountProductsByMenu() > 1?'productos coinciden con el menú de tu búsqueda':'producto coincide con el menú de tu búsqueda' }}
                    </span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngFor="let pm of menus">
            <ion-card class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;"
            [routerLink]="['/detail-product', pm._id, pm.commerce._id, pm.menu._id]"
            [queryParams]="{ hour:hour, user:idUser, currency:currency }">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div *ngIf="pm.stock_status">
                    <ion-img [src]="pm.picture[0]"></ion-img>
                  </div>
                  <div *ngIf="!pm.stock_status" class="opacity-false">
                    <ion-img [src]="pm.picture[0]"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="9">
                  <div class="contenedor">
                    <ion-label class="product">
                      <div class="description-product">
                        <span class="text-product-name">
                          {{pm.name}}
                        </span>
                        <br>
                        <span class="text-product-description">
                          {{pm.description}}
                        </span>
                        <br>
                        <div *ngIf="pm.stock_status">
                          <div *ngIf="pm.stock_quantity >= 1">
                            <span class="text-product-stock-d">
                              {{pm.stock_quantity}} {{ pm.stock_quantity > 1?'disponibles':'disponible' }}
                            </span>
                          </div>
    
                          <div *ngIf="pm.stock_quantity === 0">
                            <span class="text-product-stock-nd">
                              Agotado
                            </span>
                          </div>
    
                          <div *ngIf="pm.stock_quantity === -1">
                            <span class="text-product-stock-d">
                              Hay disponibilidad
                            </span>
                          </div>
                        </div>
    
                        <div *ngIf="!pm.stock_status">
                          <span class="text-product-stock-nd">
                            No disponible
                          </span>
                        </div>
    
                        <!-- Si el producto está en oferta -->
                        <div *ngIf="pm.offer">
                          <div *ngIf="currency === 'USD'">
                            <span class="text-product-offer">
                              <!-- Precio original -->
                              ${{ priceFormat(pm.price + pm.calculated_iva) }}
                            </span>
                            <span class="text-product-price">
                              <!-- Precio en oferta -->
                              ${{ priceFormat((pm.price + pm.calculated_iva) - ((pm.price + pm.calculated_iva) * (pm.offerpercent / 100))) }}
                            </span>
                          </div>
                          <div *ngIf="currency === 'Bs.S'">
                            <span class="text-product-offer">
                              <!-- Precio original -->
                              {{ _BS }} {{ priceFormat(priceFormat(pm.price + pm.calculated_iva) * pm.exchange_rate) }}
                            </span>
                            <br>
                            <span class="text-product-price">
                              <!-- Precio en oferta -->
                              {{ _BS }} {{ priceFormat(getOffer(pm.price + pm.calculated_iva, pm.offerpercent) * pm.exchange_rate ) }}
                            </span>
                          </div>
                        </div>
                        <!-- Si el producto no tiene oferta -->
                        <div *ngIf="!pm.offer">
                          <div *ngIf="currency === 'USD'">
                            <span class="text-product-price">
                              ${{ priceFormat(pm.price + pm.calculated_iva) }}
                            </span>
                          </div>
                          <div *ngIf="currency === 'Bs.S'">
                            <span class="text-product-price">
                              {{ _BS }} {{ priceFormat(priceFormat(pm.price + pm.calculated_iva) * pm.exchange_rate) }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          </div>
          </div>
        </div>

        <div *ngIf="products">
          <div *ngIf="products.length > 0" style="margin-top: 8px; margin-bottom: -12px;">
            <ion-grid>
              <ion-row>
                <ion-col class="padding-title">
                  <div class="ion-text-start">
                    <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
                    <span class="text-count">
                      {{ getCountProducts() }} {{ getCountProducts() > 1?'productos encontrados':'producto encontrado' }}
                    </span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngFor="let p of products">
            <ion-card class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;"
            [routerLink]="['/detail-product', p._id, p.commerce._id, p.menu._id]"
            [queryParams]="{ hour:hour, user:idUser, currency:currency }">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div *ngIf="p.stock_status">
                    <ion-img [src]="p.picture[0]"></ion-img>
                  </div>
                  <div *ngIf="!p.stock_status" class="opacity-false">
                    <ion-img [src]="p.picture[0]"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="9">
                  <div class="contenedor">
                    <ion-label class="product">
                      <div class="description-product">
                        <span class="text-product-name">
                          {{p.name}}
                        </span>
                        <br>
                        <span class="text-product-description">
                          {{p.description}}
                        </span>
                        <br>
                        <div *ngIf="p.stock_status">
                          <div *ngIf="p.stock_quantity >= 1">
                            <span class="text-product-stock-d">
                              {{p.stock_quantity}} {{ p.stock_quantity > 1?'disponibles':'disponible' }}
                            </span>
                          </div>
    
                          <div *ngIf="p.stock_quantity === 0">
                            <span class="text-product-stock-nd">
                              Agotado
                            </span>
                          </div>
    
                          <div *ngIf="p.stock_quantity === -1">
                            <span class="text-product-stock-d">
                              Hay disponibilidad
                            </span>
                          </div>
                        </div>
    
                        <div *ngIf="!p.stock_status">
                          <span class="text-product-stock-nd">
                            No disponible
                          </span>
                        </div>
    
                        <!-- Si el producto está en oferta -->
                        <div *ngIf="p.offer">
                          <div *ngIf="currency === 'USD'">
                            <span class="text-product-offer">
                              <!-- Precio original -->
                              ${{ priceFormat(p.price + p.calculated_iva) }}
                            </span>
                            <span class="text-product-price">
                              <!-- Precio en oferta -->
                              ${{ priceFormat((p.price + p.calculated_iva) - ((p.price + p.calculated_iva) * (p.offerpercent / 100))) }}
                            </span>
                          </div>
                          <div *ngIf="currency === 'Bs.S'">
                            <span class="text-product-offer">
                              <!-- Precio original -->
                              {{ _BS }} {{ priceFormat(priceFormat(p.price + p.calculated_iva) * p.exchange_rate) }}
                            </span>
                            <br>
                            <span class="text-product-price">
                              <!-- Precio en oferta -->
                              {{ _BS }} {{ priceFormat(getOffer(p.price + p.calculated_iva, p.offerpercent) * p.exchange_rate ) }}
                            </span>
                          </div>
                        </div>
                        <!-- Si el producto no tiene oferta -->
                        <div *ngIf="!p.offer">
                          <div *ngIf="currency === 'USD'">
                            <span class="text-product-price">
                              ${{ priceFormat(p.price + p.calculated_iva) }}
                            </span>
                          </div>
                          <div *ngIf="currency === 'Bs.S'">
                            <span class="text-product-price">
                              {{ _BS }} {{ priceFormat(priceFormat(p.price + p.calculated_iva) * p.exchange_rate) }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          </div>
        </div>

        <div *ngIf="category">
          <div *ngIf="category.length > 0" style="margin-top: 8px; margin-bottom: -12px;">
            <ion-grid>
              <ion-row>
                <ion-col class="padding-title">
                  <div class="ion-text-start">
                    <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
                    <span class="text-count">
                      {{ getCountCategory() }} {{ getCountCategory() > 1?'categorías encontradas':'categoría encontrada' }}
                    </span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div *ngFor="let cat of category">
            <ion-card class="paddingSlide" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;"
            [routerLink]="['/list-commerce']"
            [queryParams]="{ category:cat.category._id, user:idUser, hour:hour, currency:currency }">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img class="img-commerce-cat" [src]="cat.category.picture">
                </ion-col>
                <ion-col size="9">
                  <div class="contenedor">
                    <ion-label>
                      <div>
                        <span class="text-title-commerce">
                          {{cat.category.name}}
                        </span>
                        <br>
                        <span class="text-subtitle-cat">
                          {{ cat.count }} {{ cat.count > 1?'comercios afiliados':'comercio afiliado' }}
                        </span>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          </div>

        </div>

      </div>
    </div>

  </div>

</ion-content>