ion-select.select-status {
    width: 100%;
    max-width: 100%;
    font-size: 0.95em;
    color: #666;
    padding-right: 5px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

ion-toolbar,
ion-header {
    background-color: white;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-card {
    box-shadow: 0 3px 4px rgba(114, 114, 114, 0.1), 0 3px 4px rgba(116, 116, 116, 0.1);
}