<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()" expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline" class="fattorini-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Cambio de status</span>
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <div class="item-content">
      <ion-card mode="ios">
        <ion-item lines="none">
          <ion-select mode="md" [(ngModel)]="data.status" (ionChange)="changeStatus($event)" placeholder="Status"
            class="select-status ion-no-padding" cancelText="Cerrar" okText="Cambiar"
            [selectedText]="selectedValStatus">
            <ion-label>Status</ion-label>
            <ion-select-option *ngFor="let s of listStatus" [value]="s.id">{{ s.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-grid style="margin-top: -20px;">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button (click)="updateStatus(id)" type="submit" fill="solid" expand="block" color="new">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>