<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="paddingSlide fattorini-btn" [routerLink]="['/addcategory']">
        Nuevo
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="250">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Categorías</span>
          <div linespace></div>
          <span class="subtitle-home">Listado del menú de tus productos</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="menu.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <div *ngIf="menu.length === 0 && isLoader" class="no-result-content">
    <ion-icon class="tam" name="book-outline"></ion-icon>
    <p class="no-result">No hay menús creados</p>
  </div>

  <div *ngIf="menu.length > 0 && isLoader">
    <div style="margin-top: -10px;">
      <div *ngFor="let m of menu | filtromenu: textoBuscar">
        <ion-card class="paddingSlide" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
          <ion-grid>
            <ion-row>
              <ion-col class="edit paddingSlide" size="2" [routerLink]="['/edit-category']"
                [queryParams]="{ id:m._id, commerce:m.commerce }">
                <div>
                  <ion-icon class="tam2" name="create-outline"></ion-icon>
                </div>

              </ion-col>
              <ion-col size="10">
                <div class="contenedor">
                  <ion-label>
                    <div>
                      <span class="text-title-commerce">
                        {{m.name}}
                      </span>
                      <br>
                      <span class="text-subtitle-commerce">
                        {{m.count}} {{ m.count > 1?'productos':'producto' }}
                      </span>
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div *ngIf="m.status">
                  <ion-button (click)="statusMenu(m._id, m.status)" size="small" fill="solid" expand="block"
                    color="new" mode="ios">
                    <ion-label>
                      <span class="text-delete">
                        Desactivar
                      </span>
                    </ion-label>
                  </ion-button>
                </div>

                <div *ngIf="!m.status">
                  <ion-button (click)="statusMenu(m._id, m.status)" size="small" fill="solid" expand="block"
                    color="light" mode="ios">
                    <ion-label>
                      <span class="text-delete">
                        Activar
                      </span>
                    </ion-label>
                  </ion-button>
                </div>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>