<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Comentarios</span>
          <div linespace></div>
          <span class="subtitle-home">Califica al comercio ¡tu opinión cuenta!</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="listComments.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si el usuario no tiene direcciones guardadas, mostrar mensaje -->
  <div *ngIf="listComments.length === 0 && isLoader" class="no-result-content">
    <ion-icon class="tam" name="chatbubble-ellipses-outline"></ion-icon>
    <p class="no-result">Aún no hay comentarios registrados</p>
  </div>

  <div *ngIf="listComments.length > 0 && isLoader">
    <div style="margin-top: -10px;">
      <div *ngFor="let comments of listComments">
        <ion-card class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
          <ion-list style="margin-bottom: 0.8em;">
            <ion-item lines="none" style="margin-top: 0.3em;">
              <ion-thumbnail slot="start">
                <ion-img [src]="comments.commerce.picture"></ion-img>
              </ion-thumbnail>
              <ion-label class="text-header-info">
                <span class="text-date-comment">{{moment(comments.created_at).format('DD/MM/YYYY')}}</span>
                <br>
                <span class="text-title-commerce">{{comments.commerce.name}}</span>
                <br>
                <span *ngIf="comments.status != 1" class="text-rating">
                  <ion-icon class="inactive" name="star"></ion-icon>
                  <ion-icon class="inactive" name="star"></ion-icon>
                  <ion-icon class="inactive" name="star"></ion-icon>
                  <ion-icon class="inactive" name="star"></ion-icon>
                  <ion-icon class="inactive" name="star"></ion-icon>
                </span>

                <div *ngIf="comments.status == 1">
                  <div *ngIf="comments.score == 1">
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                  </div>
                  <div *ngIf="comments.score == 2">
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                  </div>
                  <div *ngIf="comments.score == 3">
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                  </div>
                  <div *ngIf="comments.score == 4">
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="inactive" name="star-outline"></ion-icon>
                  </div>
                  <div *ngIf="comments.score == 5">
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                    <ion-icon class="fattorini-rating" name="star"></ion-icon>
                  </div>
                </div>
              </ion-label>
            </ion-item>
            <ion-grid *ngIf="comments.status == 1 && comments.text != ''">
              <ion-row>
                <ion-col size="12">
                  <span>
                    {{ comments.text }}
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="comments.status != 1">
              <ion-row>
                <ion-col size="6">
                  <ion-button (click)="addComment(comments._id)" size="small" fill="solid" expand="block" color="new"
                    mode="ios">
                    <ion-label>
                      <span class="text-delete">
                        Calificar
                      </span>
                    </ion-label>
                    <ion-icon class="delete" slot="start" name="create-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>