<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Tasa del dólar</span>
          <div linespace></div>
          <span class="subtitle-home">Edita la tasa al cambio del día</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #formulario="ngForm" action="put" (ngSubmit)="updateTasa(config.commerce, selectedTasa)">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-item>
            <ion-input required name="tasa" [(ngModel)]="selectedTasa" placeholder="Tasa del día" type="text"
              minlength="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" shape="round"
            color="new">
            Actualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>