.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-spinner {
    display: block;
    margin: auto;
}

span.text-count {
    font-weight: 1em;
    font-weight: 500;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

img.img-commerce {
    border-radius: 15px;
}

.text-subtitle-category {
    font-size: 0.9em;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

.top-btn {
    margin-top: -8px;
}

.text-subtitle-commerce {
    font-size: 1em;
    font-weight: 400;
    color: #666;
}

.text-title-commerce {
    font-size: 1.2em;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}