<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-no-padding">
  <ion-grid class="divpad grid-form">
    <ion-row class="row-form">
      <ion-col>
        <div topspace></div>
        <ion-label class="title-login">Iniciar sesión</ion-label>
        <br>
        <div linespace></div>
        <form #formulario="ngForm" action="post" (ngSubmit)="login()">
          <div class="form-space">
            <ion-item>
              <ion-icon icon-small name="mail-outline" class="fattorini-btn"></ion-icon>
              <ion-input type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="credentials.email"
                required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="key-outline" class="fattorini-btn"></ion-icon>
              <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password"
                [(ngModel)]="credentials.password" minlength="6" required></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" class="gray-btn"></ion-icon>
            </ion-item>
            <!--             <div *ngIf="error">
              <ion-label class="valid-form">Usuario o contraseña inválidos</ion-label>
            </div> -->
            <!-- <ion-label class="forget-password paddingSlide">¿Olvidó su contraseña?</ion-label> -->
          </div>
          <ion-grid fixed class="top-btn">
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" shape="round"
                  color="new">
                  <span class="uppercase-text">Ingresar</span>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <div>
          <ion-item lines="none">
            <ion-label class="ion-text-center register">¿No tienes cuenta? <span class="link-button paddingSlide"
                routerLink="/register" routerDirection="forward">Regístrate</span></ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>