ion-toolbar {
    background-color: white;
}

ion-footer {
    --background: #222428 !important;
    --ion-background-color: #222428 !important;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

ion-card.card-info {
    box-shadow: 0 3px 5px rgba(114, 114, 114, 0.1), 0 3px 4px rgba(116, 116, 116, 0.2);
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.text-title-commerce {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(1, 9, 107);
}

ion-spinner {
    display: block;
    margin: auto;
}

.text-subtitle-commerce {
    font-size: 1em;
    font-weight: 400;
    color: #666;
}

ion-label.dir-text {
    font-size: 0.9em;
    color: #666;
    white-space: normal;
    padding-right: 15px;
}

ion-select.select-address {
    width: 100%;
    max-width: 100%;
    font-size: 0.86em;
}

#selectedSector {
    width: 100%;
    max-width: 100%;
    font-size: 1em;
}

.dir-text {
    white-space: normal;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

ion-textarea {
    font-size: 0.86em;
}

[space-select] {
    margin-top: 1em;
    margin-bottom: 1em;
}

.title-profile {
    font-size: 0.85em;
    color: #003aa5;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
}

/* Form */
ion-input {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 0.86em;
    font-weight: 400;
    text-indent: 1px;
    --placeholder-color: #999;
}

.divider-space {
    margin-bottom: 20px;
}

.adddir {
    color: #666;
    font-size: 0.95em;
}

.disable {
    color: #999;
    font-size: 0.95em;
}

ion-item.info-admin {
    --background: #fffbe6 !important;
    border: 1px solid #ffe58f;

}

ion-card.card-msg {
    box-shadow: 0 1px 1px rgba(114, 114, 114, 0), 0 1px 1px rgba(116, 116, 116, 0);
    border-radius: 0px;
}

ion-label.complete-data-msg {
    white-space: normal !important;
}

.valid-admin-sub {
    font-size: 0.85em;
    font-weight: 400;
    font-weight: #333;
}

.valid-admin-title {
    font-size: 0.9em;
    font-weight: 500;
}

.margin-form {
    margin-top: -1.7em;
}

.text-subtotal-price {
    font-size: 1.1em;
    color: white;
    font-weight: 500;
}

.description-total {
    font-size: 0.9em;
    font-weight: 500;
    color: #003aa5;
}

span.description {
    white-space: normal;
    font-size: 0.85em;
    color: #666;
}

ion-col.right-side-col {
    text-align: right;
}

.description-amount {
    font-size: 0.85em;
    font-weight: 500;
    color: #222;
}

hr.line-hr {
    //background-color: #efefef;
    height: 1px;
    //border: 0;
    border-top: 1px dashed #cccccc;
}

.rif-text {
    text-transform: uppercase !important;
}

.text-error {
    font-size: 0.85em;
    color: #f00;
}