<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="popPage()" expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline" class="fattorini-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Dirección de entrega</span>
          <div linespace></div>
          <span class="subtitle-home">Sea lo más exacto posible</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="address.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="info.pickup">
    <ion-item lines="none" style="margin-bottom: -0.9em;">
      <span style="color:#999; font-size: 0.9em; padding-right: 8px; padding-left: 5px;">
        Delivery
      </span>
      <ion-toggle color="success" [(ngModel)]="isShipping" (ngModelChange)="changeShipping($event)"></ion-toggle>
      <span style="color:#999; font-size: 0.9em; padding-left: 8px;">
        Retiro en el local
      </span>
    </ion-item>
  </div>

  <div *ngIf="address.length === 0 && isLoader">
    <div *ngIf="!isShipping">
      <form #formularioSA="ngForm" action="post"
        (ngSubmit)="stepOrderPayment(order, commerce, user, tarifa, false, noteSelected, nameSelected, idSelected)">
        <ion-card mode="ios" class="dest-top">
          <ion-card-content>
            <p class="title-profile">Dirección de entrega</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-textarea auto-grow name="addressSelected" placeholder="Dirección" [(ngModel)]="addressSelected"
                    maxlength="250" minlength="10" required></ion-textarea>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Estado</p>
            <ion-list>
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                    placeholder="Seleccione" name="stateSelected" (ionChange)="changeState($event)"
                    [(ngModel)]="stateSelected" [selectedText]="stateSelected" required>
                    <ion-label>Estado</ion-label>
                    <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Ciudad</p>
            <ion-list>
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                    placeholder="Seleccione" name="citySelected" (ionChange)="changeCity($event)"
                    [(ngModel)]="citySelected" [selectedText]="citySelected" required>
                    <ion-label>Ciudad</ion-label>
                    <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Sector</p>
            <ion-list>
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <div *ngIf="z.length === 0" class="disable">
                    No hay sectores disponibles
                  </div>

                  <div id="selectedSector" *ngIf="z.length > 0">
                    <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                      name="sectorSelected" (ionChange)="changeSector($event)" [(ngModel)]="sectorSelected"
                      [selectedText]="sectorSelected" required>
                      <ion-label>Sectores</ion-label>
                      <ion-select-option *ngFor="let zone of z" [value]="zone.name">{{ zone.name }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Teléfono</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-input type="tel" name="phone" [(ngModel)]="user.phone" placeholder="Teléfono" required
                    pattern="^(\+|\d)[0-9]{10,12}$">
                  </ion-input>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <p class="title-profile">Nota del pedido</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="full" class="ion-no-padding">
                  <ion-textarea auto-grow name="note" placeholder="Instrucciones adicionales" [(ngModel)]="noteSelected"
                    maxlength="250"></ion-textarea>
                </ion-item>
              </div>
            </ion-list>

            <div class="divider-space"></div>
            <ion-item class="paddingSlide ion-no-padding adddir" lines="none">
              <ion-checkbox name="addNewAddress" color="success" slot="start" [(ngModel)]="isChecked"
                (ionChange)="addNewAddress($event)"></ion-checkbox>
              <ion-label>Guardar esta dirección</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>

        <div>
          <ion-card mode="ios" style="margin-top: 12px; z-index: 1;">
            <ion-card-content>
              <p class="title-profile">Factura a nombre de</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-input type="text" name="name" [(ngModel)]="nameSelected"
                      placeholder="Nombre y Apellido / Empresa" required minlength="6">
                    </ion-input>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Cédula / RIF</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-input class="rif-text" type="text" name="ci" [(ngModel)]="idSelected"
                      placeholder="V-19634567 / J-40308010-2" required simpleMask="V-99999999" minlength="10">
                    </ion-input>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>

        <div>
          <ion-card mode="ios">
            <ion-card-content>
              <ion-list mode="ios">
                <div>
                  <ion-item class="total-order" lines="none" class="ion-no-padding">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col size="6">
                          <ion-label>
                            <span class="description">
                              Envío
                            </span>
                          </ion-label>
                        </ion-col>
                        <ion-col size="6" class="right-side-col">
                          <ion-label>
                            <span class="description">
                              ${{ priceFormat(tarifa) }}
                            </span>
                          </ion-label>
                        </ion-col>
                      </ion-row>
                      <div *ngIf="config.user_pay_commission">
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <span class="description">
                                Servicio App
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <span class="description">
                                ${{ priceFormat(config.commission_amount) }}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </div>
                      <ion-row>
                        <ion-col size="6">
                          <ion-label>
                            <div linespace></div>
                            <span class="description">
                              Subtotal
                            </span>
                          </ion-label>
                        </ion-col>
                        <ion-col size="6" class="right-side-col">
                          <ion-label>
                            <div linespace></div>
                            <span class="description">
                              ${{ priceFormat(getSubtotal())}}
                            </span>
                          </ion-label>
                        </ion-col>
                      </ion-row>
                      <div *ngIf="config.user_pay_commission">
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <div linespace></div>
                              <span class="description-total">
                                Total
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <div linespace></div>
                              <span class="description-total">
                                ${{ priceFormat((getSubtotal() + config.commission_amount) + tarifa)}}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </div>

                      <div *ngIf="!config.user_pay_commission">
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <div linespace></div>
                              <span class="description-total">
                                Total
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <div linespace></div>
                              <span class="description-total">
                                ${{ priceFormat(getSubtotal() + tarifa)}}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </div>
                    </ion-grid>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>

        <div>
          <div *ngIf="sectorSelected != 'No hay sectores disponibles'">
            <ion-button type="submit" [disabled]="formularioSA.invalid" fill="solid" expand="block" color="new">
              Siguiente
            </ion-button>
          </div>

          <div *ngIf="sectorSelected === 'No hay sectores disponibles'">
            <ion-button type="submit" disabled fill="solid" expand="block" color="new">
              Siguiente
            </ion-button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="isShipping" style="margin-top: 2.5em;">
      <form #formularioPickUp="ngForm" action="post"
        (ngSubmit)="stepOrderPaymentPickup(order, commerce, user, 0, true, nameSelected, idSelected)">
        <div class="margin-form">
          <ion-card mode="ios" class="dest-top">
            <ion-card-content>
              <p class="title-profile">Teléfono</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-input type="tel" name="phone" [(ngModel)]="user.phone" placeholder="Teléfono" required
                      pattern="^(\+|\d)[0-9]{10,12}$">
                    </ion-input>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <div>
            <ion-card mode="ios" style="margin-top: 12px; z-index: 1;">
              <ion-card-content>
                <p class="title-profile">Factura a nombre de</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input type="text" name="name" [(ngModel)]="nameSelected"
                        placeholder="Nombre y Apellido / Empresa" required minlength="6">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-list>

                <div class="divider-space"></div>
                <p class="title-profile">Cédula / RIF</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input class="rif-text" type="text" name="ci" [(ngModel)]="idSelected"
                        placeholder="V-19634567 / J-40308010-2" required simpleMask="V-99999999" minlength="10">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>

        </div>

        <div>
          <ion-button type="submit" [disabled]="formularioPickUp.invalid" fill="solid" expand="block" color="new">
            Siguiente
          </ion-button>
        </div>

      </form>
    </div>
  </div>

  <div *ngIf="address.length > 0 && isLoader">
    <div *ngIf="sectorSelected === 'Coloque un sector disponible' && !isShipping">
      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 0.3em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label class="complete-data-msg">
            <span class="valid-admin-sub">
              Este comercio no realiza entregas en el estado, ciudad o sector asignado
            </span>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div *ngIf="isShipping" style="margin-top: 2.5em;">
      <form #formularioPickUp="ngForm" action="post"
        (ngSubmit)="stepOrderPaymentPickup(order, commerce, user, true, nameSelected, idSelected)">
        <div class="margin-form">
          <ion-card mode="ios" class="dest-top">
            <ion-card-content>
              <p class="title-profile">Teléfono</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-input type="tel" name="phone" [(ngModel)]="user.phone" placeholder="Teléfono" required
                      pattern="^(\+|\d)[0-9]{10,12}$">
                    </ion-input>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <div>
            <ion-card mode="ios" style="margin-top: 12px; z-index: 1;">
              <ion-card-content>
                <p class="title-profile">Factura a nombre de</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input type="text" name="name" [(ngModel)]="nameSelected"
                        placeholder="Nombre y Apellido / Empresa" required minlength="6">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-list>

                <div class="divider-space"></div>
                <p class="title-profile">Cédula / RIF</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input class="rif-text" type="text" name="ci" [(ngModel)]="idSelected"
                        placeholder="V-19634567 / J-40308010-2" required simpleMask="V-99999999" minlength="10">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <div>
          <ion-button type="submit" [disabled]="formularioPickUp.invalid" fill="solid" expand="block" color="new">
            Siguiente
          </ion-button>
        </div>

      </form>

    </div>

    <div *ngIf="!isShipping">
      <ion-list>
        <div class="item-content">
          <ion-card mode="ios">
            <ion-item lines="none">
              <ion-select mode="md" [(ngModel)]="dataDir" (ionChange)="changeAddress($event)" name="selectedDir"
                placeholder="Seleccione" class="select-address ion-no-padding" cancelText="Cerrar" okText="Aceptar"
                [selectedText]="selectedDir">
                <ion-label>Direcciones</ion-label>
                <ion-select-option *ngFor="let dir of address" [value]="dir._id">
                  <ion-label>
                    <span>
                      {{ dir.sector }}, {{ dir.city }}, {{ dir.state }}, {{ dir.address }}
                    </span>
                  </ion-label>
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </div>
      </ion-list>

      <div class="margin-form">
        <form #formulario="ngForm" action="post"
          (ngSubmit)="stepOrderPayment(order, commerce, user, tarifa, false, noteSelected, nameSelected, idSelected)">

          <ion-card mode="ios" class="dest-top">
            <ion-card-content>
              <p class="title-profile">Dirección de entrega</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-textarea auto-grow name="addressSelected" placeholder="Sea lo más específico posible"
                      [(ngModel)]="addressSelected" maxlength="250" minlength="10" required (keyup)="onKey($event)">
                    </ion-textarea>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Estado</p>
              <ion-list>
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                      name="stateSelected" (ionChange)="changeState($event)" [(ngModel)]="stateSelected"
                      [selectedText]="stateSelected" required>
                      <ion-label>Estado</ion-label>
                      <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Ciudad</p>
              <ion-list>
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                      name="citySelected" (ionChange)="changeCity($event)" [(ngModel)]="citySelected"
                      [selectedText]="citySelected" required>
                      <ion-label>Ciudad</ion-label>
                      <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Sector</p>
              <ion-list>
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <div *ngIf="z.length === 0" class="disable">
                      No hay sectores para esta ciudad
                    </div>

                    <div id="selectedSector" *ngIf="z.length > 0">
                      <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                        name="sectorSelected" (ionChange)="changeSector($event)" [(ngModel)]="sectorSelected"
                        [selectedText]="sectorSelected" required>
                        <ion-label>Sectores</ion-label>
                        <ion-select-option *ngFor="let zone of z" [value]="zone.name">{{ zone.name }}
                        </ion-select-option>
                      </ion-select>
                    </div>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Teléfono</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-input type="tel" name="phone" [(ngModel)]="user.phone" placeholder="Teléfono" required
                      pattern="^(\+|\d)[0-9]{10,12}$">
                    </ion-input>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <p class="title-profile">Nota del pedido</p>
              <ion-list mode="ios">
                <div>
                  <ion-item lines="full" class="ion-no-padding">
                    <ion-textarea auto-grow name="note" placeholder="Instrucciones adicionales"
                      [(ngModel)]="noteSelected" maxlength="250"></ion-textarea>
                  </ion-item>
                </div>
              </ion-list>

              <div class="divider-space"></div>
              <ion-item *ngIf="isAddress" class="paddingSlide ion-no-padding adddir" lines="none">
                <ion-checkbox name="addNewAddress" color="success" slot="start" [(ngModel)]="isChecked"
                  (ionChange)="addNewAddress($event)"></ion-checkbox>
                <ion-label>Guardar esta dirección</ion-label>
              </ion-item>

              <ion-item *ngIf="!isAddress" class="paddingSlide ion-no-padding adddir" lines="none">
                <ion-checkbox disabled></ion-checkbox>
                <ion-label>Guardar esta dirección</ion-label>
              </ion-item>

            </ion-card-content>
          </ion-card>

          <div>
            <ion-card mode="ios" style="margin-top: 12px; z-index: 1;">
              <ion-card-content>
                <p class="title-profile">Factura a nombre de</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input type="text" name="name" [(ngModel)]="nameSelected"
                        placeholder="Nombre y Apellido / Empresa" required minlength="6">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-list>

                <div class="divider-space"></div>
                <p class="title-profile">Cédula / RIF</p>
                <ion-list mode="ios">
                  <div>
                    <ion-item lines="full" class="ion-no-padding">
                      <ion-input class="rif-text" type="text" name="ci" [(ngModel)]="idSelected" #myControl="ngModel"
                        placeholder="V-19634567 / J-40308010-2" required pattern="^[JGVEP][-][0-9]{8}([-][0-9]){0,1}$"
                        minlength="10" maxlength="12">
                      </ion-input>
                    </ion-item>
                    <div [hidden]="myControl.valid" class="alert alert-danger text-error">Debes introducir un RIF o
                      cédula válido, ejemplo: J-12345678-9 o V-12345678</div>
                  </div>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>

          <div>
            <ion-card mode="ios">
              <ion-card-content>
                <ion-list mode="ios">
                  <div>
                    <ion-item class="total-order" lines="none" class="ion-no-padding">
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <span class="description">
                                Tasa de cambio
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <span *ngIf="currency === 'USD'" class="description">
                                Bs.S {{ priceFormatTasa(config.exchange_rate) }}
                              </span>
                              <span *ngIf="currency === 'Bs.S'" class="description">
                                Bs.S {{ priceFormatTasa(config.exchange_rate) }}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <span class="description">
                                Envío
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <span *ngIf="currency === 'USD'" class="description">
                                ${{ priceFormat(tarifa) }}
                              </span>
                              <span *ngIf="currency === 'Bs.S'" class="description">
                                Bs.S {{ priceFormatTasa(priceFormat(tarifa * config.exchange_rate)) }}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                        <div *ngIf="config.user_pay_commission">
                          <ion-row>
                            <ion-col size="6">
                              <ion-label>
                                <span class="description">
                                  Servicio App
                                </span>
                              </ion-label>
                            </ion-col>
                            <ion-col size="6" class="right-side-col">
                              <ion-label>
                                <span *ngIf="currency === 'USD'" class="description">
                                  ${{ priceFormat(config.commission_amount) }}
                                </span>

                                <span *ngIf="currency === 'Bs.S'" class="description">
                                  Bs.S
                                  {{ priceFormatTasa(priceFormat(config.commission_amount * config.exchange_rate)) }}
                                </span>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </div>
                        <ion-row>
                          <ion-col size="6">
                            <ion-label>
                              <div linespace></div>
                              <span class="description">
                                Productos
                              </span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="6" class="right-side-col">
                            <ion-label>
                              <div linespace></div>
                              <span *ngIf="currency === 'USD'" class="description">
                                ${{ priceFormat(getSubtotal()) }}
                              </span>

                              <span *ngIf="currency === 'Bs.S'" class="description">
                                Bs.S {{ priceFormatTasa(priceFormat(getSubtotal() * config.exchange_rate)) }}
                              </span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                        <hr class="line-hr">
                        <div *ngIf="config.user_pay_commission">
                          <ion-row>
                            <ion-col size="6">
                              <ion-label>
                                <div linespace></div>
                                <span class="description-total">
                                  Total a pagar
                                </span>
                              </ion-label>
                            </ion-col>
                            <ion-col size="6" class="right-side-col">
                              <ion-label>
                                <div linespace></div>
                                <span *ngIf="currency === 'USD'" class="description-total">
                                  ${{ priceFormat(getSubtotal() + tarifa + config.commission_amount)}}
                                </span>

                                <span *ngIf="currency === 'Bs.S'" class="description-total">
                                  Bs.S
                                  {{ priceFormatTasa(priceFormat((getSubtotal() + tarifa + config.commission_amount) * config.exchange_rate)) }}
                                </span>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </div>

                        <div *ngIf="!config.user_pay_commission">
                          <ion-row>
                            <ion-col size="6">
                              <ion-label>
                                <div linespace></div>
                                <span class="description-total">
                                  Total a pagar
                                </span>
                              </ion-label>
                            </ion-col>
                            <ion-col size="6" class="right-side-col">
                              <ion-label>
                                <div linespace></div>
                                <span *ngIf="currency === 'USD'" class="description-total">
                                  ${{ priceFormat(getSubtotal() + tarifa) }}
                                </span>

                                <span *ngIf="currency === 'Bs.S'" class="description-total">
                                  Bs.S
                                  {{ priceFormatTasa(priceFormat((getSubtotal() + tarifa) * config.exchange_rate)) }}
                                </span>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </div>
                      </ion-grid>
                    </ion-item>
                  </div>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>

          <div>
            <div *ngIf="sectorSelected != 'Coloque un sector disponible' && z.length != 0">
              <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" color="new">
                Siguiente
              </ion-button>
            </div>

            <div *ngIf="sectorSelected === 'Coloque un sector disponible' || z.length === 0">
              <ion-button type="submit" disabled fill="solid" expand="block" color="new">
                Siguiente
              </ion-button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</ion-content>
<div *ngIf="isShipping">
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <div>
        <ion-item lines="none" color="dark" class="ion-no-padding ion-text-center">
          <ion-label>
            <div *ngIf="currency === 'USD'">
              <span class="text-subtotal">
                Total:
              </span>
              <span class="text-subtotal-price" *ngIf="config.user_pay_commission">
                ${{ priceFormat(getSubtotal() + config.commission_amount) }}
              </span>
              <span class="text-subtotal-price" *ngIf="!config.user_pay_commission">
                ${{ priceFormat(getSubtotal()) }}
              </span>
            </div>

            <div *ngIf="currency === 'Bs.S'">
              <span class="text-subtotal">
                Total:
              </span>
              <span class="text-subtotal-price" *ngIf="config.user_pay_commission">
                Bs.S
                {{ priceFormatTasa(priceFormat((getSubtotal() + config.commission_amount) * config.exchange_rate)) }}
              </span>
              <span class="text-subtotal-price" *ngIf="!config.user_pay_commission">
                Bs.S {{ priceFormatTasa(priceFormat(getSubtotal() * config.exchange_rate)) }}
              </span>
            </div>
          </ion-label>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>

<div *ngIf="!isShipping">
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <div>
        <ion-item lines="none" color="dark" class="ion-no-padding ion-text-center">
          <ion-label>
            <div *ngIf="currency === 'USD'">
              <span class="text-subtotal">
                Total:
              </span>

              <span class="text-subtotal-price" *ngIf="config.user_pay_commission">
                ${{ priceFormat((getSubtotal() + config.commission_amount) + tarifa) }}
              </span>

              <span class="text-subtotal-price" *ngIf="!config.user_pay_commission">
                ${{ priceFormat(getSubtotal() + tarifa) }}
              </span>
            </div>

            <div *ngIf="currency === 'Bs.S'">
              <span class="text-subtotal">
                Total:
              </span>

              <span class="text-subtotal-price" *ngIf="config.user_pay_commission">
                Bs.S
                {{ priceFormatTasa(priceFormat(((getSubtotal() + config.commission_amount) + tarifa) * config.exchange_rate)) }}
              </span>

              <span class="text-subtotal-price" *ngIf="!config.user_pay_commission">
                Bs.S {{ priceFormatTasa(priceFormat((getSubtotal() + tarifa) * config.exchange_rate)) }}
              </span>
            </div>
          </ion-label>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>