<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<ion-app>
  <app-menu></app-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>