<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-no-padding">
  <ion-grid class="divpad grid-form">
    <ion-row class="row-form">
      <ion-col>
        <div topspace></div>
        <ion-label class="title-login">Crear cuenta</ion-label>
        <br>
        <div linespace></div>
        <form #formulario="ngForm" action="post" (ngSubmit)="register()">
          <div class="form-space">
            <ion-item>
              <ion-icon icon-small name="mail-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="data.email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="person-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="text" placeholder="Nombre" name="firstname" [(ngModel)]="data.firstname"
                pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="person-add-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="text" placeholder="Apellido" name="lastname" [(ngModel)]="data.lastname"
                pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"></ion-input>
            </ion-item>

            <ion-item>
              <ion-col class="ion-no-padding ion-no-margin" size="2.8">
                <ion-select required [(ngModel)]="selectedNationality" name="nationality"
                  (ionChange)="changeNationality($event)" class="select-nationality" cancelText="Cerrar"
                  okText="Cambiar">
                  <ion-label>Nacionalidad</ion-label>
                  <ion-select-option class="ion-text-center" *ngFor="let n of nationality" [value]="n.name">{{n.name}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin" size="9.2">
                <ion-input required type="text" placeholder="Cédula" name="ci" [(ngModel)]="selectedCI"
                  pattern="^[0-9]{7,9}$" required></ion-input>
              </ion-col>
            </ion-item>

            <!--             <ion-item>
              <ion-icon icon-small name="reader-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="text" placeholder="Cédula Ej: V-18301567" name="ci" [(ngModel)]="data.ci"
                pattern="^[V][-][0-9]{8}$" required></ion-input>
            </ion-item> -->

            <ion-item>
              <ion-icon icon-small name="calendar-outline" class="fattorini-btn"></ion-icon>
              <ion-datetime name="birthday" [(ngModel)]="data.birthday" [pickerOptions]="customPickerOptions"
                placeholder="Fecha de nacimiento" cancelText="Cancelar" doneText="Guardar" display-format="DD/MM/YYYY"
                (ionChange)="cambioFecha($event)" [max]="age18" required></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="call-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="tel" placeholder="Teléfono" name="phone" [(ngModel)]="data.phone"
                pattern="^(\+|\d)[0-9]{10,12}$"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="key-outline" class="fattorini-btn"></ion-icon>
              <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password"
                [(ngModel)]="data.password" minlength="6" required></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" class="gray-btn"></ion-icon>
            </ion-item>

            <!-- Verificación de las políticas -->
            <ion-item class="paddingSlide ion-no-padding adddir" lines="none" mode="ios">
              <ion-checkbox name="terms" color="success" slot="start" [(ngModel)]="isChecked"
                (ionChange)="changeTerms($event)" required></ion-checkbox>
              <ion-label class="terms paddingSlide">Acepto los Términos y Condiciones de Fattorini</ion-label>
            </ion-item>

          </div>
          <ion-grid fixed class="top-btn">
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-button type="submit" [disabled]="formulario.invalid || !isChecked" fill="solid" expand="block"
                  shape="round" color="new">
                  Registrar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <div>
          <ion-item lines="none">
            <ion-label class="ion-text-center register">Si ya tienes cuenta, <span class="link-button paddingSlide"
                routerLink="/login">Inicia sesión</span></ion-label>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>