ion-content {
    display: flex;
    align-content: center;
}

ion-header,
ion-toolbar {
    --background: transparent !important;
    --ion-background-color: transparent !important;
}

ion-grid.grid-form {
    height: 100%;
}

ion-row.row-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

.title-login {
    font-size: 26px;
    font-weight: 600;
    color: #222;
    padding-left: 19px;
}

.subtitle-login {
    font-size: 14px;
    font-weight: 400;
    //color: #fff;
    color: #999;
    display: flex;
    justify-content: center;
}

ion-label.valid-form {
    font-size: 13.5px;
    font-weight: 400;
    color: #fc3c3d;
    padding-left: 20px;
}

[linespace] {
    margin-bottom: 22px;
}

.link-button {
    font-weight: 500;
    color: #222;
    cursor: pointer;
}

.register {
    margin-top: -4px;
    color: #999;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

[icon-small] {
    width: 22px;
}

ion-input,
ion-datetime {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 14px;
    font-weight: 400;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-select {
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fbfbfb;
    max-width: 100%;
    height: 34px;
}

.select-nationality {
    width: 100%;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.top-btn {
    margin-top: -8px;
}

.forget-password {
    color: #999;
    font-size: 14px;
    display: block;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 7px;
    font-weight: 500;
}

[topspace] {
    margin-bottom: 16px;
}

/* ocultar underline routerlink */
.paddingSlide:focus {
    outline: 0;
}

.adddir {
    margin-top: 5px;
    color: #666;
    font-size: 0.85em;
}

.terms {
    white-space: normal !important;
}