<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar placeholder="Buscar por # orden" (ionChange)="buscar($event)" [debounce]="20">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Pedidos</span>
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="orders.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="orders.length === 0 && isLoader" class="no-result-content">
    <ion-icon class="tam" name="file-tray-outline"></ion-icon>
    <p class="no-result">No tiene pedidos generados en este momento.</p>
  </div>

  <div *ngIf="orders.length > 0 && isLoader">

    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(orders | filtroOrders: textoBuscar).length === 0">
      <p class="no-result">La orden de pedido que estas buscando no se encuentra o no existe.</p>
    </div>

    <div style="margin-top: -10px;">
      <div *ngFor="let od of orders | filtroOrders: textoBuscar">
        <div>
          <ion-card class="paddingSlide animated fadeIn fast" mode="ios"
            style="margin-left: 0.9em; margin-right: 0.9em;">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div class="contenedor">
                    <ion-label>
                      <div>
                        <div class="space-between" style="margin-top: 0.1em;">
                          <span class="title-top-left">Orden #{{ od.orderid }}</span>
                          <span class="title-top-right paddingSlide" [routerLink]="['/orders-detail-dashboard']"
                            [queryParams]="{ id:od._id, currency:currency, commerce:od.commerce._id }">Ver +</span>
                        </div>
                        <span class="text-subtitle-status">
                          <div *ngIf="od.status === 0">
                            En espera
                          </div>
                          <div *ngIf="od.status === 1">
                            Pendiente de pago
                          </div>
                          <div *ngIf="od.status === 2">
                            <span class="text-subtitle-status-med">
                              Pago realizado
                            </span>
                          </div>
                          <div *ngIf="od.status === 3">
                            <span class="text-subtitle-status-success">
                              Pago confirmado
                            </span>
                          </div>
                          <div *ngIf="od.status === 4">
                            <span class="text-subtitle-status-success">
                              Pedido en preparación
                            </span>
                          </div>
                          <div *ngIf="od.status === 5">
                            <span class="text-subtitle-status-success">
                              Listo para ser enviado
                            </span>
                          </div>
                          <div *ngIf="od.status === 6">
                            <!-- falta status -->
                          </div>
                          <div *ngIf="od.status === 7">
                            <!-- falta status -->
                          </div>
                          <div *ngIf="od.status === 8">
                            <span class="text-subtitle-status-success">
                              Pedido en camino
                            </span>
                          </div>
                          <div *ngIf="od.status === 9">
                            <span class="text-subtitle-status-success">
                              Pedido entregado
                            </span>
                          </div>
                          <div *ngIf="od.status === 10">
                            <span class="text-subtitle-status-cancel">
                              Cancelado
                            </span>
                          </div>
                        </span>

                        <span class="text-subtitle-commerce">
                          Comprador: {{ od.user.firstname }} {{ od.user.lastname }}
                          <br>
                          <div *ngIf="od.delivery_man === null">
                            Repartidor: <span class="repartidor"> Por asignar </span>
                          </div>
                          <div *ngIf="od.delivery_man != null">
                              Repartidor: <span class="repartidor">{{ selectedDeliveryMan }}</span>
                          </div>
                          Cantidad: {{ sumQty(od.products) }}
                          {{ sumQty(od.products) > 1?'art&iacute;culos':'art&iacute;culo' }}
                          <br>
                          Fecha: {{moment(od.created_at).format('DD/MM/YYYY, h:mm a')}}
                          <br>
                          <div>
                            Total: ${{ priceFormat(od.price) }}
                          </div>
                        </span>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <div *ngIf="od.status != 0 && od.status != 1 && od.status != 9">
                    <ion-button [routerLink]="['/orders-status-dashboard']"
                      [queryParams]="{ order:od._id }" size="small"
                      fill="solid" expand="block" color="new" mode="ios" class="paddingSlide">
                      <ion-label>
                        <span class="text-delete">
                          Cambiar status
                        </span>
                      </ion-label>
                      <ion-icon class="delete" slot="start" name="create-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col size="6">
                   <div *ngIf="od.status != 9 && od.status != 10">
                    <ion-button (click)="cancelOrder(od._id)" size="small" fill="solid" expand="block" color="light"
                      mode="ios">
                      <ion-label>
                        <span class="text-delete">
                          Cancelar
                        </span>
                      </ion-label>
                      <ion-icon class="delete" slot="start" name="close-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
