<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar por nombre" (ionChange)="buscar($event)"
      [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Categor&iacute;as</span>
          <div linespace></div>
          <span class="subtitle-home">Encuentra lo que estás buscando</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="category.length === 0 && !isSkeleton">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si no hay categorías creadas mostrar mensaje -->
  <div *ngIf="category.length === 0 && isSkeleton">
    <p class="no-result">No hay categor&iacute;as activas en este momento</p>
  </div>

  <div *ngIf="category.length > 0 && isSkeleton">
    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(category | filtro: textoBuscar).length === 0">
      <p class="no-result">No hay resultados para tu búsqueda.</p>
    </div>

    <div style="margin-top: -10px;">
      <div *ngFor="let c of category | filtro: textoBuscar">
        <ion-card class="paddingSlide" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;"
          [routerLink]="['/list-commerce']"
          [queryParams]="{ category:c.category._id, user:user._id, hour:hour, currency:currency }">
          <ion-grid class="img-category"
            [ngStyle]="{'background': 'linear-gradient(rgba(1, 9, 107, 0.40), rgba(0, 0, 0, 0.50) 50%), url('+ c.category.picture +')'}">
            <ion-row>
              <ion-col class="text-center-cat" size="12">
                <div class="contenedor">
                  <ion-label class="product">
                    <div class="description-product">
                      <span class="text-title-cat"></span>
                      <br>
                      <span class="text-title-cat" style="margin-top: 5px;">
                        {{c.category.name}}
                      </span>
                      <br>
                      <br>
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

    <div *ngIf="category.length > 0">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreCategories($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>

</ion-content>