<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-searchbar class="searchbar-input" placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="250">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Comercios</span>
          <div linespace></div>
          <span class="subtitle-home">Tiendas recomendadas</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="commerce.length === 0 && !isSkeleton">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <!-- Si la categoría no tiene comercios asociados mostrar mensaje -->
  <div *ngIf="commerce.length === 0 && isSkeleton" class="no-result-content">
    <ion-icon class="tam" name="golf-outline"></ion-icon>
    <p class="no-result">No hay comercios asociados en este momento</p>
  </div>

  <div *ngIf="commerce.length > 0 && isSkeleton">
    <ion-grid>
      <ion-row>
        <ion-col class="padding-title">
          <div class="ion-text-start">
            <ion-icon name="add-circle-outline" class="fattorini-btn"></ion-icon>
            <span class="text-count">
              {{ getCountCommerce() }} {{ getCountCommerce() > 1?'negocios afiliados':'negocio afiliado' }}
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="commerce.length > 0 && isSkeleton">
    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(commerce | filtroCommerce: textoBuscar).length === 0">
      <p class="no-result">No hay resultados para tu búsqueda.</p>
    </div>

    <div style="margin-top: -10px;">
      <div *ngFor="let c of commerce | filtroCommerce: textoBuscar">
        <ion-card [routerLink]="['/detail-commerce']"
          [queryParams]="{ id:c._id, hour:hour, user:user, currency:currency }"
          class="paddingSlide animated fadeIn fast" mode="ios" style="margin-left: 0.9em; margin-right: 0.9em;">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <img class="img-commerce" [src]="c.picture">
              </ion-col>
              <ion-col size="9">
                <div class="contenedor">
                  <ion-label>
                    <div>
                      <span class="text-subtitle-category">
                        {{c.category.name}}
                      </span>
                      <br>
                      <span class="text-title-commerce">
                        {{c.name}}
                      </span>
                      <br>
                      <span class="text-subtitle-commerce">
                        {{c.city}}
                      </span>
                    </div>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

    <div *ngIf="commerce.length > 0">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreCommerce($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>
</ion-content>