ion-toolbar {
    --ion-toolbar-background: var(--ion-color-contrast);
    --ion-toolbar-color: var(--ion-color-contrast);
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

.fattorini-btn-light {
    color: #FFF;
}

[icon-small] {
    width: 22px;
}

/* Form */
ion-input {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 0.86em;
    font-weight: 400;
    text-indent: 1px;
    --placeholder-color: #999;
}

.title-profile {
    font-size: 0.85em;
    color: #003aa5;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
}

.divider-space {
    margin-bottom: 20px;
}

.divider-space-btn {
    margin-bottom: 10px;
}

.gray-btn {
    color: rgb(188, 188, 188);
}

.top-btn {
    margin-top: -12px;
    margin-bottom: 10px;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

ion-select.select-address {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;
}

.text-btn {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.text-no-crop {
    font-weight: 400;
    color: #999;
    font-size: 0.9em;
}

.space-no-text {
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}

.top-title {
    margin-top: 0.7em;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

.top-btn {
    margin-top: -8px;
}

ion-item.info-admin {
    --background: #93e1ff !important;
}

ion-label.complete-data-msg {
    white-space: normal !important;
}

.valid-admin-sub {
    font-size: 0.85em;
    font-weight: 400;
    font-weight: #333;
}

.valid-admin-title {
    font-size: 0.9em;
    font-weight: 500;
}

ion-textarea {
    font-size: 0.9em;
}