<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="paddingSlide" mode="ios">
        <ion-icon class="fattorini-btn-light" slot="icon-only" slot="start" name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-top">
        <img style="height: 36px;" src="../../assets/img/topbar/logofatto.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="data-user">

    <ion-grid>
      <ion-row>
        <ion-col class="padding-title">
          <div class="top-title">
            <span class="title-home-dark">Editar perfil</span>
            <div linespace></div>
            <span class="subtitle-home">Información del comercio</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form #formulario="ngForm" action="put" (ngSubmit)="updateInfoCommerce()">
      <ion-card mode="ios" class="dest-top">
        <ion-card-content>
          <p class="title-profile">Raz&oacute;n social</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-input type="text" placeholder="Nombre del comercio" name="name" [(ngModel)]="dataC.name"
                  minlength="6" required>
                </ion-input>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Descripci&oacute;n / Slogan</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-input type="text" placeholder="Descripción / Slogan" name="description"
                  [(ngModel)]="dataC.description" minlength="6"></ion-input>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">RIF</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-input disabled required type="text" placeholder="RIF Ej: J-40301567-2" name="rif"
                  [(ngModel)]="dataC.rif" pattern="^[JGVEP][-][0-9]{8}[-][0-9]$" required></ion-input>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Teléfono</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-input required type="tel" placeholder="Teléfono" name="phone" [(ngModel)]="dataC.phone"
                pattern="^(\+|\d)[0-9]{10,12}$"></ion-input>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Categor&iacute;a</p>
          <ion-list>
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar"
                  name="categorySelected" (ionChange)="changeCategory($event)" [(ngModel)]="data.category"
                  [selectedText]="categorySelected" required>
                  <ion-label>Categorías</ion-label>
                  <ion-select-option *ngFor="let c of category" [value]="c._id">{{ c.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Estado</p>
          <ion-list>
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar" name="stateSelected"
                  (ionChange)="changeState($event)" [(ngModel)]="stateSelected" [selectedText]="stateSelected" required>
                  <ion-label>Estado</ion-label>
                  <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Ciudad</p>
          <ion-list>
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-select mode="md" class="select-address" cancelText="Cancelar" okText="Aceptar" name="citySelected"
                  (ionChange)="changeCity($event)" [(ngModel)]="citySelected" [selectedText]="citySelected" required>
                  <ion-label>Ciudad</ion-label>
                  <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Dirección del comercio</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="full" class="ion-no-padding">
                <ion-textarea auto-grow placeholder="Dirección del comercio" name="address" minlength="6"
                  [(ngModel)]="dataC.address" maxlength="250" required></ion-textarea>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space-btn"></div>
          <ion-grid>
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-button (click)="openGallery()" fill="solid" expand="block" shape="round" color="new">
                  <span class="text-btn">
                    Subir imagen
                  </span>
                </ion-button>
                <ion-icon slot="start" name="image-outline"></ion-icon>
                <img *ngIf="croppedImagePath.length" [src]="croppedImagePath" />
                <div *ngIf="!croppedImagePath.length" class="ion-text-center space-no-text">
                  <ion-label>
                    <span class="text-no-crop">
                      Si desea sustituir su logo
                    </span>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-grid fixed class="top-btn">
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button *ngIf="data.category === ' '" type="submit" disabled fill="solid" expand="block" shape="round"
              color="new">
              Actualizar
            </ion-button>

            <ion-button *ngIf="data.category != ' '" type="submit" [disabled]="formulario.invalid" fill="solid"
              expand="block" shape="round" color="new">
              Actualizar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <!--   <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-center top-title">
          <span class="title-home-dark">Editar perfil</span>
          <div linespace></div>
          <span class="subtitle-home">Información del comercio</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="divpad">
    <ion-row class="row-form">
      <ion-col>
        <div linespace></div>
        <form #formulario="ngForm" action="post" (ngSubmit)="updateInfoCommerce()">
          <div class="form-space">
            <ion-item>
              <ion-icon icon-small name="briefcase-outline" class="fattorini-btn"></ion-icon>
              <ion-input type="text" placeholder="Nombre del comercio" name="name" [(ngModel)]="dataC.name"
                minlength="6" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="book-outline" class="fattorini-btn"></ion-icon>
              <ion-input type="text" placeholder="Descripción / Slogan" name="description"
                [(ngModel)]="dataC.description" minlength="6"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon icon-small name="reader-outline" class="fattorini-btn"></ion-icon>
              <ion-input required type="text" placeholder="RIF Ej: J-40301567-2" name="rif" [(ngModel)]="dataC.rif"
                pattern="^[JGVEP][-][0-9]{8}[-][0-9]$" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon icon-small name="file-tray-full-outline" class="fattorini-btn"></ion-icon>
              <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="categorySelected"
                (ionChange)="changeCategory($event)" [(ngModel)]="data.category" [selectedText]="categorySelected"
                required>
                <ion-label>Categorías</ion-label>
                <ion-select-option *ngFor="let c of category" [value]="c._id">{{ c.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col size="10" offset="1">
                  <ion-button (click)="openGallery()" fill="solid" expand="block" shape="round" color="new">
                    Logo del comercio
                  </ion-button>
                  <ion-icon slot="start" name="image-outline"></ion-icon>
                  <img *ngIf="croppedImagePath.length" [src]="croppedImagePath" />
                  <div *ngIf="!croppedImagePath.length" class="ion-text-center space-no-text">
                    <ion-label>
                      <span class="text-no-crop">
                        Si desea sustituir su logo
                      </span>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div space-select style="margin-top: 0.5em;">
              <ion-label>
                <span class="title-profile">
                  Direcci&oacute;n
                </span>
              </ion-label>
              <ion-item style="margin-top: -8px;">
                <ion-textarea auto-grow placeholder="Dirección del comercio" name="address" minlength="6"
                  [(ngModel)]="dataC.address" maxlength="250" required></ion-textarea>
              </ion-item>
            </div>

            <div space-select>
              <ion-label>
                <span class="title-profile">
                  Estado
                </span>
              </ion-label>
              <ion-item>
                <ion-icon icon-small name="map-outline" class="fattorini-btn"></ion-icon>
                <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="stateSelected"
                  (ionChange)="changeState($event)" [(ngModel)]="stateSelected" [selectedText]="stateSelected" required>
                  <ion-label>Estado</ion-label>
                  <ion-select-option *ngFor="let state of listStateCity" [value]="state.estado">{{ state.estado }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div space-select>
              <ion-label>
                <span class="title-profile">
                  Ciudad
                </span>
              </ion-label>
              <ion-item>
                <ion-icon icon-small name="navigate-outline" class="fattorini-btn"></ion-icon>
                <ion-select class="select-address" cancelText="Cancelar" okText="Aceptar" name="citySelected"
                  (ionChange)="changeCity($event)" [(ngModel)]="citySelected" [selectedText]="citySelected" required>
                  <ion-label>Ciudad</ion-label>
                  <ion-select-option *ngFor="let city of cityArray" [value]="city">{{ city }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

          </div>
          <ion-grid fixed class="top-btn">
            <ion-row>
              <ion-col size="10" offset="1">

                <ion-button *ngIf="data.category === ' '" type="submit" disabled fill="solid" expand="block"
                  shape="round" color="new">
                  Actualizar
                </ion-button>

                <ion-button *ngIf="data.category != ' '" type="submit" [disabled]="formulario.invalid" fill="solid"
                  expand="block" shape="round" color="new">
                  Actualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>