.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}

ion-spinner {
    display: block;
    margin: auto;
}

span.text-count {
    font-weight: 0.9em;
    font-weight: 500;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

img.img-commerce {
    border-radius: 15px;
}

.text-subtitle-category {
    font-size: 0.9em;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}

.top-btn {
    margin-top: -8px;
}

ion-thumbnail {
    --border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #01096b;
}

.text-header-info {
    white-space: normal;
}

.fattorini-rating-ca {
    color: rgb(255, 202, 34);
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.fattorini-rating {
    color: #fadb14;
    font-size: 18px;
}

.inactive {
    color: #d6d6d6;
    font-size: 18px;
}

.text-rating {
    font-size: 0.85em;
    font-weight: 400;
    margin-top: -8px;
}

.text-subtitle-commerce {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-date-comment {
    font-size: .7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: #999
}

.text-title-commerce {
    font-size: 0.9em;
    font-weight: 500;
}

ion-header {
    background-color: white;
}

ion-card.card-info {
    box-shadow: 0 3px 5px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

.text-delete {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

ion-icon.delete {
    width: 15px;
    height: 15px;
}

ion-icon.tam2 {
    color: #01096b;
    width: 24px;
    height: 24px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 14px;
    text-transform: uppercase;
}