.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
}

.badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.id-user {
    font-size: 14px;
    color: #ababab;
}

.count-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-delete {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

ion-icon.delete {
    width: 15px;
    height: 15px;
}

.vertical-center {
    align-items: center;
}

ion-item-option>ion-icon {
    width: 2.1em;
}

ion-icon.tam {
    font-size: 1.4em;
}

ion-button:focus {
    outline: none !important;
}

.contenedor {
    width: 100%;
}

.text-product-name {
    font-size: 0.9em;
    font-weight: 500;
    color: #222;
    text-align: left;
    //margin-bottom: 0.5em;
    /* mostrar 2 líneas y luego .. */
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-product-commerce {
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(128, 128, 128);
}

.text-product-price {
    font-weight: 400;
    font-size: 0.9em;
    color: #e6394f;
}

.text-product-price-option {
    font-weight: 400;
    font-size: 0.8em;
    color: #666;
}

.text-product-price-option-total {
    //font-weight: 500;
    font-size: 0.8em;
    color: #222;
}

ion-col.right-side-col {
    text-align: right;
}

.option-name {
    font-weight: 400;
    font-size: 0.9em;
    color: #222;
}

.option-total {
    //font-weight: 500;
    //text-transform: uppercase;
    font-size: 0.9em;
    color: #222;
}

.number {
    font-weight: 500;
    font-size: 0.9em;
    color: #222;
}

.product {
    white-space: normal;
}

.text-subtotal {
    font-size: 0.9em;
    font-weight: 500;
    color: #222;
    text-align: left;
}

.text-subtotal-price {
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(1, 9, 107);
}

.text-product-count {
    font-size: .8em;
    font-weight: 400;
    color: rgb(128, 128, 128);
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

ion-spinner {
    display: block;
    margin: auto;
}

.no-result-content {
    margin-top: 2em;
    text-align: center;
}

ion-icon.tam2 {
    color: #01096b;
    width: 90px;
    height: 90px;
}

.text-product-iva {
    text-align: left;
    font-size: 0.7em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.text-product-weight {
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: -0.75em;
    color: rgb(128, 128, 128);
}

ion-toolbar {
    background-color: white;
}

.title-home-dark {
    font-size: 1.4em;
    font-weight: 600;
}

.subtitle-home {
    font-size: 1em;
    font-weight: 400;
    color: #999;
}

.padding-title {
    padding-left: 15px;
    padding-right: 15px;
}
