<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" class="fattorini-btn"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="paddingSlide">
      <div *ngIf="quantity.length === 0 || quantity.total === 0">
        <ion-button class="badge-button paddingSlide">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="quantity.total > 0">
        <ion-button class="badge-button paddingSlide">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn"></ion-icon>
          <ion-badge mode="ios" [class.badge-one]="quantity.total < 10" [class.badge-two]="quantity.total >= 10"
            color="danger">
            {{ quantity.total }}
          </ion-badge>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Mi carrito</span>
          <div linespace></div>
          <span *ngIf="user" class="id-user">ID: {{ user }}</span>
          <span *ngIf="!user" class="id-user">ID: No hemos encontrado su ID de registro</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="products.length === 0 && !isLoader">
    <ion-item lines="none">
      <ion-label></ion-label>
    </ion-item>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="products.length === 0 && isLoader" class="no-result-content">
    <ion-icon class="tam2" name="cart-outline"></ion-icon>
    <p class="no-result">Su carrito de compras está vacío <br> </p>
  </div>

  <div *ngIf="products.length > 0 && isLoader">

    <div>
      <ion-item lines="full">
        <ion-label>
          <span class="text-product-count">
            {{ quantity.total }} {{quantity.total > 1?'art&iacute;culos':'art&iacute;culo'}}
          </span>
          <br>
          <span class="text-subtotal">
            Subtotal: &nbsp;
          </span>

          <span *ngIf="currency === 'USD'" class="text-subtotal-price">
            ${{ priceFormat(setSubtotalCart())}}
          </span>

          <span *ngIf="currency === 'Bs.S'" class="text-subtotal-price">
            {{ _BS }} {{ priceFormatTasa(setSubtotalCartBs())}}
          </span>

        </ion-label>
      </ion-item>
    </div>

    <div *ngFor="let p of products">
      <!-- <ion-item-sliding> -->
      <ion-item class="animated fadeIn fast" lines="full">
        <ion-grid>
          <ion-row class="vertical-center">
            <ion-col size="2">
              <ion-img [src]="p.product.picture[0]"></ion-img>
            </ion-col>
            <ion-col size="10">
              <div class="contenedor">
                <ion-label class="product">
                  <div>
                    <span class="text-product-name">
                      {{p.product.name}}
                      <br>
                      <span class="text-product-commerce">
                        Vendedor: {{p.product.commerce.name}}
                      </span>
                    </span>

                    <!-- Si el producto en el carrito tiene oferta -->
                    <div *ngIf="p.product.offer">
                      <div *ngIf="currency === 'USD'">
                        <div *ngIf="p.product.pricebykg">
                          <span class="text-product-price">
                            ${{ priceFormat(getOffer(p.price, p.product.offerpercent)) }}/Kg
                          </span>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <span class="text-product-price">
                            ${{ priceFormat(getOffer(p.price, p.product.offerpercent)) }}
                          </span>
                        </div>
                      </div>
                      <div *ngIf="currency === 'Bs.S'">
                        <div *ngIf="p.product.pricebykg">
                          <span class="text-product-price">
                            {{ _BS }} {{ priceFormatTasa(getOffer(priceFormat(p.price), p.product.offerpercent) * p.product.exchange_rate) }}/Kg
                          </span>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <span class="text-product-price">
                            {{ _BS }} {{ priceFormatTasa(getOffer(priceFormat(p.price), p.product.offerpercent) * p.product.exchange_rate) }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- Si el producto en el carrito no tiene oferta -->
                    <div *ngIf="!p.product.offer">
                      <div *ngIf="currency === 'USD'">
                        <div *ngIf="p.product.pricebykg">
                          <span class="text-product-price">
                            ${{ priceFormat(p.price) }}/Kg
                          </span>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <span class="text-product-price">
                            ${{ priceFormat(p.price) }}
                          </span>
                        </div>
                      </div>
                      <div *ngIf="currency === 'Bs.S'">
                        <div *ngIf="p.product.pricebykg">
                          <span class="text-product-price">
                            {{ _BS }} {{ priceFormatTasa(priceFormat(p.price) * p.product.exchange_rate) }}/Kg
                          </span>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <span class="text-product-price">
                            {{ _BS }} {{ priceFormatTasa(priceFormat(p.price) * p.product.exchange_rate) }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="vertical-center">
            <ion-col size="6">
              <div class="count-options" style="margin-top: 5px;">
                <ion-button (click)="removeProduct(p._id, p.quantity - 1)" fill="solid" expand="block" color="light"
                  mode="ios">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
                <span class="number">{{p.quantity}}</span>
                <ion-button (click)="addProduct(p._id, p.quantity + 1)" fill="solid" expand="block" color="light"
                  mode="ios">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="6" style="text-align:right;">
              <div *ngIf="currency === 'USD'">
                <!-- SI EL PRODUCTO ESTÁ EN OFERTA -->
                <div *ngIf="p.product.offer">
                  <div *ngIf="p.product.pricebykg">
                    <span class="text-subtotal">
                      ${{ setSubtotalProduct(getGrams(getOffer(p.price, p.product.offerpercent), p.grams) + setTotalOptions(p.options), p.quantity) }}
                    </span>
                    <br>
                    <span class="text-product-weight">
                      /{{p.grams * p.quantity / 1000}}Kg
                    </span>
                  </div>

                  <div *ngIf="!p.product.pricebykg">
                    <span class="text-subtotal">
                      ${{ setSubtotalProduct(getOffer(p.price, p.product.offerpercent) + setTotalOptions(p.options), p.quantity) }}
                    </span>
                  </div>
                </div>

                <!-- SI EL PRODUCTO NO ESTÁ EN OFERTA -->
                <div *ngIf="!p.product.offer">
                  <div *ngIf="p.product.pricebykg">
                    <span class="text-subtotal">
                      ${{ priceFormat(((getGrams(p.price, p.grams)) + setTotalOptions(p.options)) * p.quantity) }}
                      <br>
                      <span class="text-product-weight">
                        /{{p.grams * p.quantity / 1000}}Kg
                      </span>
                    </span>
                  </div>
                  <div *ngIf="!p.product.pricebykg">
                    <span class="text-subtotal">
                      ${{ priceFormat((p.price + setTotalOptions(p.options)) * p.quantity) }}
                    </span>
                  </div>
                </div>

              </div>

              <div *ngIf="currency === 'Bs.S'">
                <!-- SI EL PRODUCTO ESTÁ EN OFERTA -->
                <div *ngIf="p.product.offer">
                  <div *ngIf="p.product.pricebykg">
                    <span class="text-subtotal">
                      {{ _BS }}
                      {{ setSubtotalProductBs((getGrams(getOffer(p.price, p.product.offerpercent), p.grams) + setTotalOptions(p.options)) * p.product.exchange_rate, p.quantity) }}
                    </span>
                    <br>
                    <span class="text-product-weight">
                      /{{p.grams * p.quantity / 1000}}Kg
                    </span>
                  </div>

                  <div *ngIf="!p.product.pricebykg">
                    <span class="text-subtotal">
                      {{ _BS }}
                      {{ setSubtotalProductBs((getOffer(p.price, p.product.offerpercent) + setTotalOptions(p.options)) * p.product.exchange_rate, p.quantity) }}
                    </span>
                  </div>
                </div>

                <!-- SI EL PRODUCTO NO ESTÁ EN OFERTA -->
                <div *ngIf="!p.product.offer">
                  <div *ngIf="p.product.pricebykg">
                    <span class="text-subtotal">
                      {{ _BS }} {{ priceFormatTasa((((getGrams(priceFormat(p.price), p.grams)) + setTotalOptions(p.options)) * p.quantity) * p.product.exchange_rate) }}
                      <br>
                      <span class="text-product-weight">
                        /{{p.grams * p.quantity / 1000}}Kg
                      </span>
                    </span>
                  </div>
                  <div *ngIf="!p.product.pricebykg">
                    <span class="text-subtotal">
                      {{ _BS }}
                      {{ setSubtotalProductBs(priceFormat(p.price + setTotalOptions(p.options)) * p.product.exchange_rate, p.quantity) }}
                    </span>
                  </div>
                </div>
              </div>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button (click)="deleteProductCart(p._id)" fill="solid" expand="block" color="light" mode="ios">
                <ion-label>
                  <span class="text-delete">
                    Eliminar
                  </span>
                </ion-label>
                <ion-icon class="delete" slot="start" name="trash-bin-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <div *ngIf="p.options.length > 0">
            <app-accordian title="Opciones">
              <div *ngFor="let option of p.options">
                <ion-row>
                  <ion-col size="6">
                    <span class="option-name">
                      <ion-label>
                        {{option.name}}
                      </ion-label>
                    </span>
                  </ion-col>
                  <ion-col size="6" class="right-side-col">
                    <div *ngIf="currency === 'USD'">
                      <span class="text-product-price-option">
                        ${{ priceFormat(option.value) }}
                      </span>
                    </div>
                    <div *ngIf="currency === 'Bs.S'">
                      <span class="text-product-price-option">
                        {{ _BS }} {{ priceFormatTasa(priceFormat(option.value) * p.product.exchange_rate) }}
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div *ngIf="p.options.length > 0">
                <ion-row style="background-color: #f4f4f4">
                  <ion-col size="6">
                    <span class="option-total">
                      <ion-label>
                        Total adicionales
                      </ion-label>
                    </span>
                  </ion-col>
                  <ion-col size="6" class="right-side-col">
                    <div *ngIf="currency === 'USD'">
                      <span class="text-product-price-option-total">
                        ${{ priceFormat(setTotalOptions(p.options)) }}
                      </span>
                    </div>
                    <div *ngIf="currency === 'Bs.S'">
                      <span class="text-product-price-option-total">
                        {{ _BS }} {{ priceFormatTasa(setTotalOptions(p.options) * p.product.exchange_rate) }}
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </app-accordian>
          </div>
        </ion-grid>
      </ion-item>
    </div>
  </div>

</ion-content>
<div *ngIf="products.length > 0 && isLoader && user">
  <ion-footer>
    <ion-toolbar>
        <ion-button (click)="createOrder()" fill="solid" expand="block" shape="round" color="new">
          Comprar
        </ion-button>
    </ion-toolbar>
  </ion-footer>  
</div>