<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" class="fattorini-btn"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="dest-top">
    <ion-row>
      <ion-col class="padding-title">
        <div class="ion-text-start">
          <span class="title-home-dark">Detalle del pedido</span>
          <br>
          <!-- <span class="subtitle-home">Orden #{{ detail.orderid }}</span> -->
          <div linespace></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="detail.length === 0 && !isLoader">
    <div style="margin-top: 10px;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <div *ngIf="detail != '' && isLoader">

    <!-- Si el status de la orden es pedido realizado o posterior -->
    <div *ngIf="detail.status >= 1">
      <ion-card class="no-style ion-no-padding ion-no-margin" mode="ios">
        <ion-card-content>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="ion-text-center">
                        <span class="title-text-commerce">
                          {{ commerce.name }}
                        </span>
                        <br>
                        <span class="title-text-address">
                          RIF: {{ commerce.rif }}
                        </span>
                        <br>
                        <span class="order-text">
                          <b>Ticket &nbsp;#{{ detail.orderid }}</b> <br>
                          Fecha: {{ moment(detailpayment.created_at).format('DD/MM/YYYY') }}
                          Hora: {{ moment(detailpayment.created_at).format('h:mm a') }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label>
                        <span class="title-text-name">
                          Nombre: {{ detail.name }}
                        </span>
                        <span class="title-text-commerce">

                        </span>
                        <br>
                        <span class="title-text-address">
                          C.I./RIF: {{ detail.rif }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <hr class="line-hr">

                  <ion-row *ngFor="let p of detail.products">
                    <ion-col size="6">
                      <ion-label>
                        <span *ngIf="p.quantity > 1 && p.product.pricebykg" class="description-total-text-name">
                          {{ p.quantity }} {{ p.product.name }}
                        </span>

                        <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity >= 1 && !p.product.pricebykg"
                          class="description-total-text-name">
                          {{ p.product.name | slice:0:18 }}
                        </span>

                        <!-- CON OFERTA -->
                        <div *ngIf="p.product.offer">

                          <!-- Si está en oferta y es un producto pesable -->
                          <div *ngIf="p.product.pricebykg">
                            <div *ngIf="currency === 'USD'">
                              <span class="description-total-text">
                                {{p.grams / 1000}}Kg x $
                                {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent)) }}
                              </span>
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>
                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span class="description-total-text">
                                {{p.grams / 1000}}Kg x
                                {{ priceFormatTasa(priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * detailpayment.exchange_rate)) }}
                              </span>

                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>

                          <!-- Si está en oferta y no es un producto pesable -->
                          <div *ngIf="!p.product.pricebykg">
                            <div *ngIf="currency === 'USD'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                {{ p.quantity }} x $
                                {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent)) }}
                              </span>
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                {{ p.quantity }} x
                                {{ priceFormatTasa(priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * detailpayment.exchange_rate)) }}
                              </span>
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- SIN OFERTA -->
                        <div *ngIf="!p.product.offer">

                          <!-- Si no está en oferta y es un producto pesable -->
                          <div *ngIf="p.product.pricebykg">
                            <span *ngIf="currency === 'USD'" class="description-total-text">
                              {{p.grams / 1000}}Kg x $ {{ priceFormatProduct(p.price) }}
                            </span>

                            <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                              {{p.grams / 1000}}Kg x
                              {{ priceFormatTasa(priceFormatProduct(p.price) * detailpayment.exchange_rate) }}
                            </span>
                          </div>

                          <!-- Si no está en oferta y no es un producto pesable -->
                          <div *ngIf="!p.product.pricebykg">
                            <div *ngIf="currency === 'USD'">
                              <span class="description-total-text">
                                {{ p.quantity }} x $ {{ priceFormatProduct(p.price) }}
                              </span>
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span class="description-total-text">
                                {{ p.quantity }} x
                                {{ priceFormatTasa(priceFormatProduct(p.price * detailpayment.exchange_rate)) }}
                              </span>
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ p.quantity }} {{ op.name }}
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ op.name }}
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ion-label>
                    </ion-col>

                    <!-- Columna de la derecha (precios y subtotales) -->
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <!-- CON OFERTA -->
                        <div *ngIf="p.product.offer">
                          <div *ngIf="p.product.pricebykg">

                            <div *ngIf="currency === 'USD'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                <br>
                                $
                                {{ priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * p.quantity) }}
                              </span>

                              <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity == 1"
                                class="description-total-text">
                                <br>
                                $
                                {{ priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * p.quantity) }}
                              </span>

                              <!-- Mostrar cambio en dólares de las opciones cuando el producto es pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                <br>
                                {{ priceFormatTasa(priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * detailpayment.exchange_rate)) }}
                              </span>

                              <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity == 1"
                                class="description-total-text">
                                <br>
                                {{ priceFormatTasa(priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * detailpayment.exchange_rate)) }}
                              </span>
                              <!-- Mostrar cambio en bolívares de las opciones cuando el producto es pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="!p.product.pricebykg">
                            <div *ngIf="currency === 'USD'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                <br>
                                $
                                {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) }}
                              </span>

                              <span *ngIf="p.quantity == 1" class="description-total-text">
                                $
                                {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) }}
                              </span>
                              <!-- Mostrar cambio en dólares de las opciones cuando el producto es pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span *ngIf="p.quantity > 1" class="description-total-text">
                                <br>
                                {{ priceFormatTasa(priceFormatProduct((getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) * detailpayment.exchange_rate)) }}
                              </span>

                              <span *ngIf="p.quantity == 1" class="description-total-text">
                                {{ priceFormatTasa(priceFormatProduct((getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) * detailpayment.exchange_rate)) }}
                              </span>
                              <!-- Mostrar cambio en bolívares de las opciones cuando el producto es pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <!-- SIN OFERTA -->
                        <div *ngIf="!p.product.offer">
                          <div *ngIf="p.product.pricebykg">
                            <span *ngIf="currency === 'USD'" class="description-total-text">
                              <br>
                              $ {{ priceFormatProduct(getGrams(p.price, p.grams) * p.quantity) }}
                            </span>

                            <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                              <br>
                              {{ priceFormatTasa(priceFormatProduct((getGrams(p.price, p.grams) * p.quantity) * detailpayment.exchange_rate)) }}
                            </span>
                          </div>

                          <div *ngIf="!p.product.pricebykg">
                            <div *ngIf="currency === 'USD'">
                              <span class="description-total-text">
                                <br>
                                $ {{ priceFormatProduct(p.price * p.quantity) }}
                              </span>
                              <!-- Mostrar cambio en dólares de las opciones cuando el producto es no pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'USD'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          $ {{ priceFormatProduct(op.value) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf="currency === 'Bs.S'">
                              <span class="description-total-text">
                                <br>
                                {{ priceFormatTasa(priceFormatProduct((p.price * p.quantity) * detailpayment.exchange_rate)) }}
                              </span>
                              <!-- Mostrar cambio en bolívares de las opciones cuando el producto es no pesable -->
                              <div>
                                <div *ngIf="p.options.length > 0">
                                  <div *ngIf="currency === 'Bs.S'">
                                    <div *ngIf="detail.products.length > 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>

                                    <div *ngIf="detail.products.length === 1">
                                      <ion-label *ngFor="let op of p.options">
                                        <span *ngIf="p.quantity > 1" class="description-total-text">
                                          {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }}
                                          (A)
                                        </span>

                                        <span *ngIf="p.quantity == 1" class="description-total-text">
                                          {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                        </span>
                                      </ion-label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <hr class="line-hr">
                </ion-grid>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding" style="margin-top: -12px;">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label>
                        <span class="description-total-text">
                          Envío
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <span *ngIf="currency === 'USD'" class="description-total-text">
                          $ {{ priceFormatProduct(detailpayment.delivery_amount) }}
                        </span>

                        <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                          {{ priceFormatTasa(priceFormatProduct(detailpayment.delivery_amount * detailpayment.exchange_rate)) }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>

                  <div *ngIf="detailpayment.user_pay_commission">
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <span class="description-total-text">
                            Servicio App
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <span *ngIf="currency === 'USD'" class="description-total-text">
                            $ {{ priceFormatProduct(detailpayment.commission_amount) }}
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                            {{ priceFormatTasa(priceFormatProduct(detailpayment.commission_amount * detailpayment.exchange_rate)) }}
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>

                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top:4px;">
                        <span class="description-total-text">
                          Subtotal
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total-text">
                          $ {{ priceFormatProduct(setSubtotalCart()) }}
                        </span>

                        <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                          {{ priceFormatTasa(priceFormatProduct(setSubtotalCart() * detailpayment.exchange_rate)) }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <hr class="line-hr">

                  <!-- Si la orden cobra comisión al usuario -->
                  <div *ngIf="detailpayment.user_pay_commission">
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <div linespace></div>
                          <span class="description-total">
                            <b>Total</b>
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            <b>$
                              {{ priceFormatProduct((setSubtotalCart() + detailpayment.delivery_amount) + detailpayment.commission_amount) }}</b>
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            <b>
                              {{ _BS }}
                              {{ priceFormatTasa(priceFormatProduct((setSubtotalCart() + detailpayment.delivery_amount) + detailpayment.commission_amount) * detailpayment.exchange_rate) }}
                            </b>
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            Cantidad en Bs:
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            Cantidad en USD:
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            {{ _BS }}
                            {{ priceFormatTasa((priceFormatProduct(setSubtotalCart() + detailpayment.delivery_amount + detailpayment.commission_amount)) * detailpayment.exchange_rate) }}
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            $
                            {{ priceFormatProduct((setSubtotalCart() + detailpayment.delivery_amount) + detailpayment.commission_amount) }}
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <!-- ////////////////////////////////////////////// -->
                    <ion-row style="margin-top:4px;">
                      <ion-col size="6">
                        <ion-label>
                          <span class="description-total-text">
                            Tasa de cambio
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <span class="description-total-text">
                            {{ _BS }} {{ priceFormatTasa(detailpayment.exchange_rate) }}
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>

                  <!-- Si la orden no tiene comisión de usuario -->
                  <div *ngIf="!detailpayment.user_pay_commission">
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <div linespace></div>
                          <span class="description-total">
                            <b>Total</b>
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            <b>
                              $ {{ priceFormatProduct(setSubtotalCart() + detailpayment.delivery_amount) }}
                            </b>
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            <b>{{ _BS }}
                              {{ priceFormatTasa(priceFormatProduct((setSubtotalCart() + detailpayment.delivery_amount) * detailpayment.exchange_rate)) }}</b>
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            Cantidad en Bs:
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            Cantidad en USD:
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <div linespace></div>
                          <span *ngIf="currency === 'USD'" class="description-total">
                            {{ _BS }}
                            {{ priceFormatTasa((priceFormatProduct(setSubtotalCart() + detailpayment.delivery_amount)) * detailpayment.exchange_rate) }}
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total">
                            ${{ priceFormatProduct(setSubtotalCart() + detailpayment.delivery_amount) }}
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>

                    <ion-row style="margin-top:4px;">
                      <ion-col size="6">
                        <ion-label>
                          <span class="description-total-text">
                            Tasa de cambio
                          </span>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6" class="right-side-col">
                        <ion-label>
                          <span class="description-total-text">
                            {{ _BS }} {{ priceFormatTasa(detailpayment.exchange_rate) }}
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <br>
                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="ion-text-center">
                          <span class="title-text-commerce">
                            ** Gracias por su compra **
                          </span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>

                </ion-grid>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Si el status de la orden esta en espera u orden pendiente -->
    <div *ngIf="detail.status === 0">
      <ion-card class="no-style ion-no-padding ion-no-margin" mode="ios">
        <ion-card-content>
          <ion-list mode="ios">
            <ion-item lines="none" class="ion-no-padding">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="ion-text-center">
                      <span class="title-text-commerce">
                        {{ commerce.name }}
                      </span>
                      <br>
                      <span class="title-text-address">
                        RIF: {{ commerce.rif }}
                      </span>
                      <br>
                      <span class="order-text">
                        <b>Ticket &nbsp;#{{ detail.orderid }}</b> <br>
                        Fecha: {{ moment(detailpayment.created_at).format('DD/MM/YYYY') }}
                        Hora: {{ moment(detailpayment.created_at).format('h:mm a') }}
                      </span>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <br>
                <hr class="line-hr">

                <ion-row *ngFor="let p of detail.products">
                  <ion-col size="6">
                    <ion-label>
                      <span *ngIf="p.quantity > 1 && p.product.pricebykg" class="description-total-text-name">
                        {{ p.quantity }} {{ p.product.name }}
                      </span>

                      <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity >= 1 && !p.product.pricebykg"
                        class="description-total-text-name">
                        {{ p.product.name | slice:0:18 }}
                      </span>

                      <!-- CON OFERTA -->
                      <div *ngIf="p.product.offer">

                        <!-- Si está en oferta y es un producto pesable -->
                        <div *ngIf="p.product.pricebykg">
                          <div *ngIf="currency === 'USD'">
                            <span class="description-total-text">
                              {{p.grams / 1000}}Kg x $
                              {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent)) }}
                            </span>
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>
                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span class="description-total-text">
                              {{p.grams / 1000}}Kg x
                              {{ priceFormatTasa(priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * detailpayment.exchange_rate)) }}
                            </span>

                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <!-- Si está en oferta y no es un producto pesable -->
                        <div *ngIf="!p.product.pricebykg">
                          <div *ngIf="currency === 'USD'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              {{ p.quantity }} x $
                              {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent)) }}
                            </span>
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              {{ p.quantity }} x
                              {{ priceFormatTasa(priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * detailpayment.exchange_rate)) }}
                            </span>
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- SIN OFERTA -->
                      <div *ngIf="!p.product.offer">

                        <!-- Si no está en oferta y es un producto pesable -->
                        <div *ngIf="p.product.pricebykg">
                          <span *ngIf="currency === 'USD'" class="description-total-text">
                            {{p.grams / 1000}}Kg x $ {{ priceFormatProduct(p.price) }}
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                            {{p.grams / 1000}}Kg x
                            {{ priceFormatTasa(priceFormatProduct(p.price) * detailpayment.exchange_rate) }}
                          </span>
                        </div>

                        <!-- Si no está en oferta y no es un producto pesable -->
                        <div *ngIf="!p.product.pricebykg">
                          <div *ngIf="currency === 'USD'">
                            <span class="description-total-text">
                              {{ p.quantity }} x $ {{ priceFormatProduct(p.price) }}
                            </span>
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span class="description-total-text">
                              {{ p.quantity }} x
                              {{ priceFormatTasa(priceFormatProduct(p.price * detailpayment.exchange_rate)) }}
                            </span>
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ p.quantity }} {{ op.name }}
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ op.name }}
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ion-label>
                  </ion-col>

                  <!-- Columna de la derecha (precios y subtotales) -->
                  <ion-col size="6" class="right-side-col">
                    <ion-label>
                      <!-- CON OFERTA -->
                      <div *ngIf="p.product.offer">
                        <div *ngIf="p.product.pricebykg">

                          <div *ngIf="currency === 'USD'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              <br>
                              $
                              {{ priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * p.quantity) }}
                            </span>

                            <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity == 1"
                              class="description-total-text">
                              <br>
                              $
                              {{ priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * p.quantity) }}
                            </span>

                            <!-- Mostrar cambio en dólares de las opciones cuando el producto es pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              <br>
                              {{ priceFormatTasa(priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * detailpayment.exchange_rate)) }}
                            </span>

                            <span *ngIf="p.quantity == 1 && p.product.pricebykg || p.quantity == 1"
                              class="description-total-text">
                              <br>
                              {{ priceFormatTasa(priceFormatProduct(getGrams(getOfferSubtotal(p.price, p.product.offerpercent), p.grams) * detailpayment.exchange_rate)) }}
                            </span>
                            <!-- Mostrar cambio en bolívares de las opciones cuando el producto es pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <div *ngIf="currency === 'USD'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              <br>
                              $ {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) }}
                            </span>

                            <span *ngIf="p.quantity == 1" class="description-total-text">
                              $ {{ priceFormatProduct(getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) }}
                            </span>
                            <!-- Mostrar cambio en dólares de las opciones cuando el producto es pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span *ngIf="p.quantity > 1" class="description-total-text">
                              <br>
                              {{ priceFormatTasa(priceFormatProduct((getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) * detailpayment.exchange_rate)) }}
                            </span>

                            <span *ngIf="p.quantity == 1" class="description-total-text">
                              {{ priceFormatTasa(priceFormatProduct((getOfferSubtotal(p.price, p.product.offerpercent) * p.quantity) * detailpayment.exchange_rate)) }}
                            </span>
                            <!-- Mostrar cambio en bolívares de las opciones cuando el producto es pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                      <!-- SIN OFERTA -->
                      <div *ngIf="!p.product.offer">
                        <div *ngIf="p.product.pricebykg">
                          <span *ngIf="currency === 'USD'" class="description-total-text">
                            <br>
                            $ {{ priceFormatProduct(getGrams(p.price, p.grams) * p.quantity) }}
                          </span>

                          <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                            <br>
                            {{ priceFormatTasa(priceFormatProduct((getGrams(p.price, p.grams) * p.quantity) * detailpayment.exchange_rate)) }}
                          </span>
                        </div>

                        <div *ngIf="!p.product.pricebykg">
                          <div *ngIf="currency === 'USD'">
                            <span class="description-total-text">
                              <br>
                              $ {{ priceFormatProduct(p.price * p.quantity) }}
                            </span>
                            <!-- Mostrar cambio en dólares de las opciones cuando el producto es no pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'USD'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value * p.quantity) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        $ {{ priceFormatProduct(op.value) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="currency === 'Bs.S'">
                            <span class="description-total-text">
                              <br>
                              {{ priceFormatTasa(priceFormatProduct((p.price * p.quantity) * detailpayment.exchange_rate)) }}
                            </span>
                            <!-- Mostrar cambio en bolívares de las opciones cuando el producto es no pesable -->
                            <div>
                              <div *ngIf="p.options.length > 0">
                                <div *ngIf="currency === 'Bs.S'">
                                  <div *ngIf="detail.products.length > 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>

                                  <div *ngIf="detail.products.length === 1">
                                    <ion-label *ngFor="let op of p.options">
                                      <span *ngIf="p.quantity > 1" class="description-total-text">
                                        {{ priceFormatTasa((op.value * p.quantity) * detailpayment.exchange_rate) }} (A)
                                      </span>

                                      <span *ngIf="p.quantity == 1" class="description-total-text">
                                        {{ priceFormatTasa(op.value * detailpayment.exchange_rate) }} (A)
                                      </span>
                                    </ion-label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </ion-label>
                  </ion-col>
                </ion-row>
                <hr class="line-hr">
              </ion-grid>
            </ion-item>

            <ion-item lines="none" class="ion-no-padding" style="margin-top: -16px;">
              <ion-grid class="ion-no-padding">
                <div *ngIf="detailpayment.user_pay_commission">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top: 4px;">
                        <span class="description-total-text">
                          Servicio App
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total-text">
                          $ {{ priceFormatProduct(detailpayment.commission_amount) }}
                        </span>

                        <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                          {{ priceFormatTasa(priceFormatProduct(detailpayment.commission_amount * detailpayment.exchange_rate)) }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-row>
                  <ion-col size="6">
                    <ion-label style="padding-top:4px;">
                      <span class="description-total-text">
                        Subtotal
                      </span>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6" class="right-side-col">
                    <ion-label>
                      <div linespace></div>
                      <span *ngIf="currency === 'USD'" class="description-total-text">
                        $ {{ priceFormatProduct(setSubtotalCart()) }}
                      </span>

                      <span *ngIf="currency === 'Bs.S'" class="description-total-text">
                        {{ priceFormatTasa(priceFormatProduct(setSubtotalCart() * detailpayment.exchange_rate)) }}
                      </span>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <hr class="line-hr">

                <div *ngIf="detailpayment.user_pay_commission">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top: 4px;">
                        <span class="description-total">
                          <b>Total a pagar</b>
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total">
                          <b>$ {{ priceFormatProduct(setSubtotalCart() + detailpayment.commission_amount) }}</b>
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          <b>{{ _BS }}
                            {{ priceFormatTasa(priceFormatProduct((setSubtotalCart() + detailpayment.commission_amount) * detailpayment.exchange_rate)) }}</b>
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top: 4px;">
                        <span *ngIf="currency === 'USD'" class="description-total">
                          Cantidad en Bs:
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          Cantidad en USD:
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total">
                          {{ _BS }} {{ priceFormatTasa(priceFormatProduct(setSubtotalCart() + detailpayment.commission_amount) * detailpayment.exchange_rate ) }}
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          $ {{ priceFormatProduct(setSubtotalCart() + detailpayment.commission_amount) }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </div>

                <div *ngIf="!detailpayment.user_pay_commission">
                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top: 4px;">
                        <span class="description-total">
                          <b>Total a pagar</b>
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total">
                          <b>$ {{ priceFormatProduct(setSubtotalCart()) }}</b>
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          <b>{{ _BS }}
                            {{ priceFormatTasa(priceFormatProduct((setSubtotalCart()) * detailpayment.exchange_rate)) }}</b>
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-label style="padding-top: 4px;">
                        <span *ngIf="currency === 'USD'" class="description-total">
                          Cantidad en Bs:
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          Cantidad en USD:
                        </span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6" class="right-side-col">
                      <ion-label>
                        <div linespace></div>
                        <span *ngIf="currency === 'USD'" class="description-total">
                          {{ _BS }} {{ priceFormatTasa(priceFormatProduct(setSubtotalCart()) * detailpayment.exchange_rate ) }}
                        </span>
  
                        <span *ngIf="currency === 'Bs.S'" class="description-total">
                          $ {{ priceFormatProduct(setSubtotalCart()) }}
                        </span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-row style="margin-top:4px;">
                  <ion-col size="6">
                    <ion-label>
                      <span class="description-total-text">
                        Tasa de cambio
                      </span>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6" class="right-side-col">
                    <ion-label>
                      <span class="description-total-text">
                        {{ _BS }} {{ priceFormatTasa(detailpayment.exchange_rate) }}
                      </span>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="ion-text-center">
                      <span class="title-text-commerce">
                        ** Gracias por su compra **
                      </span>
                    </ion-label>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>
    </div>

    <ion-card mode="ios">
      <ion-card-content>
        <ion-list mode="ios" *ngIf="detail.status == 0" style="margin-bottom: -15px;">
          <p class="title-profile">Estatus</p>
          <div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label>
                <span>
                  <span>
                    <span *ngIf="detail.status === 0" class="status-0">
                      En espera
                    </span>
                    <span *ngIf="detail.status === 1" class="status-1">
                      Pendiente de pago
                    </span>
                    <span *ngIf="detail.status === 2" class="status-4">
                      Pago realizado
                    </span>

                    <span *ngIf="detail.status === 3" class="status-2">
                      Pago confirmado
                    </span>

                    <span *ngIf="detail.status === 4" class="status-2">
                      Pedido en preparación
                    </span>

                    <span *ngIf="detail.status === 5" class="status-2">
                      Listo para ser enviado
                    </span>

                    <div *ngIf="detail.status === 6">
                      <!-- falta status -->
                    </div>
                    <div *ngIf="detail.status === 7">
                      <!-- falta status -->
                    </div>

                    <span *ngIf="detail.status === 8" class="status-2">
                      Pedido en camino
                    </span>

                    <span *ngIf="detail.status === 9" class="status-2">
                      Pedido entregado
                    </span>

                    <span *ngIf="detail.status === 10" class="status-3">
                      Cancelado
                    </span>
                  </span>
                </span>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>

        <!-- Si el envío es Delivery -->
        <div *ngIf="detail.status != 0 && !detail.delivery">
          <p class="title-profile">Estatus</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span>
                    <span>
                      <span *ngIf="detail.status === 0" class="status-0">
                        En espera
                      </span>
                      <span *ngIf="detail.status === 1" class="status-1">
                        Pendiente de pago
                      </span>
                      <span *ngIf="detail.status === 2" class="status-4">
                        Pago realizado
                      </span>

                      <span *ngIf="detail.status === 3" class="status-2">
                        Pago confirmado
                      </span>

                      <span *ngIf="detail.status === 4" class="status-2">
                        Pedido en preparación
                      </span>

                      <span *ngIf="detail.status === 5" class="status-2">
                        Listo para ser enviado
                      </span>

                      <div *ngIf="detail.status === 6">
                        <!-- falta status -->
                      </div>
                      <div *ngIf="detail.status === 7">
                        <!-- falta status -->
                      </div>

                      <span *ngIf="detail.status === 8" class="status-2">
                        Pedido en camino
                      </span>

                      <span *ngIf="detail.status === 9" class="status-2">
                        Pedido entregado
                      </span>

                      <span *ngIf="detail.status === 10" class="status-3">
                        Cancelado
                      </span>
                    </span>
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Repartidor</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span class="description">
                    <div *ngIf="detail.delivery_man === null">
                      <span class="repartidor">
                        Por asignar
                      </span>
                    </div>
                    <div *ngIf="detail.delivery_man != null">
                      {{ selectedDeliveryMan }}
                    </div>
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>

          <div class="divider-space"></div>
          <p class="title-profile">Dirección de entrega</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span class="description">
                    {{ detail.sector }}, {{ detail.city }}, {{ detail.state }}, {{ detail.address }}
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </div>

        <!-- Si el envío es PickUp -->
        <div *ngIf="detail.status != 0 && detail.delivery">
          <p class="title-profile">Estatus</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span>
                    <span>
                      <span *ngIf="detail.status === 0" class="status-0">
                        En espera
                      </span>
                      <span *ngIf="detail.status === 1" class="status-1">
                        Pendiente de pago
                      </span>
                      <span *ngIf="detail.status === 2" class="status-4">
                        Pago realizado
                      </span>

                      <span *ngIf="detail.status === 3" class="status-2">
                        Pago confirmado
                      </span>

                      <span *ngIf="detail.status === 4" class="status-2">
                        Pedido en preparación
                      </span>

                      <span *ngIf="detail.status === 5" class="status-2">
                        Listo para ser enviado
                      </span>

                      <div *ngIf="detail.status === 6">
                        <!-- falta status -->
                      </div>
                      <div *ngIf="detail.status === 7">
                        <!-- falta status -->
                      </div>

                      <span *ngIf="detail.status === 8" class="status-2">
                        Pedido en camino
                      </span>

                      <span *ngIf="detail.status === 9" class="status-2">
                        Pedido entregado
                      </span>

                      <span *ngIf="detail.status === 10" class="status-3">
                        Cancelado
                      </span>
                    </span>
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </div>

        <div *ngIf="detail.status != 0">
          <div class="divider-space"></div>
          <p class="title-profile">Vendedor</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span class="description">
                    {{ commerce.name }}
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
          <div class="divider-space"></div>
          <p class="title-profile">Método de envío</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span class="description">
                    Retiro en el local
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </div>

        <div *ngIf="detail.status >= 2">
          <div class="divider-space"></div>
          <p class="title-profile">Método de pago</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <div *ngIf="bankdata.type === 1">
                    <span class="description">
                      Transferencia Bancaria
                    </span>
                  </div>

                  <div *ngIf="bankdata.type === 2">
                    <span class="description">
                      Pago móvil
                    </span>
                  </div>

                  <div *ngIf="bankdata.type === 3">
                    <span class="description">
                      Paypal
                    </span>
                  </div>

                  <div *ngIf="bankdata.type === 4">
                    <span class="description">
                      Zelle
                    </span>
                  </div>

                  <div *ngIf="bankdata.type === 5">
                    <span class="description">
                      Efectivo
                    </span>
                  </div>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>

          <div *ngIf="bankdata.type === 4">
            <div class="divider-space"></div>
            <p class="title-profile">Correo electrónico (Zelle)</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>
                    <span class="description">
                      {{ bankdata.email }}
                    </span>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </div>

          <div *ngIf="bankdata.type === 1 || bankdata.type === 3">
            <div class="divider-space"></div>
            <p class="title-profile">Referencia</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>
                    <span class="description">
                      {{ detailpayment.reference }}
                    </span>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </div>

          <div *ngIf="bankdata.type === 5">
            <div class="divider-space"></div>
            <p class="title-profile">Descripción de los billetes</p>
            <ion-list mode="ios">
              <div>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label>
                    <span class="description">
                      {{ detailpayment.description }}
                    </span>
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </div>
        </div>

        <div *ngIf="detail.status >= 1 && detail.note != ''">
          <div class="divider-space"></div>
          <p class="title-profile">Nota del pedido</p>
          <ion-list mode="ios">
            <div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                  <span class="description">
                    {{ detail.note }}
                  </span>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </div>

        <div class="divider-space"></div>
        <ion-list mode="ios">
          <div>
            <div *ngIf="detail.status >= 2">
              <ion-item lines="none" class="ion-no-padding paddingSlide" mode="ios">
                <ion-icon name="receipt-outline" item-start class="fattorini-btn"></ion-icon>
                <ion-button (click)="showImg(detailpayment.proof_of_payment)" expand="block" fill="clear" shape="round">
                  <span class="btn-download">
                    Previsualizar comprobante
                  </span>
                </ion-button>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>