.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
}

.collapsed {
  max-height: 0 !important;
}

ion-item {
  --background: var(--ion-color-primary);
}

.title-accordian {
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
}

ion-card.card-info {
  box-shadow: 0 3px 16px rgba(114, 114, 114, 0.1), 0 3px 6px rgba(116, 116, 116, 0.2);
}

ion-card.margin-card {
  margin-top: 0.6em;
  margin-bottom: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}