<ion-card mode="ios" class="ion-no-margin card-info paddingSlide margin-card">
  <div>
    <ion-item lines="none" button detail="false" (click)="toggleAccordion()">
      <ion-label>
        <span class="title-accordian">
          {{ title }}
        </span>
      </ion-label>
      <ion-icon slot="end" color="light" [name]="icon"></ion-icon>
    </ion-item>
  </div>
  <ion-card-content #expandWrapper>
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>