<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of dashboardOptions" (click)="onClick(item.name)" detail>
      <ion-label>
        <span class="popover-text">
          {{ item.name }}
        </span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
