.fattorini-btn {
    color: rgb(1, 9, 107);
}

.uppercase-text {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase !important;
}

.sub-menu {
    margin-top: -0.4375em;
    margin-bottom: 0.5em;
}

.top-logout {
    margin-top: -0.8125em;
}

.semibold {
    font-weight: 500;
}

ion-menu ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;

    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
    --transition: none;
}

ion-item.selected {
    --color: var(--ion-color-new);
}

/*
   * Material Design Menu
  */
ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-list-header {
    padding-left: 18px;
    padding-right: 18px;

    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 450;
}

ion-menu.md ion-item {
    --padding-start: 18px;
    margin-right: 10px;
    border-radius: 0 50px 50px 0;
    font-weight: 500;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-new), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-new);
}

ion-menu.md ion-item ion-icon {
    color: var(--ion-color-step-650, #01096b);
}

ion-menu.md ion-list:not(:last-of-type) {
    border-bottom: 1px solid var(--ion-color-step-150, #f4f4f4);
}

/*
 * iOS Menu
*/
ion-menu.ios ion-list-header {
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: 8px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #01096b;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-new);
}

a.no-color {
    color: #000;
}