<ion-menu contentId="main-content">
  <ion-content>
    <ion-list lines="none">
      <ion-list-header>
        Tienda
      </ion-list-header>

      <ion-menu-toggle autoHide="false">
        <ion-item (click)="getHome()" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="home-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Inicio
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item [routerLink]="['/category']" [queryParams]="{ hour:hour }" routerLinkActive="active"
          routerDirection="root" detail="false">
          <ion-icon slot="start" name="file-tray-full-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Categorías
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <a class="no-color paddingSlide" [href]="surl" style="text-decoration: none;">
          <ion-item routerLinkActive="active" routerDirection="root" detail="false" class="paddingSlide">
            <ion-icon slot="start" name="logo-whatsapp" class="fattorini-btn"></ion-icon>
            <ion-label class="semibold">
              Soporte
            </ion-label>
          </ion-item>
        </a>
      </ion-menu-toggle>

    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        Opciones
      </ion-list-header>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/profile" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="person-circle-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Cuenta
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/address" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="location-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Direcciones
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLinkActive="active" (click)="getOrders()" routerDirection="root" detail="false">
          <ion-icon slot="start" name="reader-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Pedidos
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLinkActive="active" [routerLink]="['/user-comments']" [queryParams]="{ hour:hour }"
          routerDirection="root" detail="false">
          <ion-icon slot="start" name="chatbubbles-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Reseñas
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item (click)="getCurrencySelector()" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="cash-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Cambio de moneda
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="logout()" detail="false">
          <ion-icon slot="start" name="log-out-outline" class="fattorini-btn"></ion-icon>
          <ion-label class="semibold">
            Cerrar sesión
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>