<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="fattorini-btn"></ion-menu-button>
      <ion-button class="badge-button paddingSlide">
        <span style="color: transparent;">hi</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="badge-button paddingSlide" [routerLink]="['/search']">
        <ion-icon slot="icon-only" name="search" class="fattorini-btn"></ion-icon>
      </ion-button>

      <div *ngIf="quantity.length === 0 || quantity.total === 0">
        <ion-button class="badge-button paddingSlide" [routerLink]="['/cart']"
          [queryParams]="{ user:user._id, currency:currency }">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="quantity.total > 0">
        <ion-button class="badge-button paddingSlide" [routerLink]="['/cart']"
          [queryParams]="{ user:user._id, currency:currency }">
          <ion-icon slot="icon-only" name="basket-outline" class="fattorini-btn"></ion-icon>
          <ion-badge mode="ios" [class.badge-one]="quantity.total < 10" [class.badge-two]="quantity.total >= 10"
            color="danger">
            {{ quantity.total }}
          </ion-badge>
        </ion-button>
      </div>
    </ion-buttons>
    <ion-title>
      <div class="logo-top">
        <img style="height: 36px;" src="../../assets/img/topbar/logofatto.svg" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="categoryArray.length === 0 && !isSkeleton" class="no-result-content">
    <div style="margin-top: 20px;">
      <ion-spinner name="crescent"></ion-spinner>
      <span class="no-result">
        Cargando productos por favor espere...
      </span>
    </div>
  </div>

  <div *ngIf="categoryArray.length > 0 && isSkeleton">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="user.city == '' || user.city == 'Desconocido'" routerLink="/profile">
      <ion-card mode="ios" style="margin: 0.9em; margin-bottom: 1.6em;" class="paddingSlide card-msg">
        <ion-item lines="none" class="info-admin">
          <ion-label>
            <span class="valid-admin-title">
              Completa tu perfil
            </span>
            <br>
            <span class="valid-admin-sub">
              Tan sólo te tomará un par de minutos y de esta forma podrás ver información de interés en tu ciudad.
              <strong style="color: #000fca;">Ir a Cuenta »</strong>
            </span>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div *ngIf="user.role === 'C'">
      <img src="../assets/img/home/banner-seller.svg" alt="" [routerLink]="['/seller']"
        [queryParams]="{ user:user._id }" class="paddingSlide">
    </div>

    <div *ngIf="slideHome.length > 0">
      <ion-slides class="calc-top bullet" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptionsHome"
        show-pager="false">
        <ion-slide *ngFor="let slide of slideHome" class="paddingSlide">
          <ion-card (click)="openWebpage(slide.link)" mode="ios" class="space-bottom">
            <ion-card-content class="ion-no-padding card-slide">
              <img [src]="slide.imagen" />
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="space-between" style="margin-top: 0.1em;">
      <p class="title-top-left">Categorías</p>
      <ion-button class="title-top-right" [routerLink]="['/category']" [queryParams]="{ hour:hour }" fill="clear">
        Ver más
      </ion-button>
    </div>

    <div *ngIf="categoryArray.length === 0">
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptionsCat" show-pager="false">
        <ion-slide *ngFor="let item of [].constructor(4)">
          <ion-card mode="ios" class="card-no-border paddingSlide">
            <ion-avatar class="avatar">
              <ion-skeleton-text animated style="height: 75px; width: 75px"></ion-skeleton-text>
            </ion-avatar>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 100%; margin-top: 15px;"></ion-skeleton-text>
            </ion-card-title>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngIf="categoryArray.length > 0">
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptionsCat" show-pager="false">
        <ion-slide *ngFor="let slide of categoryArray">
          <ion-card mode="ios" class="card-no-border paddingSlide" [routerLink]="['/list-commerce']"
            [queryParams]="{ category:slide.category._id, user:user._id, hour:hour, currency:currency }">
            <ion-avatar class="avatar">
              <img [src]="slide.category.picsecond" />
            </ion-avatar>
            <p class="text-subtitle-cat"> {{slide.category.name}} </p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>


    <div *ngIf="promos.length > 0">
      <div class="space-between">
        <p class="title-top-left">Artículos destacados</p>
        <ion-button class="title-top-right" [routerLink]="['/promotion']" [queryParams]="{ hour:hour }" fill="clear">
          Ver más
        </ion-button>
      </div>

      <div *ngIf="promos.length === 0">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
          <ion-slide *ngFor="let item of [].constructor(4)">
            <ion-card mode="ios" class="radius-card-skeleton paddingSlide">
              <ion-skeleton-text animated style="height: 90px; width: 700px; margin-top: -1px"></ion-skeleton-text>
              <ion-card-header class="ion-text-center">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-skeleton-text animated style="width: 100%; margin-top: -5px;"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div *ngIf="promos.length > 0">
      <ion-slides class="no-bullets" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let item of promos">
          <ion-card mode="ios" class="radius-card-search paddingSlide">
            <div *ngIf="item.stock_status">
              <img [src]="item.picture[0]" [routerLink]="['/detail-product', item._id, item.commerce._id, item.menu._id]"
              [queryParams]="{ hour:hour, user:user._id, currency:currency }" class="paddingSlide" />
            </div>
            <div *ngIf="!item.stock_status" class="opacity-false">
              <img [src]="item.picture[0]" [routerLink]="['/detail-product', item._id, item.commerce._id, item.menu._id]"
              [queryParams]="{ hour:hour, user:user._id, currency:currency }" class="paddingSlide" />
            </div>
            <ion-card-header [routerLink]="['/detail-product', item._id, item.commerce._id, item.menu._id]"
              [queryParams]="{ hour:hour, user:user._id }" class="paddingSlide">
              <ion-card-subtitle class="text-product-menu">{{item.menu.name}}</ion-card-subtitle>
              <ion-card-title [innerHTML]="item.name" class="text-product-name"></ion-card-title>
              <ion-label style="text-align: left;">

                <div *ngIf="currency === 'USD'">
                  <!-- PRODUCTO EN OFERTA -->
                  <div *ngIf="item.offer && item.stock_status">
                    <!-- Precio original -->
                    <div *ngIf="item.pricebykg">
                      <!-- Precio original -->
                      <span class="text-product-offer">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                      <br>
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        ${{ priceFormat((item.price + item.calculated_iva) - ((item.price + item.calculated_iva) * (item.offerpercent / 100))) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <!-- Precio original -->
                      <span class="text-product-offer">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                      <br>
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        ${{ priceFormat((item.price + item.calculated_iva) - ((item.price + item.calculated_iva) * (item.offerpercent / 100))) }}
                      </span>
                    </div>
                  </div>

                  <div *ngIf="item.offer && !item.stock_status">
                    <span class="text-product-stock-nd">
                      Agotado
                    </span>
                  </div>

                  <!-- PRODUCTO SIN OFERTA -->
                  <div *ngIf="!item.offer && item.stock_status">
                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        ${{ priceFormat(item.price + item.calculated_iva) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        ${{ priceFormat(item.price + item.calculated_iva) }}
                      </span>
                    </div>
                  </div>

                  <div *ngIf="!item.offer && !item.stock_status">
                    <span class="text-product-stock-nd">
                      Agotado
                    </span>
                  </div>
                </div>

                <div *ngIf="currency === 'Bs.S'">
                  <!-- PRODUCTO EN OFERTA -->
                  <div *ngIf="item.offer && item.stock_status">
                    <!-- Precio original -->
                    <span class="text-product-offer">
                      {{ _BS }} {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}
                    </span>

                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        {{ _BS }}
                        {{ priceFormatTasa((getOffer(priceFormat(item.price + item.calculated_iva), item.offerpercent)) * item.exchange_rate) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        <!-- Precio en oferta -->
                        {{ _BS }}
                        {{ priceFormatTasa((getOffer(priceFormat(item.price + item.calculated_iva), item.offerpercent)) * item.exchange_rate) }}
                      </span>
                    </div>
                  </div>

                  <div *ngIf="item.offer && !item.stock_status">
                    <span class="text-product-stock-nd">
                      Agotado
                    </span>
                  </div>

                  <!-- PRODUCTO SIN OFERTA -->
                  <div *ngIf="!item.offer">
                    <div *ngIf="item.pricebykg">
                      <span class="text-product-price-related">
                        {{ _BS }} {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}/Kg
                      </span>
                    </div>

                    <div *ngIf="!item.pricebykg">
                      <span class="text-product-price-related">
                        {{ _BS }} {{ priceFormatTasa(priceFormat(item.price + item.calculated_iva) * item.exchange_rate) }}
                      </span>
                    </div>
                  </div>
                </div>
              </ion-label>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>


    <div *ngIf="popular.length > 0">
      <div class="space-between">
        <p class="title-top-left">Mejor calificadas</p>
        <ion-button class="title-top-right" [routerLink]="['/toprated']" [queryParams]="{ hour:hour }" fill="clear">
          Ver más
        </ion-button>
      </div>

      <div *ngIf="popular.length === 0">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
          <ion-slide *ngFor="let item of [].constructor(4)">
            <ion-card mode="ios" class="radius-card-skeleton paddingSlide">
              <ion-skeleton-text animated style="height: 90px; width: 700px; margin-top: -1px"></ion-skeleton-text>
              <ion-card-header class="ion-text-center">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-skeleton-text animated style="width: 100%; margin-top: -5px;"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div *ngIf="popular.length > 0">
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let slide of popular">
          <ion-card mode="ios" class="radius-card-search paddingSlide" [routerLink]="['/detail-commerce']"
            [queryParams]="{ id:slide.commerce._id, hour:hour, user:user._id, currency:currency }">
            <img [src]="slide.commerce.picture" />
            <ion-card-header>
              <ion-card-subtitle class="schedule-text" *ngIf="!slide.open">
                <ion-icon name="time" item-start class="close"></ion-icon>
                <ion-label>
                  Cerrado
                </ion-label>

              </ion-card-subtitle>
              <ion-card-subtitle class="schedule-text" *ngIf="slide.open">
                <ion-icon name="time" item-start class="open"></ion-icon>
                <ion-label>
                  Abierto
                </ion-label>
              </ion-card-subtitle>

              <ion-card-subtitle class="text-subtitle-commerce">{{slide.commerce.category.name}}</ion-card-subtitle>
              <ion-card-title [innerHTML]="slide.commerce.name" class="text-title-commerce"></ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-rating">
              <div *ngIf="slide.commerce.total_comments > 0">
                <ion-label>{{slide.commerce.score}} &nbsp;</ion-label>
                <ion-icon name="star" class="fattorini-rating"></ion-icon>
                <ion-label>&nbsp; ({{ slide.commerce.total_comments }})</ion-label>
              </div>

              <div *ngIf="slide.commerce.total_comments == 0">
                <ion-label>{{slide.commerce.score}} &nbsp;</ion-label>
                <ion-icon name="star" class="fattorini-rating"></ion-icon>
                <ion-label>&nbsp; (0)</ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngIf="listCommerceCity.length > 0">
      <div class="space-between">
        <p class="title-top-left space-top">Tiendas en tu ciudad</p>
        <ion-button class="title-top-right" [routerLink]="['/vendorcity']" [queryParams]="{ hour:hour }" fill="clear">
          Ver más
        </ion-button>
      </div>

      <div *ngIf="listCommerceCity.length === 0 && isSkeleton">
        <p class="no-result">No hay comercios registrados para tu ciudad</p>
      </div>

      <div *ngIf="listCommerceCity.length === 0 && !isSkeleton">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
          <ion-slide *ngFor="let item of [].constructor(4)">
            <ion-card mode="ios" class="radius-card-skeleton paddingSlide">
              <ion-skeleton-text animated style="height: 90px; width: 700px; margin-top: -1px"></ion-skeleton-text>
              <ion-card-header class="ion-text-center">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-skeleton-text animated style="width: 100%; margin-top: -5px;"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div *ngIf="listCommerceCity.length > 0 && isSkeleton">
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let cc of listCommerceCity">
          <ion-card mode="ios" class="radius-card-search paddingSlide" [routerLink]="['/detail-commerce']"
            [queryParams]="{ id:cc.commerce._id, hour:hour, user:user._id, currency:currency }">
            <img [src]="cc.commerce.picture" />
            <ion-card-header>
              <ion-card-subtitle class="schedule-text" *ngIf="!cc.open">
                <ion-icon name="time" item-start class="close"></ion-icon>
                <ion-label>
                  Cerrado
                </ion-label>

              </ion-card-subtitle>
              <ion-card-subtitle class="schedule-text" *ngIf="cc.open">
                <ion-icon name="time" item-start class="open"></ion-icon>
                <ion-label>
                  Abierto
                </ion-label>
              </ion-card-subtitle>

              <ion-card-subtitle class="text-subtitle-commerce">{{cc.commerce.category.name}}</ion-card-subtitle>
              <ion-card-title [innerHTML]="cc.commerce.name" class="text-title-commerce"></ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-rating">
              <ion-label>{{cc.commerce.score}} &nbsp;</ion-label>
              <ion-icon name="star" class="fattorini-rating"></ion-icon>
              <ion-label>&nbsp; ({{ cc.commerce.total_comments }})</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>


    <div *ngIf="listCommerceState.length > 0">
      <div class="space-between">
        <p class="title-top-left">Te puede interesar en {{ ip.region }} </p>
        <!--     <ion-button class="title-top-right" routerLink="/edit" fill="clear">
        Ver más
      </ion-button> -->
      </div>

      <div *ngIf="listCommerceState.length === 0">
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
          <ion-slide *ngFor="let item of [].constructor(4)">
            <ion-card mode="ios" class="radius-card-skeleton paddingSlide">
              <ion-skeleton-text animated style="height: 90px; width: 700px; margin-top: -1px"></ion-skeleton-text>
              <ion-card-header class="ion-text-center">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-skeleton-text animated style="width: 100%; margin-top: -5px;"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div *ngIf="listCommerceState.length > 0">
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let cs of listCommerceState">
          <ion-card mode="ios" class="radius-card-search paddingSlide" [routerLink]="['/detail-commerce']"
            [queryParams]="{ id:cs.commerce._id, hour:hour, user:user._id, currency:currency }">
            <img [src]="cs.commerce.picture" />
            <ion-card-header>
              <ion-card-subtitle class="schedule-text" *ngIf="!cs.open">
                <ion-icon name="time" item-start class="close"></ion-icon>
                <ion-label>
                  Cerrado
                </ion-label>

              </ion-card-subtitle>
              <ion-card-subtitle class="schedule-text" *ngIf="cs.open">
                <ion-icon name="time" item-start class="open"></ion-icon>
                <ion-label>
                  Abierto
                </ion-label>
              </ion-card-subtitle>

              <ion-card-subtitle class="text-subtitle-commerce">{{cs.commerce.category.name}}</ion-card-subtitle>
              <ion-card-title [innerHTML]="cs.commerce.name" class="text-title-commerce"></ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-rating">
              <div *ngIf="cs.commerce.total_comments > 0">
                <ion-label>{{cs.commerce.score}} &nbsp;</ion-label>
                <ion-icon name="star" class="fattorini-rating"></ion-icon>
                <ion-label>&nbsp; ({{ cs.commerce.total_comments }})</ion-label>
              </div>

              <div *ngIf="cs.commerce.total_comments == 0">
                <ion-label>{{cs.commerce.score}} &nbsp;</ion-label>
                <ion-icon name="star" class="fattorini-rating"></ion-icon>
                <ion-label>&nbsp; (0)</ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>