ion-toolbar {
    --ion-toolbar-background: var(--ion-color-contrast);
    --ion-toolbar-color: var(--ion-color-contrast);
}

.fattorini-btn {
    color: rgb(1, 9, 107);
}

.fattorini-btn-light {
    color: rgb(255, 255, 255);
}

.currency {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}

/* Si el usuario tiene status inactivo 
    BEGIN*/
[linespace] {
    margin-top: 2em;
}

.no-result-text {
    color: #666;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.no-result-content {
    margin-top: 1em;
    text-align: center;
}

ion-icon.tam {
    color: #01096b;
    width: 90px;
    height: 90px;
}

/* END */

.uppercase-text {
    font-weight: 500;
    text-transform: uppercase !important;
}

.radius-card-search {
    border-radius: 18px;
}

ion-card.card-no-border {
    box-shadow: none !important;
}

.radius-card-skeleton {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.text-title-cat {
    font-size: 1em;
    font-weight: 500;
    margin-top: -0.75em;
    /*     overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

.text-subtitle-cat {
    font-weight: 500;
    font-size: 0.9em;
    color: #222;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.avatar {
    margin: auto;
    width: 75px;
    height: 75px;
}

.space-between {
    margin-top: -6px;
    display: flex;
    justify-content: space-between;
}

.title-top-left {
    color: #999;
    text-transform: uppercase;
    padding-left: 1em;
    font-size: 0.938em; //15px
    font-weight: 500;
    margin-bottom: -0.5em;
}

.title-top-right {
    color: #222;
    text-transform: uppercase;
    padding-top: 6px;
    font-size: 0.85em;
    color: #222;
    font-weight: 600;
    margin-bottom: -0.5em;
}

.opacity-false {
    opacity: 0.5;
}

.text-product-stock-nd {
    font-size: 1em;
    font-weight: 500;
    color: #eb445a;
}

.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
}

.badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
}

.card-slide-skeleton {
    margin-bottom: -8px;
    margin-top: -8px;
}

.fattorini-rating {
    color: rgb(255, 202, 34);
}

.text-rating {
    font-size: 0.9em;
    font-weight: 400;
    margin-top: -8px;
    text-align: left;
}

.text-subtitle-commerce {
    font-size: .8em;
    font-weight: 400;
    margin-top: -0.75em;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-title-commerce {
    font-size: 1.1em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

ion-button:focus {
    outline: none !important;
}

.open {
    color: rgb(4, 208, 85);
    font-size: 1.3em;
    margin-right: 0.2em;
}

.close {
    color: rgb(255, 77, 100);
    font-size: 1.3em;
    margin-right: 0.2em;
}

ion-card-subtitle.schedule-text {
    margin-top: -0.5em;
    font-weight: 500;
    font-size: 1.1em;
    color: #696969;
    text-transform: initial;
    margin-bottom: 1.1em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.no-result {
    color: #999;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.space-top {
    margin-top: 1.5em;
}

.card-slide {
    margin-bottom: -8px;
}

ion-slides.bullet {
    --bullet-background: #fc3c3d;
    --bullet-background-active: #fc3c3d;
}

ion-spinner {
    display: block;
    margin: auto;
}

.space-bottom {
    margin-bottom: 2.5em;
}

.text-product-price-related {
    font-weight: 600;
    font-size: 1em;
    //color: rgb(1, 9, 107);
    color: #01096b;
}

.text-product-offer {
    font-weight: 400;
    color: #999;
    font-size: 1em;
    text-decoration: line-through !important;
}

.text-product-name {
    font-size: 1em;
    font-weight: 500;
    color: #222;
    text-align: left;
    margin-bottom: 0.5em;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.text-product-menu {
    text-align: left;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: -0.75em;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.valid-admin-sub {
    font-size: 0.85em;
    font-weight: 400;
    font-weight: #333;
    white-space: normal;
}

.valid-admin-title {
    font-size: 0.9em;
    font-weight: 500;
}

ion-item.info-admin {
    --background: #fffbe6 !important;
    border: 1px solid #ffe58f;
}

ion-card.card-msg {
    box-shadow: 0 1px 1px rgba(114, 114, 114, 0), 0 1px 1px rgba(116, 116, 116, 0);
    border-radius: 0px;
}