<ion-header>
  <ion-toolbar>
    <ion-title>{{profile.name}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="fattorini-btn" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Primera carga al entrar -->
<ion-content>
  <div *ngIf="data.length === 0 && !isSkeleton">
    <ion-skeleton-text class="banner" animated style="height: 187px; width: 100%; margin-top: -1px;">
    </ion-skeleton-text>
    <ion-list>
      <ion-item lines="none">
        <ion-skeleton-text animated style="height: 70px; width: 70px; border-radius: 100%;"></ion-skeleton-text>
        <ion-label class="text-header-info">
          <ion-skeleton-text animated style="width: 50%; margin-left: 20px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%; margin-left: 20px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%; margin-left: 20px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list style="margin-bottom: 0.8em; margin-top: 0.8em;">
        <ion-item lines="none">
          <ion-label class="text-header-info">
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <div style="margin-top: 1.6em;">
      <ion-skeleton-text animated style="width: 90%; margin-left: 20px;"></ion-skeleton-text>
      <ion-card *ngFor="let item of [].constructor(5)" mode="ios">
        <ion-list style="margin-bottom: 0.8em; margin-top: 0.8em;">
          <ion-item lines="none">
            <ion-skeleton-text animated style="height: 70px; width: 70px;"></ion-skeleton-text>
            <ion-label class="text-header-info">
              <ion-skeleton-text animated style="width: 50%; margin-left: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 90%; margin-left: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 70%; margin-left: 20px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 30%; margin-left: 20px;"></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </div>
  <!-- Una vez cargado el componente y la data -->
  <div *ngIf="isSkeleton">
    <ion-img class="banner" [src]="profile.banner"></ion-img>
    <ion-list style="margin-bottom: 0.8em;">
      <ion-item lines="none" style="margin-top: 0.3em;" class="paddingSlide" [routerLink]="['/reviews']"
        [queryParams]="{ id:profile._id }" detail>
        <ion-thumbnail slot="start">
          <ion-img [src]="profile.picture"></ion-img>
        </ion-thumbnail>
        <ion-label class="text-header-info">
          <span class="text-subtitle-commerce">{{category.name}} </span>
          <br>
          <span class="text-title-commerce">{{profile.name}}</span>
          <br>
          <div *ngIf="profile.total_comments == 0">
            <span class="text-rating">{{ profile.score }} &nbsp;
              <ion-icon name="star" class="fattorini-rating"></ion-icon>
              &nbsp; (No hay reseñas)
            </span>
          </div>
          <div *ngIf="profile.total_comments > 0">
            <span class="text-rating">{{ profile.score }} &nbsp;
              <ion-icon name="star" class="fattorini-rating"></ion-icon>
              &nbsp; ({{ profile.total_comments }} {{ profile.total_comments > 1?'calificaciones':'calificación' }})
            </span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Mostrar información del negocio -->
    <ion-card mode="ios" style="margin: 0.9em;" class="paddingSlide card-info">
      <ion-list>
        <ion-item lines="none" style="margin-top: 0.5em;">
          <ion-label class="text-title-commerce fattorini-btn">
            Información de la tienda
          </ion-label>
        </ion-item>

        <div *ngIf="open">
          <ion-item lines="none" style="margin-top: -0.3em;">
            <ion-icon name="time" item-start class="open"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top-bold">
                Abierto ahora
              </span>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="!open">
          <ion-item lines="none" style="margin-top: -0.3em;">
            <ion-icon name="time" item-start class="close"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top-bold">
                Cerrado ahora
              </span>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="schedule.length > 0">
          <ion-item *ngFor="let horario of schedule" lines="none">
            <ion-icon name="calendar-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                {{ horario.days }} <br> {{ horario.time }} <br>
              </span>
            </ion-label>
          </ion-item>
        </div>

        <ion-item *ngIf="profile.address != '' && profile.address != 'Desconocido'" lines="none">
          <ion-icon name="location-outline" item-start class="fattorini-btn"></ion-icon>
          <ion-label class="text-header-info space">
            <span class="text-info-top">
              {{profile.address}}, {{profile.city}}, {{profile.state}}
            </span>
          </ion-label>
        </ion-item>
        <div *ngIf="profile.description != '' && profile.description != 'Desconocido'">
          <ion-item lines="none">
            <ion-icon name="book-outline" item-start class="fattorini-btn"></ion-icon>
            <ion-label class="text-header-info space">
              <span class="text-info-top">
                {{profile.description}}
              </span>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>

      <ion-list style="margin-bottom: 1em;">
        <ion-item lines="none" detail class="paddingSlide" [routerLink]="['/tarifas']"
          [queryParams]="{ id:profile._id }">
          <ion-icon name="bicycle-outline" item-start class="fattorini-btn"></ion-icon>
          <ion-label class="text-header-info space">
            <span class="text-info-top-bold">
              Tarifas y Zonas de envío
            </span>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <!-- Mostrar menú -->
    <ion-grid>
      <ion-row>
        <ion-col class="padding-title">
          <div class="ion-text-start">
            <span class="title-home-dark">Men&uacute;</span>
            <div linespace></div>
            <!-- <span class="subtitle-home"></span> -->
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-searchbar class="searchbar-input" placeholder="¿Qué estás buscando?" (ionChange)="buscar($event)"
            [debounce]="250">
          </ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="menu.length === 0 && !isSkeleton">
      <p class="no-result space-bt">No hay menús creados por el comercio actualmente </p>
    </div>

    <div *ngIf="menu.length > 0 && isSkeleton">
      <!-- Si no hay resultados en la búsqueda -->
      <div *ngIf="(menu | filtromenu: textoBuscar).length === 0">
        <p class="no-result">No hay resultados para tu búsqueda.</p>
      </div>
      <div style="margin-top: -18px; margin-bottom: 25px;">
        <div *ngFor="let m of menu | filtromenu: textoBuscar">
          <ion-card *ngIf="m.status" (click)="filtrarmenu(m._id)" class="paddingSlide animated fadeIn fast" mode="ios"
            style="margin-left: 0.9em; margin-right: 0.9em;">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img class="radius" [src]="m.image" />
                </ion-col>
                <ion-col size="9">
                  <div class="contenedor">
                    <ion-label>
                      <div>
                        <span class="text-title-menu">
                          {{m.name}}
                        </span>
                        <br>
                        <span class="text-subtitle-menu">
                          <!-- {{m.count}} {{ m.count > 1?'productos':'producto' }}s -->
                          {{ m.description }}
                        </span>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>

    </div>

    <!--     <div *ngIf="products.length > 0">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreProducts($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->

  </div>
</ion-content>